Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

fix errors
  go.mod
  go.sum
  pkg/types/signature_counts.go
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

fix tests
  x/monitoringc/types/message_create_client_test.go
Due: modules

feat: import `fundraising` module (#440)
  app/app.go
  config.yml
  go.mod
  go.sum
Due: none

fix spntypes errors
  go.mod
  go.sum
  proto/monitoringp/params.proto
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

gosum
  go.sum
Due: none

Update x/monitoringc/module.go
  x/monitoringc/module.go
Due: none

remove unnecessary handlers
  x/monitoringp/module_ibc.go
  x/monitoringp/types/errors.go
Due: modules

Add connection channel ID singleton
  proto/monitoringp/connection_channel_id.proto
  x/monitoringp/client/cli/query_connection_channel_id.go
  x/monitoringp/client/cli/query_connection_channel_id_test.go
  x/monitoringp/keeper/connection_channel_id.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/grpc_query_connection_channel_id.go
  x/monitoringp/keeper/grpc_query_connection_channel_id_test.go
  x/monitoringp/types/connection_channel_id.pb.go
Due: modules, client

Add connection channel ID singleton 2
  proto/monitoringp/genesis.proto
  proto/monitoringp/query.proto
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringp/client/cli/query.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
Due: modules, client

set IBC expected keepers
  testutil/keeper/initializer.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/types/expected_keepers.go
Due: modules

handshake logic
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/types/errors.go
Due: modules

test for handshakes
  testutil/keeper/monitoring_provider.go
  x/monitoringp/keeper/handshake_test.go
Due: modules

lint
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
Due: modules

add handshake conditions
  x/monitoringp/keeper/keeper.go
  x/monitoringp/module_ibc.go
Due: modules

feat: initialize types for monitoring (#464)
  pkg/types/consensus_state.go
  pkg/types/consensus_state_test.go
  pkg/types/ibc.pb.go
  pkg/types/monitoring.pb.go
  pkg/types/signature_counts.go
  pkg/types/signature_counts_test.go
  pkg/types/validator_set.go
  pkg/types/validator_set_test.go
  proto/monitoringc/tx.proto
  proto/monitoringp/params.proto
  proto/types/ibc.proto
  proto/types/monitoring.proto
  testutil/sample/monitoring.go
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
  x/monitoringc/types/tx.pb.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

remove query test
  x/monitoringp/client/cli/query_connection_channel_id_test.go
Due: client

scaffold structure
  proto/monitoringc/launch_id_from_channel_id.proto
  x/monitoringc/client/cli/query_launch_id_from_channel_id.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_channel_id.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/types/key_launch_id_from_channel_id.go
  x/monitoringc/types/launch_id_from_channel_id.pb.go
Due: modules, client

fix tests
  proto/monitoringc/genesis.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
  x/monitoringp/types/genesis_test.go
Due: modules, client

add registration in handshake
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
Due: modules

proto/monitoringc/launch_id_from_channel_id.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id_test.go
Due: modules

improve code
  proto/monitoringc/launch_id_from_channel_id.proto
Due: none

last block height param proto
  proto/monitoringp/params.proto
  x/monitoringp/types/params.pb.go
Due: modules

param validation
  x/monitoringp/types/params.go
Due: modules

add params tests
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params_test.go
Due: modules, client

add param keeper methods
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
Due: modules

proto generation
  proto/monitoringc/params.proto
  proto/monitoringp/params.proto
  x/monitoringc/types/params.pb.go
  x/monitoringp/types/params.pb.go
Due: modules

add param for monitoring provider
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/params.go
Due: modules

param for monitoring consumer
  x/monitoringc/keeper/params.go
  x/monitoringc/keeper/params_test.go
  x/monitoringc/types/params.go
  x/monitoringp/keeper/params_test.go
Due: modules

new handshake logic
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/params.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/types/params.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
Due: modules, client

new tests consumer handshake
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
Due: modules

fix tests
  x/monitoringp/types/genesis_test.go
Due: modules

add keeper initialization
  testutil/keeper/keeper.go
Due: none

add validator key arg
  go.mod
  go.sum
  pkg/types/bytes.go
  pkg/types/bytes_test.go
  pkg/types/validator_key.go
  pkg/types/validator_key_test.go
  proto/profile/tx.proto
  testutil/keeper/keeper.go
  x/campaign/types/key_campaign_chains.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
  x/launch/types/key_chain.go
  x/launch/types/key_genesis_account.go
  x/launch/types/key_genesis_validator.go
  x/launch/types/key_request.go
  x/launch/types/key_vesting_account.go
  x/launch/types/keys.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringp/types/genesis_test.go
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/types/errors.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/signature.go
  x/profile/types/signature_test.go
  x/profile/types/tx.pb.go
Due: modules, client

feat(`monitoringp`): initialize `LastBlockHeight` param (#470)
  proto/monitoringp/params.proto
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules, client

Starport initialization
  app/app.go
  proto/reward/genesis.proto
  proto/reward/params.proto
  proto/reward/query.proto
  proto/reward/tx.proto
  testutil/keeper/reward.go
  x/reward/client/cli/query.go
  x/reward/client/cli/query_params.go
  x/reward/client/cli/tx.go
  x/reward/genesis.go
  x/reward/genesis_test.go
  x/reward/handler.go
  x/reward/keeper/grpc_query.go
  x/reward/keeper/grpc_query_params.go
  x/reward/keeper/grpc_query_params_test.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server.go
  x/reward/keeper/msg_server_test.go
  x/reward/keeper/params.go
  x/reward/keeper/params_test.go
  x/reward/module.go
  x/reward/module_simulation.go
  x/reward/simulation/simap.go
  x/reward/types/codec.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/genesis.go
  x/reward/types/genesis.pb.go
  x/reward/types/genesis_test.go
  x/reward/types/keys.go
  x/reward/types/params.go
  x/reward/types/params.pb.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/reward/types/tx.pb.go
  x/reward/types/types.go
Due: modules

change order
  app/app.go
Due: none

add reward dep for monitoring
  app/app.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/types/expected_keepers.go
  x/reward/types/errors.go
Due: modules

create validator signature helpers and fix the logic
  pkg/types/validator_key.go
  pkg/types/validator_key_test.go
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/simulation/simulation.go
  x/profile/types/errors.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/signature_test.go
  x/profile/types/tx.pb.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
