Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

remove empty line
  x/reward/keeper/msg_server_set_reward_test.go
Due: modules

finish checks for active coord
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
Due: modules

fix simulation
  x/campaign/simulation/simulation.go
  x/campaign/types/expected_keepers.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/profile/simulation/simulation.go
Due: modules

fix sim tests
  x/campaign/simulation/simulation_test.go
  x/launch/simulation/store.go
  x/profile/simulation/simulation.go
  x/profile/simulation/simulation_test.go
Due: modules

improve unit tests and add more test cases
  x/reward/keeper/msg_server_set_reward_test.go
Due: modules

add unit tests for `CmdShowVerifiedClientIds` command and use the same project standard for query names
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/monitoringc/keeper/grpc_query_verified_client_ids.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

Apply suggestions from code review
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/keeper/grpc_query_monitoring_history_test.go
  x/monitoringc/keeper/monitoring_history.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/types/key_monitoring_history.go
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/module.go
Due: modules, client

fix error
  x/monitoringc/types/key_monitoring_history.go
  x/monitoringc/types/query.pb.go
Due: modules

go import sort
  x/monitoringc/keeper/msg_server_test.go
Due: modules

fix tests
  x/monitoringc/keeper/grpc_query_monitoring_history_test.go
  x/monitoringc/keeper/monitoring_history_test.go
Due: modules

feat(monitoringc): add unit tests for CmdShowVerifiedClientIds (#501)
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/monitoringc/keeper/grpc_query_verified_client_ids.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

remove refundRewards method
  x/reward/keeper/reward.go
Due: modules

add balance check for DistributeReward method
  testutil/keeper/initializer.go
  x/reward/keeper/reward_test.go
Due: modules

refactor Active field
  proto/profile/coordinator.proto
  testutil/sample/profile.go
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/simulation/simulation.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/invariants.go
  x/profile/keeper/invariants_test.go
  x/profile/keeper/msg_server_create_coordinator.go
  x/profile/keeper/msg_server_create_coordinator_test.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/keeper/msg_server_disable_coordinator_test.go
  x/profile/keeper/msg_server_update_coordinator_address.go
  x/profile/keeper/msg_server_update_coordinator_description.go
  x/profile/simulation/simulation.go
  x/profile/simulation/simulation_test.go
  x/profile/types/coordinator.pb.go
Due: modules

merge queries
  x/monitoringc/client/cli/query.go
Due: none

feat(`monitoringc`): add `CheckValidatorSet` in `MsgCreateClient` (#499)
  testutil/keeper/keeper.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringc/keeper/msg_server_test.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringp/keeper/consumer_client_test.go
Due: modules

launch active coord testing
  testutil/sample/profile.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/launch/simulation/store_test.go
Due: modules

Add genesis validation for monitoring consumer module
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis_test.go
Due: modules

profile testing
  x/profile/keeper/msg_server_update_coordinator_address_test.go
  x/profile/keeper/msg_server_update_coordinator_description_test.go
Due: modules

remove redundant checks
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
Due: modules

use the consensusAddress as a byte array
  proto/profile/query.proto
  proto/profile/validator.proto
  testutil/sample/sample.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/profile/client/cli/query_consensus_key_nonce.go
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/client/cli/query_validator_by_cons_address.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/keeper/consensus_key_nonce.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/types/genesis_test.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
  x/reward/keeper/msg_server_test.go
  x/reward/keeper/reward_pool.go
  x/reward/keeper/reward_pool_test.go
  x/reward/keeper/reward_test.go
  x/reward/types/expected_keepers.go
Due: modules, client

fix unit tests for TestMsgSetValidatorConsAddress
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
Due: modules

fix genesis tests
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
Due: modules

user consensus pub key as a byte
  proto/profile/query.proto
  proto/profile/validator.proto
  testutil/sample/sample.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/profile/client/cli/query_consensus_key_nonce.go
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/client/cli/query_validator_by_cons_address.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/keeper/consensus_key_nonce.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
  x/reward/keeper/reward_pool_test.go
Due: modules, client

fix typo for unit tests
  x/profile/types/genesis_test.go
Due: modules

fix merge error
  x/reward/keeper/msg_server_test.go
Due: modules

feat(reward): Implement `MsgSetRewards` message (#487)
  app/app.go
  proto/reward/tx.proto
  testutil/keeper/initializer.go
  x/monitoringp/types/expected_keepers.go
  x/profile/types/errors.go
  x/reward/client/cli/tx.go
  x/reward/client/cli/tx_set_reward.go
  x/reward/handler.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/msg_server_test.go
  x/reward/module_simulation.go
  x/reward/simulation/set_reward.go
  x/reward/types/codec.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/message_set_reward.go
  x/reward/types/message_set_reward_test.go
  x/reward/types/reward_pool.go
  x/reward/types/tx.pb.go
Due: modules

fix merge error
  x/reward/types/expected_keepers.go
Due: modules

feat(reward): Implement `DistributeRewards` method (#488)
  proto/profile/query.proto
  proto/profile/validator.proto
  testutil/keeper/initializer.go
  testutil/sample/sample.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/profile/client/cli/query_consensus_key_nonce.go
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/client/cli/query_validator_by_cons_address.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/keeper/consensus_key_nonce.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
  x/reward/keeper/reward.go
  x/reward/keeper/reward_pool.go
  x/reward/keeper/reward_pool_test.go
  x/reward/keeper/reward_test.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
Due: modules, client

call distribute rewards
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/types/expected_keepers.go
  x/reward/types/errors.go
Due: modules

add mnemonic everywhere
  config.yml
Due: none

remove coordByAddress on disable
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/keeper/msg_server_disable_coordinator_test.go
  x/profile/keeper/msg_server_update_coordinator_address_test.go
  x/profile/keeper/msg_server_update_coordinator_description_test.go
Due: modules

create GetActiveCoordinatorByAddress
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/simulation/simulation.go
  x/launch/types/expected_keepers.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_by_address_test.go
Due: modules

goimports added to format
  Makefile
Due: none

upgrade lint
  .github/workflows/test-lint.yml
  .golangci.yml
Due: none

chore: goimports added to format (#509)
  Makefile
Due: none

upgrade lint (#510)
  .github/workflows/test-lint.yml
  .golangci.yml
Due: none

init events.proto
  proto/launch/events.proto
Due: none
