Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

fix monitoring packet
  go.mod
  go.sum
  pkg/types/monitoring_packet.go
Due: none

fix nano timestamp
  go.mod
  go.sum
  x/monitoringp/keeper/begin_block.go
Due: modules

add set reward message
  app/app.go
  proto/reward/tx.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/monitoringp/types/expected_keepers.go
  x/profile/types/errors.go
  x/reward/client/cli/tx.go
  x/reward/client/cli/tx_set_reward.go
  x/reward/handler.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/msg_server_test.go
  x/reward/module_simulation.go
  x/reward/simulation/set_reward.go
  x/reward/types/codec.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/message_set_reward.go
  x/reward/types/message_set_reward_test.go
  x/reward/types/reward_pool.go
  x/reward/types/tx.pb.go
Due: modules

create monitoring history map
  proto/monitoringc/genesis.proto
  proto/monitoringc/monitoring_history.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_monitoring_history.go
  x/monitoringc/keeper/grpc_query_monitoring_history_test.go
  x/monitoringc/keeper/monitoring_history.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/key_monitoring_history.go
  x/monitoringc/types/monitoring_history.pb.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
  x/monitoringp/keeper/begin_block.go
Due: modules, client

add monitoring history to recv
  go.mod
  go.sum
  proto/monitoringc/monitoring_history.proto
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/types/monitoring_history.pb.go
Due: modules

disable channel ordering
  x/monitoringc/module_ibc.go
  x/monitoringp/module_ibc.go
Due: modules

set back ordering
  x/monitoringc/module_ibc.go
  x/monitoringp/module_ibc.go
Due: modules

add unit tests for `MsgSetReward`
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/msg_server_test.go
  x/reward/types/errors.go
Due: modules

fix cli args index
  x/reward/client/cli/tx_set_reward.go
Due: none

remove unused expected keepers
  x/reward/types/expected_keepers.go
Due: modules

start the `DistributeRewards` method
  x/reward/keeper/reward.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
Due: modules

improve the error message for the SetBalance method
  x/reward/keeper/msg_server_set_reward.go
Due: modules

fix capability
  app/app.go
  x/monitoringc/module_ibc.go
  x/monitoringp/module_ibc.go
Due: modules

disable version
  x/monitoringc/types/keys.go
  x/monitoringp/types/keys.go
Due: none

json marshal packet
  x/monitoringp/keeper/monitoring_packet.go
Due: modules

refactor monitoring packet
  pkg/types/monitoring.pb.go
  proto/monitoringc/packet.proto
  proto/monitoringp/packet.proto
  proto/types/monitoring.proto
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/packet.pb.go
  x/monitoringp/keeper/monitoring_packet.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/packet.pb.go
Due: modules

packet json marshaling
  x/monitoringc/module_ibc.go
  x/monitoringp/module_ibc.go
Due: modules

lint
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/module_ibc.go
Due: modules

add comment for existing issues
  x/monitoringc/module_ibc.go
  x/monitoringc/types/keys.go
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/keys.go
Due: modules

rename SetReward to SetRewards
  proto/reward/tx.proto
  testutil/sample/sample.go
  x/reward/client/cli/tx.go
  x/reward/client/cli/tx_set_reward.go
  x/reward/handler.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/module_simulation.go
  x/reward/simulation/set_reward.go
  x/reward/types/codec.go
  x/reward/types/message_set_reward.go
  x/reward/types/message_set_reward_test.go
  x/reward/types/tx.pb.go
Due: modules

better error return for keeper messages
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/types/errors.go
Due: modules

add @aljo242 CODEOWNER
  .github/CODEOWNERS
Due: none

chore: add @aljo242 CODEOWNER (#494)
  .github/CODEOWNERS
Due: none

delete -> disable
  .github/CODEOWNERS
  .gitignore
  proto/profile/tx.proto
  x/profile/client/cli/tx.go
  x/profile/client/cli/tx_disable_coordinator.go
  x/profile/handler.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/keeper/msg_server_disable_coordinator_test.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/types/codec.go
  x/profile/types/message_disable_coordinator.go
  x/profile/types/message_disable_coordinator_test.go
  x/profile/types/tx.pb.go
Due: modules

validate the reward using the last coins from reward pool
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/msg_server_test.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
Due: modules

disbale functionality
  proto/profile/coordinator.proto
  testutil/sample/profile.go
  x/profile/keeper/msg_server_create_coordinator.go
  x/profile/keeper/msg_server_create_coordinator_test.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/keeper/msg_server_disable_coordinator_test.go
  x/profile/types/coordinator.pb.go
Due: modules

finish the `DistributeRewards` method
  x/reward/keeper/reward.go
  x/reward/types/errors.go
Due: modules

add unit test methods
  x/reward/keeper/msg_server_test.go
  x/reward/keeper/reward.go
  x/reward/keeper/reward_test.go
Due: modules

add some test cases and fixes
  testutil/keeper/initializer.go
  x/reward/keeper/reward.go
  x/reward/keeper/reward_test.go
  x/reward/types/expected_keepers.go
Due: modules

add more test cases and assertion
  x/reward/keeper/reward_test.go
Due: modules

fix the command name
  x/reward/client/cli/tx_set_reward.go
Due: none

add validator set check
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/expected_keepers.go
Due: modules

add valid case for TestMsgSetRewards
  x/reward/keeper/msg_server_set_reward_test.go
Due: modules

encode cons pub key
  x/launch/client/cli/tx_request_add_validator.go
Due: none

initialize create client handler test
  testutil/keeper/keeper.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringc/keeper/msg_server_test.go
  x/monitoringp/keeper/consumer_client_test.go
Due: modules

implement tests
  testutil/keeper/keeper.go
  x/launch/client/cli/tx_request_add_validator.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/msg_server_create_client_test.go
Due: modules

check coord active in x/launch
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_settle_request.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/types/expected_keepers.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/coordinator_test.go
  x/profile/keeper/invariants.go
  x/profile/keeper/invariants_test.go
  x/profile/keeper/msg_server_update_coordinator_address.go
  x/profile/keeper/msg_server_update_coordinator_description.go
  x/profile/simulation/simapp.go
  x/profile/types/errors.go
Due: modules

use sdk.Dec instead float
  x/reward/keeper/reward.go
  x/reward/keeper/reward_test.go
Due: modules

calculate the total relative signature distributed for we calculate the refund
  x/reward/keeper/reward.go
Due: modules

split the DistributeRewards method and create RefundRewards method
  x/reward/keeper/reward.go
Due: modules
