Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

keeper
  x/campaign/keeper/campaign_chains_test.go
  x/campaign/keeper/campaign_mainnet_test.go
  x/campaign/keeper/campaign_test.go
  x/campaign/keeper/grpc_campaign_chains_test.go
  x/campaign/keeper/grpc_campaign_test.go
  x/campaign/keeper/grpc_mainnet_account_test.go
  x/campaign/keeper/grpc_params_test.go
  x/campaign/keeper/grpc_total_shares_test.go
  x/campaign/keeper/invariants_test.go
  x/campaign/keeper/mainnet_account_test.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_edit_campaign_test.go
  x/campaign/keeper/msg_initialize_mainnet_test.go
  x/campaign/keeper/msg_mint_vouchers_test.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/keeper/msg_unredeem_vouchers_test.go
  x/campaign/keeper/msg_update_special_allocations_test.go
  x/campaign/keeper/msg_update_total_supply_test.go
  x/campaign/keeper/params_test.go
  x/campaign/keeper/total_shares_test.go
Due: modules

cli
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/query_mainnet_account_test.go
Due: client

update ibc-go to v5
  go.mod
  go.sum
Due: none

module scope
  x/reward/genesis_test.go
Due: modules

types
  x/launch/client/cli/query.go
  x/reward/types/genesis_test.go
  x/reward/types/msg_set_reward_test.go
  x/reward/types/reward_pool_test.go
Due: modules

simulation
  x/reward/simulation/store_test.go
Due: modules

keeper
  x/reward/keeper/grpc_params_test.go
  x/reward/keeper/grpc_reward_pool_test.go
  x/reward/keeper/invariants_test.go
  x/reward/keeper/msg_set_reward_test.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

cli
  x/reward/client/cli/query_reward_pool_test.go
Due: client

reward
  x/reward/types/errors.go
  x/reward/types/msg_set_reward.go
  x/reward/types/msg_set_reward_test.go
Due: modules

profile
  x/launch/client/cli/query.go
  x/profile/types/errors.go
  x/profile/types/msg_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address_test.go
  x/profile/types/msg_create_coordinator.go
  x/profile/types/msg_create_coordinator_test.go
  x/profile/types/msg_disable_coordinator.go
  x/profile/types/msg_disable_coordinator_test.go
  x/profile/types/msg_update_coordinator_address.go
  x/profile/types/msg_update_coordinator_address_test.go
  x/profile/types/msg_update_coordinator_description.go
  x/profile/types/msg_update_coordinator_description_test.go
  x/profile/types/msg_update_validator_description.go
  x/profile/types/msg_update_validator_description_test.go
Due: modules

profile
  x/launch/types/errors.go
  x/launch/types/msg_update_launch_information.go
  x/launch/types/request_content.go
Due: modules

launch
  x/launch/types/errors.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/msg_revert_launch.go
  x/launch/types/msg_send_request.go
  x/launch/types/msg_send_request_test.go
  x/launch/types/msg_settle_request.go
  x/launch/types/msg_settle_request_test.go
  x/launch/types/msg_trigger_launch.go
  x/launch/types/msg_update_launch_information.go
  x/launch/types/msg_update_launch_information_test.go
Due: modules

campaign
  x/campaign/types/errors.go
  x/campaign/types/msg_burn_vouchers.go
  x/campaign/types/msg_burn_vouchers_test.go
  x/campaign/types/msg_create_campaign.go
  x/campaign/types/msg_create_campaign_test.go
  x/campaign/types/msg_edit_campaign.go
  x/campaign/types/msg_edit_campaign_test.go
  x/campaign/types/msg_initialize_mainnet.go
  x/campaign/types/msg_initialize_mainnet_test.go
  x/campaign/types/msg_mint_vouchers.go
  x/campaign/types/msg_mint_vouchers_test.go
  x/campaign/types/msg_redeem_vouchers.go
  x/campaign/types/msg_redeem_vouchers_test.go
  x/campaign/types/msg_unredeem_vouchers.go
  x/campaign/types/msg_unredeem_vouchers_test.go
  x/campaign/types/msg_update_special_allocations.go
  x/campaign/types/msg_update_special_allocations_test.go
  x/campaign/types/msg_update_total_supply.go
  x/campaign/types/msg_update_total_supply_test.go
Due: modules

monitoringc
  x/campaign/types/msg_edit_campaign.go
  x/campaign/types/msg_edit_campaign_test.go
  x/campaign/types/msg_initialize_mainnet.go
  x/campaign/types/msg_mint_vouchers.go
  x/campaign/types/msg_unredeem_vouchers_test.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/msg_create_client.go
  x/monitoringc/types/msg_create_client_test.go
Due: modules

monitoringp
  x/monitoringc/types/errors.go
  x/monitoringp/keeper/monitoring_packet.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/errors.go
Due: modules

participation
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/total_allocations.go
  x/participation/types/errors.go
  x/participation/types/msg_participate.go
  x/participation/types/msg_participate_test.go
  x/participation/types/msg_withdraw_allocations.go
  x/participation/types/msg_withdraw_allocations_test.go
Due: modules

refactor funds errors
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/types/errors.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_send_request.go
  x/launch/keeper/msg_send_request_test.go
  x/launch/types/errors.go
  x/reward/keeper/msg_set_reward.go
  x/reward/keeper/msg_set_reward_test.go
  x/reward/types/errors.go
Due: modules

fix
  x/campaign/types/voucher_test.go
Due: modules

module scope
  x/launch/client/cli/query.go
  x/monitoringc/genesis_test.go
Due: modules

types
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/msg_create_client_test.go
Due: modules

keeper
  x/monitoringc/keeper/grpc_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
  x/monitoringc/keeper/grpc_params_test.go
  x/monitoringc/keeper/grpc_provider_client_id_test.go
  x/monitoringc/keeper/grpc_verified_client_ids_test.go
  x/monitoringc/keeper/invariants_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/monitoring_packet_test.go
  x/monitoringc/keeper/params_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

client:
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
Due: client

module scope
  x/monitoringp/genesis_test.go
Due: modules

types
  x/launch/client/cli/query.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params_test.go
Due: modules

keeper
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
  x/monitoringp/keeper/grpc_params_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/keeper/params_test.go
Due: modules

module scope
  x/participation/genesis_test.go
Due: modules

types
  x/launch/client/cli/query.go
  x/participation/types/genesis_test.go
  x/participation/types/msg_participate_test.go
  x/participation/types/msg_withdraw_allocations_test.go
  x/participation/types/params_test.go
  x/participation/types/tier_test.go
Due: modules

simulation
  x/participation/simulation/store_test.go
Due: modules

keeper
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_auction_used_allocations_test.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_params_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/params_test.go
  x/participation/keeper/registration_period_test.go
  x/participation/keeper/total_allocations_test.go
  x/participation/keeper/used_allocations_test.go
Due: modules

client
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_used_allocations_test.go
Due: client

fix
  x/participation/simulation/store_test.go
Due: modules

Update x/reward/client/cli/query_reward_pool_test.go
  x/reward/client/cli/query_reward_pool_test.go
Due: client

test(`reward`): normalize tests (#965)
  x/launch/client/cli/query.go
  x/reward/client/cli/query_reward_pool_test.go
  x/reward/genesis_test.go
  x/reward/keeper/grpc_params_test.go
  x/reward/keeper/grpc_reward_pool_test.go
  x/reward/keeper/invariants_test.go
  x/reward/keeper/msg_set_reward_test.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/simulation/store_test.go
  x/reward/types/genesis_test.go
  x/reward/types/msg_set_reward_test.go
  x/reward/types/reward_pool_test.go
Due: modules, client

test(`monitoringc`): normalize tests (#968)
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
  x/monitoringc/keeper/grpc_params_test.go
  x/monitoringc/keeper/grpc_provider_client_id_test.go
  x/monitoringc/keeper/grpc_verified_client_ids_test.go
  x/monitoringc/keeper/invariants_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/monitoring_packet_test.go
  x/monitoringc/keeper/params_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/msg_create_client_test.go
Due: modules, client

test(`monitoringp`): normalize tests (#969)
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
  x/monitoringp/keeper/grpc_params_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params_test.go
Due: modules

test(`participation`): normalize tests (#970)
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/genesis_test.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_auction_used_allocations_test.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_params_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/params_test.go
  x/participation/keeper/registration_period_test.go
  x/participation/keeper/total_allocations_test.go
  x/participation/keeper/used_allocations_test.go
  x/participation/simulation/store_test.go
  x/participation/types/genesis_test.go
  x/participation/types/msg_participate_test.go
  x/participation/types/msg_withdraw_allocations_test.go
  x/participation/types/params_test.go
  x/participation/types/tier_test.go
Due: modules, client

chore: update ibc-go to v5 (#964)
  go.mod
  go.sum
Due: none

remove
  cmd/root.go
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
