Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Handshake tests
  pkg/errors/critical.go
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/keeper.go
Due: modules

lint
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
Due: none

fix tests
  x/monitoringc/genesis_test.go
Due: modules

add todo comments
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/signature.go
Due: modules

add enblocker
  app/app.go
Due: none

proto format
  proto/monitoringc/params.proto
  proto/monitoringc/query.proto
  proto/monitoringc/tx.proto
  proto/monitoringp/packet.proto
  proto/monitoringp/query.proto
  proto/monitoringp/tx.proto
Due: none

Update x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/consumer_client_test.go
Due: modules

Update x/monitoringp/types/errors.go
  x/monitoringp/types/errors.go
Due: none

Update x/monitoringp/types/genesis_test.go
  x/monitoringp/types/genesis_test.go
Due: modules

Suggestion
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_consumer_client_id.go
  x/monitoringp/types/keys.go
Due: client

Update proto/monitoringc/provider_client_id.proto
  proto/monitoringc/provider_client_id.proto
Due: none

Update x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query.go
Due: none

Update x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
Due: client

Update x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
Due: client

Update x/monitoringc/client/cli/query_provider_client_id.go
  x/monitoringc/client/cli/query_provider_client_id.go
Due: client

Update x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
Due: client

Update x/monitoringc/types/key_launch_id_from_verified_client_id.go
  x/monitoringc/types/key_launch_id_from_verified_client_id.go
Due: none

Update x/monitoringc/types/key_provider_client_id.go
  x/monitoringc/types/key_provider_client_id.go
Due: none

Update x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id_test.go
Due: modules

Update x/monitoringc/keeper/grpc_query_provider_client_id_test.go
  x/monitoringc/keeper/grpc_query_provider_client_id_test.go
Due: modules

Update x/monitoringc/keeper/launch_id_from_verified_client_id.go
  x/monitoringc/keeper/launch_id_from_verified_client_id.go
Due: modules

Update x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
Due: modules

Update x/monitoringc/keeper/provider_client_id.go
  x/monitoringc/keeper/provider_client_id.go
Due: modules

Update x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
Due: modules

Update x/monitoringc/module.go
  x/monitoringc/module.go
Due: none

params query position
  x/monitoringc/client/cli/query.go
Due: none

fix error
  x/monitoringc/module.go
  x/monitoringc/types/key_launch_id_from_verified_client_id.go
  x/monitoringc/types/key_provider_client_id.go
Due: none

fix test
  x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/grpc_query_provider_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
Due: modules

initialize files
  pkg/types/consensus_state.go
  pkg/types/consensus_state_test.go
  pkg/types/ibctypes.pb.go
  pkg/types/signature_counts.go
  pkg/types/validator_set.go
  pkg/types/validator_set_test.go
  proto/types/monitoring.proto
Due: none

proto
  pkg/types/ibc.pb.go
  pkg/types/monitoring.pb.go
  pkg/types/signature_counts_test.go
  proto/monitoringc/tx.proto
  proto/types/ibc.proto
  proto/types/monitoring.proto
Due: none

signature counts
  pkg/types/signature_counts.go
Due: none

refacto renaming
  pkg/types/consensus_state.go
  pkg/types/consensus_state_test.go
  pkg/types/validator_set.go
  pkg/types/validator_set_test.go
  testutil/sample/monitoring.go
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
  x/monitoringc/types/tx.pb.go
Due: modules

signature counts tests
  pkg/types/signature_counts_test.go
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
