Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

add `withdrawalDelay` check in `msgWithdrawAllocation`
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/params.go
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

refine tests names
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

address comments
  testutil/sample/participation.go
  testutil/sample/sample.go
  x/participation/keeper/msg_participate.go
Due: modules

adjust sample generation of `withdrawalDelay`
  testutil/sample/participation.go
Due: none

better comment
  x/participation/keeper/msg_participate.go
Due: modules

small edit
  x/participation/keeper/msg_participate.go
Due: modules

avoid format
  x/monitoringc/types/params.pb.go
  x/monitoringp/types/params.pb.go
Due: modules

remove
  .pre-commit-config.yaml
Due: none

refactor(`monitoring`): remove debugMode params (#641)
  config.yml
  go.mod
  go.sum
  localnet/conf.yml
  localnet/genesis_template.json
  localnet/start.py
  proto/monitoringc/params.proto
  proto/monitoringp/params.proto
  testutil/sample/monitoring.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/params.go
  x/monitoringc/keeper/params_test.go
  x/monitoringc/module_simulation.go
  x/monitoringc/types/params.go
  x/monitoringc/types/params.pb.go
  x/monitoringc/types/params_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module_simulation.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

add new test case
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

update go mod
  go.mod
  go.sum
Due: none

chore: remove .pre-commit-config.yaml (#644)
  .pre-commit-config.yaml
Due: none

lint
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/types/errors.go
Due: modules

Update x/reward/keeper/reward_distribution_test.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

add test for `startTime` edge case
  testutil/keeper/fundraising.go
  testutil/sample/fundraising.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

refactor(`reward`): improve and refactor reward distribution tests (#645)
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/types/errors.go
Due: modules

update comment
  x/participation/keeper/msg_participate_test.go
Due: modules

address comments
  x/participation/keeper/msg_participate_test.go
Due: modules

feat(`participation`): add time-related checks in `msgParticipate` (#643)
  config.yml
  go.mod
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/keeper/fundraising.go
  testutil/sample/fundraising.go
  testutil/sample/participation.go
  testutil/sample/sample.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/params.go
  x/participation/types/errors.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

auciton sim
  app/app.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/simulation.go
Due: modules

finalize aucition creation
  x/participation/simulation/simulation.go
Due: modules

finalize aucition creation
  x/participation/keeper/msg_participate.go
  x/participation/simulation/simulation.go
Due: modules

simulate participate
  testutil/sample/participation.go
  x/participation/keeper/msg_participate.go
  x/participation/simulation/simulation.go
Due: modules

format
  x/participation/module.go
  x/participation/simulation/simulation.go
Due: modules

use `time.Duration` for `withdrawalDelay` param
  config.yml
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

add reward dependency
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/keeper/keeper.go
  x/campaign/types/expected_keepers.go
Due: modules

scaffolding command
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

initial query
  go.mod
  go.sum
  proto/campaign/campaign_summary.proto
  proto/campaign/query.proto
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/types/campaign_summary.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

remove unnecessary comment
  testutil/sample/participation.go
Due: none

complete query
  go.mod
  go.sum
  proto/campaign/campaign_summary.proto
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/keeper.go
  x/campaign/types/campaign_summary.pb.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/request.go
Due: modules

lint
  x/campaign/keeper/grpc_campaign_summary.go
Due: modules

add single summary
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

address comments
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/types/errors.go
Due: modules

add fee checks
  x/campaign/simulation/simulation.go
  x/launch/simulation/simulation.go
Due: modules

remove dynamic shares and update_shares tx
  go.mod
  proto/campaign/campaign.proto
  proto/campaign/tx.proto
  testutil/sample/campaign.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_update_total_shares.go
  x/campaign/handler.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_update_total_shares.go
  x/campaign/keeper/msg_update_total_shares_test.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/campaign_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/genesis_test.go
  x/campaign/types/msg_update_total_shares.go
  x/campaign/types/msg_update_total_shares_test.go
  x/campaign/types/tx.pb.go
Due: modules

fmt lint
  x/launch/simulation/simulation.go
Due: modules

refactor into constant.go
  pkg/types/constant.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_mint_vouchers_test.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign_test.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

initial scaffold
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_maximum_shares.go
  x/campaign/keeper/grpc_query_maximum_shares.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
