Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Update proto/launch/request.proto
  proto/launch/request.proto
Due: none

proto format and fix
  go.mod
  go.sum
  proto/launch/events.proto
  proto/launch/request.proto
Due: none

rename ParamChange
  go.mod
  go.sum
  testutil/sample/launch.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_request_change_param.go
  x/launch/keeper/change_param.go
  x/launch/keeper/change_param_test.go
  x/launch/keeper/invariants.go
  x/launch/keeper/request.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/types/keys.go
  x/launch/types/request.pb.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

non alpha check
  testutil/sample/sample.go
  x/launch/keeper/change_param.go
  x/launch/types/expected_keepers.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
  x/participation/simulation/simulation.go
Due: modules

index with launchID
  x/launch/keeper/change_param.go
  x/launch/keeper/change_param_test.go
  x/launch/keeper/request.go
  x/launch/types/keys.go
Due: modules

lint
  x/launch/types/keys.go
Due: none

fix sim
  testutil/sample/launch.go
Due: none

proto
  proto/launch/chain.proto
  proto/monitoringc/genesis.proto
  proto/profile/genesis.proto
  x/launch/types/chain.pb.go
Due: modules

refactor tx
  proto/launch/tx.proto
  x/launch/types/msg_create_chain.go
  x/launch/types/tx.pb.go
Due: modules

validate
  x/launch/types/initial_genesis.go
  x/launch/types/msg_create_chain.go
Due: modules

fix tests
  testutil/sample/launch.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/types/initial_genesis.go
  x/launch/types/msg_create_chain_test.go
  x/monitoringc/keeper/msg_create_client_test.go
Due: modules

cli refactor
  x/launch/client/cli/tx_create_chain.go
Due: none

format
  x/campaign/keeper/msg_initialize_mainnet.go
Due: modules

rename file
  x/launch/keeper/param_change.go
  x/launch/keeper/param_change_test.go
Due: modules

refactor and add genesis
  proto/launch/genesis.proto
  proto/launch/request.proto
  proto/monitoringc/genesis.proto
  proto/profile/genesis.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_change_param.go
  x/launch/genesis.go
  x/launch/keeper/param_change.go
  x/launch/keeper/param_change_test.go
  x/launch/keeper/request.go
  x/launch/types/genesis.pb.go
  x/launch/types/request.pb.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

Update x/launch/client/cli/tx_create_chain.go
  x/launch/client/cli/tx_create_chain.go
Due: none

Update proto/launch/chain.proto
  proto/launch/chain.proto
Due: none

fix
  x/launch/client/cli/tx_create_chain.go
Due: none

chore: update proto files from ignite cli generation
  x/launch/types/chain.pb.go
Due: modules

feat(`launch`): config file for genesis (#958)
  proto/launch/chain.proto
  proto/launch/tx.proto
  proto/monitoringc/genesis.proto
  proto/profile/genesis.proto
  testutil/sample/launch.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/types/chain.pb.go
  x/launch/types/initial_genesis.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/tx.pb.go
  x/monitoringc/keeper/msg_create_client_test.go
Due: modules

proto
  proto/launch/tx.proto
Due: none

update code
  testutil/sample/launch.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/types/chain.pb.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/tx.pb.go
Due: modules

fix test
  x/monitoringc/keeper/msg_create_client_test.go
Due: modules

Update x/launch/keeper/request.go
  x/launch/keeper/request.go
Due: modules

fix(`launch`): remove pointer for `InitialGenesis` in `MsgCreateChain` (#960)
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/types/chain.pb.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/tx.pb.go
  x/monitoringc/keeper/msg_create_client_test.go
Due: modules

add query all
  proto/launch/query.proto
  testutil/networksuite/networksuite.go
  x/launch/client/cli/query.go
  x/launch/client/cli/query_param_change.go
  x/launch/client/cli/query_param_change_test.go
  x/launch/keeper/grpc_param_change.go
  x/launch/keeper/grpc_param_change_test.go
  x/launch/types/keys.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
Due: modules, client

update ibc-go
  go.mod
  go.sum
Due: none

update workflows
  .github/workflows/simulation.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Due: none

update go
  go.mod
Due: none

chore: minor updates (#961)
  .github/workflows/simulation.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Due: none

Update x/launch/client/cli/query.go
  x/launch/client/cli/query.go
Due: none

feat(`launch`): change param request (#957)
  proto/launch/events.proto
  proto/launch/genesis.proto
  proto/launch/query.proto
  proto/launch/request.proto
  testutil/networksuite/networksuite.go
  testutil/sample/launch.go
  testutil/sample/sample.go
  x/launch/client/cli/query.go
  x/launch/client/cli/query_param_change.go
  x/launch/client/cli/query_param_change_test.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_request_change_param.go
  x/launch/genesis.go
  x/launch/keeper/grpc_param_change.go
  x/launch/keeper/grpc_param_change_test.go
  x/launch/keeper/invariants.go
  x/launch/keeper/param_change.go
  x/launch/keeper/param_change_test.go
  x/launch/keeper/request.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/types/events.pb.go
  x/launch/types/expected_keepers.go
  x/launch/types/genesis.pb.go
  x/launch/types/keys.go
  x/launch/types/params.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
  x/launch/types/request.pb.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
  x/participation/simulation/simulation.go
Due: modules, client

init
  docs/ignite_cli/coordinator.md
  docs/ignite_cli/readme.md
  docs/ignite_cli/validator.md
  docs/readme.md
Due: none

create guides
  docs/ignite_cli/coordinator.md
  docs/ignite_cli/readme.md
  docs/ignite_cli/validator.md
  docs/readme.md
Due: none

address review
  readme.md
Due: none

address review
  docs/ignite_cli/coordinator.md
  docs/ignite_cli/readme.md
  docs/ignite_cli/validator.md
Due: none

docs: validator and coordinator guides for `ignite` (#962)
  docs/ignite_cli/coordinator.md
  docs/ignite_cli/readme.md
  docs/ignite_cli/validator.md
  docs/readme.md
  readme.md
Due: none

x scope
  x/campaign/genesis_test.go
  x/launch/client/cli/query.go
Due: modules

types
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
  x/campaign/types/msg_burn_vouchers_test.go
  x/campaign/types/msg_create_campaign_test.go
  x/campaign/types/msg_edit_campaign_test.go
  x/campaign/types/msg_initialize_mainnet_test.go
  x/campaign/types/msg_mint_vouchers_test.go
  x/campaign/types/msg_redeem_vouchers_test.go
  x/campaign/types/msg_unredeem_vouchers_test.go
  x/campaign/types/msg_update_special_allocations_test.go
  x/campaign/types/msg_update_total_supply_test.go
  x/campaign/types/params_test.go
  x/campaign/types/share_vesting_options_test.go
  x/campaign/types/shares_test.go
  x/campaign/types/special_allocations_test.go
  x/campaign/types/total_supply_test.go
  x/campaign/types/voucher_test.go
Due: modules

simulation
  x/campaign/simulation/store_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
