Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

fix staking keeper
  app/app.go
Due: none

bump deps
  go.mod
  go.sum
Due: none

fix test suite
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
Due: none

feat(`claim`): add hooks for delegation and vote mission claim (#871)
  app/app.go
  config.yml
  proto/claim/events.proto
  x/claim/keeper/mission.go
  x/claim/keeper/mission_delegation_hooks.go
  x/claim/keeper/mission_vote_hooks.go
  x/claim/types/events.pb.go
Due: modules

chore: bump dependencies (#872)
  go.mod
  go.sum
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
Due: none

address feedback
  config.yml
  x/mint/keeper/keeper.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/params.go
Due: modules

Update proto/campaign/events.proto
  proto/campaign/events.proto
Due: none

ID
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

update test name
  x/claim/types/genesis_test.go
Due: modules

improve tests
  x/claim/types/genesis_test.go
Due: modules

feat(`mint`): add `DevelopmentFund` to block rewards (#839)
  config.yml
  proto/mint/mint.proto
  x/mint/keeper/keeper.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
Due: modules

add ClaimableFromMission utility method
  x/claim/keeper/mission.go
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
Due: modules

add new check
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
Due: modules

add genesis test case
  x/claim/types/genesis_test.go
Due: modules

feat(`campaign`): add event for campaign auction creation (#841)
  app/app.go
  go.mod
  go.sum
  proto/campaign/events.proto
  x/campaign/keeper/campaign.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/campaign_auction_event_hooks_test.go
  x/campaign/keeper/campaign_test.go
  x/campaign/types/events.pb.go
  x/profile/keeper/coordinator.go
  x/profile/keeper/coordinator_test.go
Due: modules

Update x/claim/types/claim_record_test.go
  x/claim/types/claim_record_test.go
Due: modules

format
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/types/genesis_test.go
  x/claim/genesis_test.go
  x/claim/types/claim_record_test.go
Due: modules, client

fix error
  x/claim/types/claim_record_test.go
Due: modules

initial claim scaffolding
  proto/claim/genesis.proto
  proto/claim/initial_claim.proto
  proto/claim/query.proto
  x/claim/client/cli/query.go
  x/claim/client/cli/query_initial_claim.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/keeper/grpc_query_initial_claim.go
  x/claim/keeper/grpc_query_initial_claim_test.go
  x/claim/keeper/initial_claim.go
  x/claim/keeper/initial_claim_test.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
  x/claim/types/initial_claim.pb.go
  x/claim/types/keys.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
Due: modules, client

fix scaffolded
  proto/claim/genesis.proto
  proto/claim/initial_claim.proto
  x/claim/client/cli/query.go
  x/claim/client/cli/query_initial_claim.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/keeper/grpc_query_initial_claim_test.go
  x/claim/keeper/initial_claim_test.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
Due: modules, client

refactor(`claim`): add checks in genesis validate for already completed missions (#877)
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/types/genesis_test.go
  x/claim/genesis_test.go
  x/claim/keeper/mission.go
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
Due: modules, client

message scaffold
  proto/claim/tx.proto
  x/claim/client/cli/tx.go
  x/claim/client/cli/tx_claim_initial.go
  x/claim/handler.go
  x/claim/keeper/msg_server_claim_initial.go
  x/claim/types/codec.go
  x/claim/types/message_claim_initial.go
  x/claim/types/message_claim_initial_test.go
  x/claim/types/tx.pb.go
Due: modules

fix message scaffold
  proto/claim/tx.proto
  x/claim/client/cli/tx_claim_initial.go
  x/claim/keeper/msg_claim_initial.go
  x/claim/types/codec.go
  x/claim/types/msg_claim_initial.go
  x/claim/types/msg_claim_initial_test.go
Due: modules

message type tests
  x/claim/types/msg_claim_initial_test.go
Due: modules

implement message
  x/claim/keeper/msg_claim_initial.go
  x/claim/types/errors.go
Due: modules

fix keeper
  x/claim/keeper/msg_claim_initial_test.go
Due: modules

keeper test
  testutil/keeper/keeper.go
  x/claim/types/errors.go
Due: none

format
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/campaign_auction_event_hooks_test.go
  x/claim/keeper/grpc_query_initial_claim.go
  x/claim/keeper/initial_claim.go
  x/claim/keeper/msg_claim_initial_test.go
  x/claim/types/msg_claim_initial_test.go
  x/mint/keeper/keeper.go
Due: modules

add initial claim in config.yml
  config.yml
Due: none

gomod
  go.mod
  go.sum
Due: none

import
  app/app.go
  app/simulation_test.go
  cmd/spnd/main.go
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

chore: update the cli version (#865)
  app/app.go
  app/simulation_test.go
  cmd/spnd/main.go
  go.mod
  go.sum
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

add error to method
  x/campaign/types/shares.go
Due: modules

update tests
  x/campaign/types/shares_test.go
Due: modules

update messages
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
Due: modules

feat(`claim`): implement `MsgClaimInitial` message (#878)
  config.yml
  proto/claim/genesis.proto
  proto/claim/initial_claim.proto
  proto/claim/query.proto
  proto/claim/tx.proto
  testutil/keeper/keeper.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/campaign_auction_event_hooks_test.go
  x/claim/client/cli/query.go
  x/claim/client/cli/query_initial_claim.go
  x/claim/client/cli/tx.go
  x/claim/client/cli/tx_claim_initial.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/handler.go
  x/claim/keeper/grpc_query_initial_claim.go
  x/claim/keeper/grpc_query_initial_claim_test.go
  x/claim/keeper/initial_claim.go
  x/claim/keeper/initial_claim_test.go
  x/claim/keeper/msg_claim_initial.go
  x/claim/keeper/msg_claim_initial_test.go
  x/claim/types/codec.go
  x/claim/types/errors.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
  x/claim/types/initial_claim.pb.go
  x/claim/types/keys.go
  x/claim/types/msg_claim_initial.go
  x/claim/types/msg_claim_initial_test.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
  x/claim/types/tx.pb.go
  x/mint/keeper/keeper.go
Due: modules, client

fix(`campaign`): add error in `IsTotalSharesReached` (#879)
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

change error desc
  x/monitoringc/keeper/handshake.go
Due: modules

fix(monitoringc): fix RegisterProviderClientIDFromChannelID description (#881)
  x/monitoringc/keeper/handshake.go
Due: modules

launch
  x/launch/keeper/genesis_account.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/vesting_account.go
  x/launch/types/keys.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
