Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

complete tests
  x/campaign/keeper/msg_update_special_allocations_test.go
Due: modules

go import
  x/campaign/keeper/msg_update_special_allocations.go
Due: modules

go import
  x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations_test.go
Due: modules

check total shares
  x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations_test.go
Due: modules

lint tx list
  x/campaign/client/cli/tx.go
Due: none

Update x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/client/cli/tx_update_special_allocations.go
Due: none

Update x/campaign/keeper/msg_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations.go
Due: modules

ignite generation
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_special_allocations_balance.go
  x/campaign/keeper/grpc_query_special_allocations_balance.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

implement query
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_special_allocations_balance.go
  x/campaign/keeper/grpc_query_special_allocations_balance.go
  x/campaign/keeper/grpc_special_allocations_balance.go
Due: modules, client

query tests
  x/campaign/keeper/grpc_special_allocations_balance_test.go
Due: modules

go import
  x/campaign/keeper/grpc_special_allocations_balance.go
Due: modules

Update proto/claim/mission.proto
  proto/claim/mission.proto
Due: none

Update x/claim/types/genesis.go
  x/claim/types/genesis.go
Due: modules

Update proto/claim/query.proto
  proto/claim/query.proto
Due: none

Update x/claim/client/cli/query_airdrop_supply.go
  x/claim/client/cli/query_airdrop_supply.go
Due: client

Update x/campaign/types/special_allocations_test.go
  x/campaign/types/special_allocations_test.go
Due: modules

Update x/claim/client/cli/query_claim_record.go
  x/claim/client/cli/query_claim_record.go
Due: client

Update x/claim/client/cli/query_mission.go
  x/claim/client/cli/query_mission.go
Due: client

Update x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/grpc_query_claim_record_test.go
Due: modules

rename proto fields
  proto/claim/genesis.proto
  x/claim/genesis.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
Due: modules

rename vars in tests
  proto/claim/params.proto
  proto/claim/query.proto
  x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_mission_test.go
  x/claim/genesis_test.go
  x/claim/types/genesis_test.go
  x/claim/types/query.pb.go
Due: modules, client

format query.proto
  proto/claim/query.proto
Due: none

remove unnecessary methods
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
Due: modules

update query
  x/campaign/keeper/grpc_mainnet_account.go
Due: modules

query test
  x/campaign/keeper/grpc_mainnet_account_test.go
Due: modules

refactor(`campaign`): `MainnetAccountBalanceAll`: omit account with empty balance (#803)
  x/campaign/keeper/grpc_mainnet_account.go
  x/campaign/keeper/grpc_mainnet_account_test.go
Due: modules

rename ID -> missionID
  proto/claim/mission.proto
  proto/claim/query.proto
  x/claim/client/cli/query_mission.go
  x/claim/client/cli/query_mission_test.go
  x/claim/genesis_test.go
  x/claim/keeper/grpc_query_mission.go
  x/claim/keeper/grpc_query_mission_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
  x/claim/types/claim_record.go
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
  x/claim/types/mission.go
  x/claim/types/mission.pb.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
Due: modules, client

expected keeper
  x/launch/types/expected_keepers.go
Due: modules

modify queries
  x/launch/keeper/grpc_genesis_account.go
Due: modules

import
  x/launch/keeper/grpc_genesis_account.go
Due: modules

add validate methods
  x/campaign/types/special_allocations_test.go
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
  x/claim/types/genesis.go
  x/claim/types/mission.go
  x/claim/types/mission_test.go
Due: modules

add validation tests
  testutil/sample/claim.go
  x/claim/types/claim_record_test.go
  x/claim/types/mission_test.go
Due: modules

Update x/claim/types/claim_record.go
  x/claim/types/claim_record.go
Due: modules

Update x/claim/types/mission_test.go
  x/claim/types/mission_test.go
Due: modules

add tests
  x/launch/keeper/genesis_account_test.go
  x/launch/keeper/grpc_genesis_account_test.go
Due: modules

tests
  x/launch/keeper/grpc_genesis_account_test.go
Due: modules

update comment
  x/launch/keeper/grpc_genesis_account_test.go
Due: modules
