Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

add proto
  proto/participation/events.proto
  x/participation/types/events.pb.go
Due: modules

emit events
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_withdraw_allocations.go
Due: modules

ci(reset-testnet): add hack to reset testnets
  .github/workflows/reset-testnet.yml
Due: none

chore: sdk-bump (#777)
  go.mod
  go.sum
Due: none

ci(reset-testnet): add hack to reset testnets (#779)
  .github/workflows/reset-testnet.yml
Due: none

refactor(`launch`): remove `Chain` struct from events (#776)
  proto/campaign/events.proto
  proto/launch/events.proto
  x/campaign/keeper/campaign_chains.go
  x/campaign/types/events.pb.go
  x/launch/keeper/chain.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_update_launch_information.go
  x/launch/types/events.pb.go
Due: modules

proto
  proto/campaign/special_allocations.proto
  x/campaign/types/campaign.pb.go
  x/campaign/types/special_allocations.pb.go
Due: modules

special allocations type
  x/campaign/types/special_allocations.go
Due: modules

type test
  x/campaign/types/shares_test.go
  x/campaign/types/special_allocations_test.go
Due: modules

fix proto
  proto/campaign/campaign.proto
  x/campaign/types/campaign.pb.go
Due: modules

add campaign validate
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/special_allocations.go
Due: modules

add invariant
  testutil/sample/campaign.go
  x/campaign/keeper/invariants.go
  x/campaign/keeper/invariants_test.go
Due: modules

Update x/reward/keeper/msg_set_reward.go
  x/reward/keeper/msg_set_reward.go
Due: modules

fix cli testrs
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/client/cli/query_campaign_test.go
Due: client

rename found variables
  x/reward/keeper/msg_set_reward.go
Due: modules

handler
  x/campaign/handler.go
Due: none

simulation
  x/campaign/module_simulation.go
Due: none

initialize proto
  proto/campaign/mainnet_account.proto
  proto/campaign/query.proto
  x/campaign/types/mainnet_account.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

feat(`reward`): emit events (#752)
  proto/reward/events.proto
  x/reward/keeper/msg_set_reward.go
  x/reward/keeper/reward_distribution.go
  x/reward/types/events.pb.go
Due: modules

feat(`participation`): emit events (#778)
  proto/participation/events.proto
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/types/events.pb.go
Due: modules

modify proto
  proto/profile/events.proto
  x/profile/types/events.pb.go
Due: modules

emit new events
  x/profile/keeper/msg_add_validator_operator_address.go
  x/profile/keeper/msg_create_coordinator.go
  x/profile/keeper/msg_disable_coordinator.go
  x/profile/keeper/msg_update_coordinator_address.go
  x/profile/keeper/msg_update_coordinator_description.go
  x/profile/keeper/msg_update_validator_description.go
Due: modules

bump ignite-cli
  go.mod
  go.sum
Due: none

CoinsFromTotalSupply
  x/campaign/types/shares.go
Due: modules

alex commen
  testutil/sample/campaign.go
Due: none

Update x/campaign/handler.go
  x/campaign/handler.go
Due: none

Update x/campaign/module_simulation.go
  x/campaign/module_simulation.go
Due: none

test for CoinsFromTotalSupply
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

mainnet account balance
  x/campaign/keeper/grpc_mainnet_account.go
Due: modules

queries
  x/campaign/keeper/grpc_mainnet_account.go
Due: modules

add cli
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_mainnet_account.go
Due: client

grpc tests
  x/campaign/keeper/grpc_mainnet_account.go
  x/campaign/keeper/grpc_mainnet_account_test.go
Due: modules

test
  x/campaign/keeper/grpc_mainnet_account_test.go
Due: modules

add `mint` module
  app/app.go
  proto/mint/genesis.proto
  proto/mint/mint.proto
  proto/mint/query.proto
  testutil/keeper/initializer.go
  x/mint/abci.go
  x/mint/client/cli/query.go
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/rest/query.go
  x/mint/client/rest/rest.go
  x/mint/genesis.go
  x/mint/keeper/grpc.go
  x/mint/keeper/grpc_test.go
  x/mint/keeper/integration_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/querier.go
  x/mint/keeper/querier_test.go
  x/mint/module.go
  x/mint/module_test.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
  x/mint/types/codec.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/genesis.pb.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Due: modules, client

sim
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
Due: modules

chore: bump ignite-cli (#792)
  go.mod
  go.sum
Due: none

standardize the GRPC query responses
  x/campaign/keeper/grpc_campaign.go
  x/campaign/keeper/grpc_campaign_test.go
  x/profile/keeper/grpc_coordinator.go
  x/profile/keeper/grpc_coordinator_test.go
Due: modules

chore(`campaign`): disable `MsgAddVestingOptions` (#788)
  x/campaign/handler.go
  x/campaign/module_simulation.go
Due: none

proto
  proto/campaign/campaign.proto
  x/campaign/types/campaign.pb.go
Due: modules

fix: standardize the GRPC query responses (#795)
  x/campaign/keeper/grpc_campaign.go
  x/campaign/keeper/grpc_campaign_test.go
  x/profile/keeper/grpc_coordinator.go
  x/profile/keeper/grpc_coordinator_test.go
Due: modules
