Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

feat(`launch`): Monitoring connected check to prevent MsgRevertLaunch (#598)
  proto/launch/chain.proto
  testutil/keeper/keeper.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_revert_launch.go
  x/launch/keeper/msg_revert_launch_test.go
  x/launch/keeper/validator_set.go
  x/launch/types/chain.pb.go
  x/launch/types/errors.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/types/expected_keepers.go
  x/participation/client/cli/tx.go
Due: modules

address feedbacks
  proto/participation/query.proto
  x/participation/client/cli/query_auction_used_allocations.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/grpc_auction_used_allocations_test.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/used_allocations_test.go
  x/participation/module.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/used_allocations.pb.go
Due: modules, client

fix(): rename fundraising param (#608)
  localnet/genesis_template.json
Due: none

refactor test
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
  x/monitoringp/keeper/grpc_params_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/keeper/params_test.go
Due: modules

fix imports
  testutil/keeper/keeper.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
Due: modules

cleanup
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringc/keeper/grpc_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
  x/monitoringc/keeper/grpc_provider_client_id_test.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/module_ibc.go
  x/monitoringc/module_simulation.go
  x/monitoringc/simulation/simap.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
Due: modules, client

fix test
  x/monitoringc/keeper/grpc_provider_client_id_test.go
Due: modules

Update genesis_test.go
  x/monitoringp/genesis_test.go
Due: modules

refine participation params
  localnet/genesis_template.json
  proto/participation/params.proto
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

tests for allocation price and tiers params
  config.yml
  testutil/sample/participation.go
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

fix typo and randomize param change in mod sim
  config.yml
  localnet/genesis_template.json
  x/participation/module_simulation.go
Due: none

Update x/profile/client/cli/query_validator_by_operator_address.go
  x/profile/client/cli/query_validator_by_operator_address.go
Due: client

refactor(`monitoringc`): improve code quality (#610)
  proto/monitoringc/launch_id_from_channel_id.proto
  proto/monitoringc/launch_id_from_verified_client_id.proto
  proto/monitoringc/monitoring_history.proto
  proto/monitoringc/params.proto
  proto/monitoringc/provider_client_id.proto
  proto/monitoringc/verified_client_id.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringc/keeper/grpc_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
  x/monitoringc/keeper/grpc_provider_client_id_test.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/keeper/monitoring_history_test.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/module_ibc.go
  x/monitoringc/module_simulation.go
  x/monitoringc/simulation/simap.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
Due: modules, client

fixes
  testutil/keeper/monitoring_provider.go
  x/monitoringp/module_simulation.go
Due: none

remove
  x/monitoringc/module_simulation.go
  x/monitoringp/module_simulation.go
  x/participation/module_simulation.go
  x/reward/module_simulation.go
Due: none

add genesis validation test case
  x/participation/types/genesis_test.go
Due: modules

add nil checks
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

refactor(`monitoringp`): improve code quality (#609)
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/sample/sample.go
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/tx.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
  x/monitoringp/keeper/grpc_params_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/module_simulation.go
  x/monitoringp/simulation/simap.go
  x/monitoringp/simulation/simulation.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/participation/module_simulation.go
  x/participation/simulation/simapp.go
  x/participation/simulation/simulation.go
  x/profile/keeper/msg_add_validator_operator_address_test.go
  x/profile/simulation/simapp.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/module_simulation.go
  x/reward/simulation/simapp.go
Due: modules

feat(`participation`): scaffold `usedAllocations` and `auctionUsedAllocations` maps (#606)
  proto/participation/auction_used_allocations.proto
  proto/participation/genesis.proto
  proto/participation/query.proto
  proto/participation/used_allocations.proto
  testutil/sample/participation.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_auction_used_allocations.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_used_allocations.go
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/genesis.go
  x/participation/genesis_test.go
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/grpc_auction_used_allocations.go
  x/participation/keeper/grpc_auction_used_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/used_allocations.go
  x/participation/keeper/used_allocations_test.go
  x/participation/module.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/genesis.go
  x/participation/types/genesis.pb.go
  x/participation/types/genesis_test.go
  x/participation/types/keys.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/used_allocations.pb.go
Due: modules, client

remove (#612)
  x/monitoringc/module_simulation.go
  x/participation/module_simulation.go
  x/reward/module_simulation.go
Due: none

fix typos
  x/participation/types/params_test.go
Due: modules

fix imports
  x/participation/module_simulation.go
Due: none

add participation invariants
  x/launch/keeper/invariants.go
  x/participation/keeper/invariants.go
  x/participation/keeper/invariants_test.go
  x/participation/module.go
Due: modules

manual sig
  x/profile/client/cli/tx_add_validator_operator_address.go
Due: none

Update x/participation/keeper/invariants_test.go
  x/participation/keeper/invariants_test.go
Due: modules

remove checks from tiers validation
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

remove ids and test
  app/app.go
  testutil/keeper/keeper.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_revert_launch.go
  x/launch/keeper/msg_revert_launch_test.go
  x/launch/types/expected_keepers.go
  x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

implement operator flag
  x/launch/types/chain.pb.go
  x/profile/client/cli/tx_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address.go
Due: modules

add test for get signers
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

lint
  x/profile/types/msg_add_validator_operator_address.go
Due: modules

feat(`participation`): add invariant to check mismatch between `AuctionUsedAllocations` and `UsedAllocations` (#614)
  x/launch/keeper/invariants.go
  x/participation/keeper/invariants.go
  x/participation/keeper/invariants_test.go
  x/participation/module.go
Due: modules

fix typo
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

Update x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

keep operator address entries
  x/profile/keeper/msg_add_validator_operator_address.go
  x/profile/keeper/msg_add_validator_operator_address_test.go
Due: modules

feat(`participation`): Add `AllocationPrice` and `ParticipationTierList` params (#611)
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/module_simulation.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

remove LaunchIDsFromClientIDs
  x/launch/keeper/msg_revert_launch_test.go
  x/launch/types/expected_keepers.go
  x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/types/errors.go
Due: modules

remove unused func
  x/profile/types/validator.go
  x/profile/types/validator_test.go
Due: modules

starport generation
  proto/participation/tx.proto
  x/launch/types/chain.pb.go
  x/participation/client/cli/tx.go
  x/participation/handler.go
  x/participation/module_simulation.go
  x/participation/types/codec.go
  x/participation/types/tx.pb.go
Due: modules
