Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

remove monitoring connected check
  x/launch/keeper/msg_update_launch_information.go
  x/launch/keeper/msg_update_launch_information_test.go
Due: modules

feat(`participation`): initialize `MsgParticipate` (#619)
  app/app.go
  proto/participation/tx.proto
  testutil/keeper/bank.go
  testutil/keeper/bank_test.go
  testutil/keeper/keeper.go
  testutil/sample/fundraising.go
  testutil/sample/sample.go
  x/launch/module.go
  x/monitoringp/types/params_test.go
  x/participation/client/cli/tx.go
  x/participation/client/cli/tx_participate.go
  x/participation/handler.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/participate.go
  x/participation/simulation/simulation.go
  x/participation/types/codec.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/participation/types/msg_participate.go
  x/participation/types/msg_participate_test.go
  x/participation/types/tx.pb.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

return error
  x/launch/keeper/msg_revert_launch.go
Due: modules

fix simulation for the monitoring provider module
  testutil/sample/monitoring.go
  x/monitoringc/module_simulation.go
  x/monitoringp/module_simulation.go
  x/participation/handler.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

add params to the participation module simulation
  x/participation/module_simulation.go
Due: none

auto-distribution
  x/reward/keeper/reward_distribution.go
Due: modules

tests
  x/reward/keeper/reward_distribution_test.go
Due: modules

lint
  x/reward/keeper/reward_distribution_test.go
Due: modules

remove error
  x/launch/keeper/msg_revert_launch.go
  x/launch/types/expected_keepers.go
  x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

dev. env. of ignite ui (#628)
  .gitignore
  config.yml
Due: none

prevent dup address
  x/profile/client/cli/tx_add_validator_operator_address.go
  x/profile/types/errors.go
  x/profile/types/msg_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

change TotalAllocation -> TotalAllocations
  proto/participation/query.proto
  x/participation/client/cli/query.go
  x/participation/client/cli/query_get_total_allocations.go
  x/participation/client/cli/query_get_total_allocations_test.go
  x/participation/keeper/available_allocations.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_total_allocations.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/total_allocations.go
  x/participation/keeper/total_allocations_test.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
Due: modules, client

lint
  x/profile/types/errors.go
Due: none

Update x/launch/client/cli/tx_update_launch_information.go
  x/launch/client/cli/tx_update_launch_information.go
Due: none

add available allocations keeper method
  x/participation/keeper/available_allocations.go
  x/participation/keeper/available_allocations_test.go
Due: modules

fix simulation operations msgs names
  x/monitoringc/module_simulation.go
  x/monitoringp/module_simulation.go
  x/reward/module_simulation.go
Due: none

add grpc
  proto/participation/query.proto
  x/participation/client/cli/query.go
  x/participation/client/cli/query_available_allocations.go
  x/participation/client/cli/query_available_allocations_test.go
  x/participation/client/cli/query_total_allocations.go
  x/participation/client/cli/query_total_allocations_test.go
  x/participation/keeper/grpc_available_allocations.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
Due: modules, client

add functionality
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/types/errors.go
Due: modules

format
  x/participation/client/cli/query_available_allocations.go
  x/participation/keeper/grpc_available_allocations.go
Due: modules, client

feat(`launch`): remove verified client IDs in `monitoringc` (#616)
  app/app.go
  testutil/keeper/keeper.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_revert_launch.go
  x/launch/keeper/msg_revert_launch_test.go
  x/launch/types/expected_keepers.go
  x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/types/errors.go
Due: modules

Update x/profile/types/errors.go
  x/profile/types/errors.go
Due: none

set versions
  x/monitoringc/types/keys.go
  x/monitoringp/types/keys.go
Due: none

remove TODO comments
  x/monitoringc/module_ibc.go
  x/monitoringc/types/keys.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/keys.go
Due: modules

lint
  x/monitoringp/module_ibc.go
Due: modules

danilo comments
  x/launch/client/cli/tx.go
  x/launch/keeper/msg_update_launch_information_test.go
Due: modules

remove todo comment
  x/monitoringp/keeper/begin_block.go
Due: modules

change comment
  x/monitoringp/keeper/begin_block.go
Due: modules

fix(monitoring/simulation): fix simulation for the monitoring modules (#626)
  testutil/sample/monitoring.go
  x/monitoringc/module_simulation.go
  x/monitoringp/module_simulation.go
  x/participation/module_simulation.go
  x/reward/module_simulation.go
Due: none

feat(`monitoring`): add versions for module handshake (#631)
  x/monitoringc/module_ibc.go
  x/monitoringc/types/keys.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/keys.go
Due: modules

feat(`launch`): split `MsgEditChain` (#624)
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/client/cli/tx_update_launch_information.go
  x/launch/handler.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/keeper/msg_update_launch_information.go
  x/launch/keeper/msg_update_launch_information_test.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/types/codec.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/msg_update_launch_information.go
  x/launch/types/msg_update_launch_information_test.go
  x/launch/types/tx.pb.go
Due: modules

finish msg_participate tests
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/types/tier.go
  x/participation/types/tier_test.go
Due: modules

fmt
  x/participation/types/tier_test.go
Due: modules

chore(`monitoring`): change comments about IBC packet timeout (#632)
  x/monitoringp/keeper/begin_block.go
Due: modules

remove `withdrawalAllocationDelay` param
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/keeper/params.go
  x/participation/keeper/params_test.go
  x/participation/module_simulation.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

Alex comment
  x/reward/keeper/reward_distribution.go
Due: modules

Apply suggestions from code review
  x/participation/client/cli/query_available_allocations.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
Due: modules, client

fix merge error
  go.mod
  go.sum
  x/participation/client/cli/query_available_allocations.go
  x/participation/keeper/msg_participate.go
Due: modules, client

fix msg_edit_chain sim
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
