Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

fix denom
  config.yml
Due: none

use the same sdk pattern for the http query
  proto/campaign/campaign_chains.proto
  proto/campaign/query.proto
  proto/launch/genesis_validator.proto
  proto/launch/query.proto
  proto/launch/request.proto
  proto/profile/query.proto
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/launch/client/cli/query_request_test.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
Due: modules, client

Rename campaign's ID field into campaignID
  proto/campaign/campaign.proto
  proto/campaign/query.proto
  proto/profile/query.proto
  x/campaign/client/cli/query_campaign.go
  x/campaign/keeper/campaign.go
  x/campaign/keeper/grpc_query_campaign.go
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_redeem_vouchers.go
  x/campaign/simulation/simulation.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/genesis.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/profile/client/cli/query_coordinator.go
  x/profile/keeper/grpc_query_coordinator.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
Due: modules, client

fix unit tests
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/keeper/campaign_test.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/invariants_test.go
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_burn_vouchers_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_mint_vouchers_test.go
  x/campaign/keeper/msg_server_redeem_vouchers_test.go
  x/campaign/keeper/msg_server_update_campaign_name_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
  x/launch/client/cli/query_request_test.go
  x/profile/keeper/grpc_query_coordinator_test.go
Due: modules, client

fix coordinator id for genesis test
  x/campaign/types/genesis_test.go
Due: modules

remove unused condition
  testutil/network/network.go
Due: none

add @ivanovpetr to CODEOWNERS
  .github/CODEOWNERS
Due: none

add @ivanovpetr to CODEOWNERS (#398)
  .github/CODEOWNERS
Due: none

formating proto files using clang-format
  proto/campaign/campaign.proto
  proto/campaign/genesis.proto
  proto/campaign/mainnet_account.proto
  proto/campaign/mainnet_vesting_account.proto
  proto/campaign/query.proto
  proto/campaign/tx.proto
  proto/launch/chain.proto
  proto/launch/genesis.proto
  proto/launch/genesis_account.proto
  proto/launch/genesis_validator.proto
  proto/launch/params.proto
  proto/launch/query.proto
  proto/launch/request.proto
  proto/launch/tx.proto
  proto/launch/vesting_account.proto
  proto/profile/coordinator.proto
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/tx.proto
  proto/profile/validator.proto
  x/campaign/types/mainnet_vesting_account.pb.go
  x/launch/types/chain.pb.go
  x/launch/types/vesting_account.pb.go
Due: modules

remove unecessary break lines
  proto/campaign/genesis.proto
  proto/campaign/mainnet_vesting_account.proto
  proto/campaign/query.proto
  proto/campaign/tx.proto
  proto/launch/chain.proto
  proto/launch/genesis.proto
  proto/launch/genesis_validator.proto
  proto/launch/params.proto
  proto/launch/query.proto
  proto/launch/request.proto
  proto/launch/tx.proto
  proto/launch/vesting_account.proto
  proto/profile/coordinator.proto
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/tx.proto
  proto/profile/validator.proto
Due: none

avoid start request id from zero
  x/launch/keeper/request.go
Due: modules

chore(go.mod): upgrade grpc
  go.mod
  go.sum
Due: none

feat: upgrade sdk version to v0.44.4
  go.mod
  go.sum
Due: none

move the logic to GetRequestCounter method
  x/launch/keeper/request.go
Due: modules

fix the request id to unit tests
  testutil/sample/launch.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/request_test.go
  x/launch/simulation/store_test.go
Due: modules

feat: upgrade sdk version to v0.44.4 (#401)
  go.mod
  go.sum
Due: none

chore: set `spn` as the default token denom for all usage (#391)
  config.yml
Due: none

feat(launch): Setting request IDs starting from 1 (#399)
  testutil/sample/launch.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/launch/simulation/store_test.go
Due: modules

gomos
  go.mod
  go.sum
Due: none

proto
  proto/launch/tx.proto
  x/launch/types/tx.pb.go
Due: modules

Set creator as signer
  go.mod
  go.sum
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_account_test.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/message_request_add_vesting_account.go
Due: modules

Type tests
  testutil/sample/launch.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_add_vesting_account_test.go
Due: modules

Update creator
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
Due: modules

Handler test
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
Due: modules

cli
  x/launch/client/cli/tx_request_add_account.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/client/cli/tx_request_add_vesting_account.go
Due: none

Fix simulation
  x/launch/simulation/simulation.go
Due: modules

lint
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_add_vesting_account_test.go
Due: modules

Fix tests
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

Fix simulation test
  x/launch/simulation/simulation.go
Due: modules

comments
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
Due: modules

Remove message order
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_remove_account.go
  x/launch/client/cli/tx_request_remove_validator.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/tx.pb.go
Due: modules

go mod
  go.mod
  go.sum
Due: none

Set min launch time
  config.yml
Due: none

chore: change `minLaunchTime` launch param to 5 in `config.yml` (#410)
  config.yml
  go.mod
  go.sum
Due: none

feat(`launch`): makes request creation permissionless (#404)
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_add_account.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/client/cli/tx_request_add_vesting_account.go
  x/launch/client/cli/tx_request_remove_account.go
  x/launch/client/cli/tx_request_remove_validator.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/simulation/simulation.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_account_test.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_add_vesting_account_test.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/tx.pb.go
Due: modules

feat(config.yml): use `uspn` as denom
  config.yml
Due: none

feat(config.yml): use `uspn` as denom (#412)
  config.yml
Due: none
