Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

fix tests
  x/launch/client/cli/query_genesis_account_test.go
Due: client

add test cases invalid special allocations
  x/campaign/keeper/grpc_special_allocations_balance_test.go
Due: modules

Update x/claim/types/mission_test.go
  x/claim/types/mission_test.go
Due: modules

Update x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/client/cli/query_airdrop_supply_test.go
Due: client

Update x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_claim_record_test.go
Due: client

Update x/claim/client/cli/query_mission_test.go
  x/claim/client/cli/query_mission_test.go
Due: client

Update x/claim/types/claim_record_test.go
  x/claim/types/claim_record_test.go
Due: modules

x/claim/types/claim_record_test.go
  x/claim/types/mission_test.go
Due: modules

feat(`campaign`): implement `MsgUpdateSpecialAllocations` (#798)
  proto/campaign/events.proto
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/handler.go
  x/campaign/keeper/msg_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/events.pb.go
  x/campaign/types/msg_update_special_allocations.go
  x/campaign/types/msg_update_special_allocations_test.go
  x/campaign/types/tx.pb.go
Due: modules

fix not found query responses
  x/campaign/types/msg_update_special_allocations_test.go
  x/monitoringc/keeper/grpc_verified_client_ids.go
Due: modules

test: improve claim record validate
  x/claim/types/claim_record_test.go
Due: modules

remove tc vars
  pkg/chainid/chainid_test.go
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/keeper/grpc_campaign_chains_test.go
  x/campaign/keeper/grpc_campaign_summary_test.go
  x/campaign/keeper/grpc_campaign_test.go
  x/campaign/keeper/grpc_mainnet_vesting_account_test.go
  x/campaign/keeper/grpc_total_shares_test.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/keeper/grpc_chain_test.go
  x/launch/types/chain_test.go
  x/launch/types/msg_revert_launch_test.go
Due: modules, client

remove others
  x/launch/keeper/grpc_genesis_account_test.go
  x/launch/keeper/grpc_genesis_validator_test.go
  x/launch/keeper/grpc_request_test.go
  x/launch/types/genesis_test.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/msg_trigger_launch_test.go
  x/launch/types/msg_update_launch_information_test.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_available_allocations_test.go
  x/participation/client/cli/query_total_allocations_test.go
  x/participation/client/cli/query_used_allocations_test.go
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
  x/profile/keeper/grpc_coordinator_by_address_test.go
  x/profile/keeper/grpc_coordinator_test.go
  x/profile/keeper/grpc_validator_test.go
  x/reward/client/cli/query_reward_pool_test.go
Due: modules, client

test: improve claim record validate (#811)
  x/claim/types/claim_record_test.go
Due: modules

fix unit tests
  x/monitoringc/keeper/grpc_verified_client_ids_test.go
Due: modules

fix(monitoringc): fix not found query response for `VerifiedClientIds` (#810)
  x/campaign/types/msg_update_special_allocations_test.go
  x/monitoringc/keeper/grpc_verified_client_ids.go
  x/monitoringc/keeper/grpc_verified_client_ids_test.go
Due: modules

refactor start script for spn
  localnet/start_spn.py
  localnet/testnet/genesis_template.json
  localnet/testnet/node1/config/addrbook.json
  localnet/testnet/node1/config/genesis.json
  localnet/testnet/node1/config/gentx/gentx.json
  localnet/testnet/node1/data/priv_validator_state.json
  localnet/testnet/node2/config/addrbook.json
  localnet/testnet/node2/config/genesis.json
  localnet/testnet/node2/config/gentx/gentx.json
  localnet/testnet/node2/data/cs.wal/wal
  localnet/testnet/node2/data/priv_validator_state.json
  localnet/testnet/node3/config/addrbook.json
  localnet/testnet/node3/config/genesis.json
  localnet/testnet/node3/config/gentx/gentx.json
  localnet/testnet/node3/data/priv_validator_state.json
Due: none

fix genesis template
  localnet/spn/genesis_template.json
Due: none

fix script
  localnet/clear.py
  localnet/start_spn.py
  localnet/testnet/node2/data/cs.wal/wal
Due: none

gomod
  go.mod
  go.sum
Due: none

start testnet
  localnet/start_spn.py
  localnet/start_testnet.py
  localnet/testnet/genesis_template.json
  localnet/testnet/spncs.yaml
  localnet/utils.py
Due: none

update git ignore
  .gitignore
Due: none

rewards script
  localnet/initialize_rewards.py
  localnet/run_incentivized.py
Due: none

add hermes config
  localnet/hermes/config.toml
Due: none

update gitignore
  .gitignore
Due: none

fix incentivized
  localnet/run_incentivized.py
Due: none

auction scripts
  localnet/auctions/auction_template.json
  localnet/auctions/sale_template.json
  localnet/run_auction.py
  localnet/run_sale.py
  localnet/utils.py
Due: none

Update x/campaign/keeper/grpc_special_allocations_balance.go
  x/campaign/keeper/grpc_special_allocations_balance.go
Due: modules

feat(`campaign`): implement query `special-allocations-balance` (#802)
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_special_allocations_balance.go
  x/campaign/keeper/grpc_special_allocations_balance.go
  x/campaign/keeper/grpc_special_allocations_balance_test.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

incentivized testnet
  .gitignore
  localnet/conf.yml
  localnet/run_incentivized.py
  localnet/start_testnet.py
  localnet/testnet/node1/config/gentx/gentx.json
  localnet/testnet/node2/config/gentx/gentx.json
  localnet/testnet/node3/config/gentx/gentx.json
  localnet/testnet/spncs.yaml
Due: none

gitignore
  .gitignore
Due: none

sale
  localnet/run_auction.py
  localnet/run_sale.py
Due: none

fix auction script
  localnet/auctions/auction_template.json
  localnet/run_auction.py
Due: none

last fixes
  localnet/readme.md
  localnet/spn/genesis_template.json
  localnet/utils.py
Due: none

simulation method
  x/campaign/simulation/simulation.go
Due: modules

add simulation
  x/campaign/module_simulation.go
Due: none

message order
  proto/campaign/tx.proto
  x/campaign/handler.go
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
