Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

simplify set used_allocation logic
  x/participation/keeper/available_allocations.go
  x/participation/keeper/msg_participate.go
Due: modules

add ErrAlreadyParticipating
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/types/errors.go
Due: modules

remove invalid address test
  x/participation/keeper/msg_participate_test.go
Due: modules

starport generation
  proto/participation/tx.proto
  x/participation/client/cli/tx.go
  x/participation/client/cli/tx_withdraw_allocations.go
  x/participation/handler.go
  x/participation/keeper/msg_server_withdraw_allocations.go
  x/participation/module_simulation.go
  x/participation/simulation/withdraw_allocations.go
  x/participation/types/codec.go
  x/participation/types/message_withdraw_allocations.go
  x/participation/types/message_withdraw_allocations_test.go
  x/participation/types/tx.pb.go
Due: modules

add test cases
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/msg_participate_test.go
Due: modules

refactor(`reward`): distribute rewards to the operator address if no validator profile (#627)
  x/profile/client/cli/tx_add_validator_operator_address.go
  x/profile/types/errors.go
  x/profile/types/msg_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

add `registrationPeriod` and `withdrawalDelay` params
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/keeper/grpc_total_allocation_test.go
  x/participation/keeper/params.go
  x/participation/keeper/params_test.go
  x/participation/keeper/total_allocation_test.go
  x/participation/module_simulation.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

refine logic
  proto/participation/tx.proto
  x/participation/client/cli/tx_withdraw_allocations.go
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/msg_server_withdraw_allocations.go
  x/participation/keeper/msg_server_withdraw_allocations_test.go
  x/participation/module_simulation.go
  x/participation/simulation/withdraw_allocations.go
  x/participation/types/errors.go
  x/participation/types/message_withdraw_allocations.go
  x/participation/types/message_withdraw_allocations_test.go
  x/participation/types/tx.pb.go
Due: modules

address comments
  config.yml
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

address minor comments
  x/participation/client/cli/tx_withdraw_allocations.go
  x/participation/keeper/msg_server_withdraw_allocations.go
  x/participation/types/message_withdraw_allocations_test.go
Due: modules

return 0 used allocations for valid addresses with no entry
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/used_allocations_test.go
Due: modules, client

Update x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate.go
Due: modules

add `withdrawn` bool to `auctionUsedAllocations`
  proto/participation/auction_used_allocations.proto
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/invariants.go
  x/participation/keeper/msg_server_withdraw_allocations.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/errors.go
Due: modules

add genesis check
  x/participation/keeper/invariants_test.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
Due: modules

make error uniform with other allocations queries
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
Due: modules

feat(`participation`): full `MsgParticipate` functionality (#630)
  go.mod
  go.sum
  proto/participation/query.proto
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_available_allocations.go
  x/participation/client/cli/query_available_allocations_test.go
  x/participation/client/cli/query_total_allocations.go
  x/participation/client/cli/query_total_allocations_test.go
  x/participation/keeper/available_allocations.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_available_allocations.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_total_allocations.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/total_allocations.go
  x/participation/keeper/total_allocations_test.go
  x/participation/types/errors.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/tier.go
  x/participation/types/tier_test.go
Due: modules, client

address comments
  x/participation/keeper/available_allocations_test.go
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

fix(`participation`): return 0 for `usedAllocations` query when address is valid but no entry is found (#640)
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/used_allocations_test.go
Due: modules, client

remove params and associated test/logic
  config.yml
  proto/monitoringc/params.proto
  proto/monitoringp/params.proto
  testutil/sample/monitoring.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/params.go
  x/monitoringc/keeper/params_test.go
  x/monitoringc/module_simulation.go
  x/monitoringc/types/params.go
  x/monitoringc/types/params.pb.go
  x/monitoringc/types/params_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module_simulation.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

fix failing tests due to param setting
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/msg_participate_test.go
Due: modules

fix unit tests
  x/participation/keeper/available_allocations.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_server_withdraw_allocations.go
  x/participation/keeper/msg_server_withdraw_allocations_test.go
  x/participation/types/errors.go
  x/participation/types/message_withdraw_allocations_test.go
Due: modules

rename files
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/types/msg_withdraw_allocations.go
  x/participation/types/msg_withdraw_allocations_test.go
Due: modules

remove unused line in unit test
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

feat(`participation`): add `registrationPeriod` and `withdrawalDelay` params (#634)
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/params.go
  x/participation/keeper/params_test.go
  x/participation/keeper/total_allocations_test.go
  x/participation/module_simulation.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

remove all mentions of
  localnet/conf.yml
  x/monitoringc/keeper/handshake.go
Due: modules

remove all mentions of
  localnet/genesis_template.json
Due: none

Update x/participation/types/errors.go
  x/participation/types/errors.go
Due: none

Update x/participation/module_simulation.go
  x/participation/module_simulation.go
Due: none

add time checks to `msgParticipate`
  x/participation/keeper/msg_participate.go
  x/participation/types/errors.go
Due: modules

perform auction start check first
  x/participation/keeper/msg_participate.go
Due: modules

address comments
  testutil/keeper/participation.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

rename file
  testutil/keeper/fundraising.go
Due: none

feat(`participation`): scaffold `WithdrawAllocations` message (#637)
  proto/participation/auction_used_allocations.proto
  proto/participation/tx.proto
  testutil/keeper/fundraising.go
  x/participation/client/cli/tx.go
  x/participation/client/cli/tx_withdraw_allocations.go
  x/participation/handler.go
  x/participation/keeper/available_allocations.go
  x/participation/keeper/invariants.go
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/module_simulation.go
  x/participation/simulation/withdraw_allocations.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/codec.go
  x/participation/types/errors.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
  x/participation/types/msg_withdraw_allocations.go
  x/participation/types/msg_withdraw_allocations_test.go
  x/participation/types/tx.pb.go
Due: modules

run starport c serve
  go.mod
  go.sum
Due: none

refactor into simulation.go
  x/participation/simulation/participate.go
  x/participation/simulation/simulation.go
Due: modules

refactor into simulation.go
  x/participation/simulation/simulation.go
Due: modules

improve calculate rewards test
  x/reward/keeper/reward_distribution_test.go
Due: modules

remove debugmode config line
  localnet/start.py
Due: none

use `time.Duration` for `registrationPeriod` and extend `msgParticipate` tests
  config.yml
  go.mod
  go.sum
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/params.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

fix test
  x/participation/types/params_test.go
Due: modules
