Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

goimport
  testutil/networksuite/networksuite.go
Due: none

imports
  x/campaign/client/cli/query_test.go
  x/claim/client/cli/query_test.go
  x/launch/client/cli/query_test.go
  x/monitoringc/client/cli/query_test.go
  x/participation/client/cli/query_test.go
  x/profile/client/cli/query_test.go
  x/reward/client/cli/query_test.go
Due: client

fix campaign bug
  testutil/networksuite/networksuite.go
  x/campaign/client/cli/query_campaign_test.go
  x/reward/client/cli/query_test.go
Due: client

remove campaign summary cli
  x/campaign/client/cli/query_campaign_summary_test.go
Due: client

make format
  app/app.go
Due: none

fix(monitoring): `channel not found` error with IBC v3 (#828)
  app/app.go
  go.mod
  go.sum
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/module_ibc.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/module_ibc.go
Due: modules

chore: upgrade ibc-go to v3.0.0 (#679)
  app/app.go
  go.mod
  go.sum
  localnet/spn/node1/data/priv_validator_state.json
  localnet/spn/node2/data/priv_validator_state.json
  localnet/spn/node3/data/priv_validator_state.json
  pkg/types/consensus_state.go
  pkg/types/validator_set.go
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/keeper/monitoring_packet_test.go
  x/monitoringc/keeper/msg_create_client.go
  x/monitoringc/keeper/msg_create_client_test.go
  x/monitoringc/module.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/monitoring_packet.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
Due: modules

is mission completed
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
Due: modules

initialize error
  x/claim/types/errors.go
Due: none

add bank interface to claim
  app/app.go
  x/claim/types/expected_keepers.go
Due: modules

IsMissionCompleted
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
Due: modules

implement completeMission
  x/claim/keeper/claim_record.go
  x/claim/keeper/claim_record_test.go
Due: modules

add account keeper
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/claim/keeper/keeper.go
  x/claim/types/expected_keepers.go
Due: modules

refactor keeper tests
  testutil/constructor/constructor.go
  testutil/keeper/claim.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/grpc_params_test.go
  x/claim/keeper/grpc_query_airdrop_supply_test.go
  x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/grpc_query_mission_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
  x/claim/keeper/msg_test.go
  x/claim/keeper/params_test.go
  x/claim/types/expected_keepers.go
Due: modules

initialize airdrop
  x/claim/genesis.go
  x/claim/keeper/airdrop_supply.go
Due: modules

airdrop supply initial test
  x/claim/keeper/airdrop_supply_test.go
Due: modules

add `developmentFund` to `mint` module
  proto/mint/mint.proto
  x/mint/keeper/keeper.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
Due: modules

initialize airdrop test
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/claim/keeper/airdrop_supply_test.go
Due: modules

pushback remove
  x/claim/keeper/claim_record.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
Due: modules

remove remaining refs
  x/campaign/genesis_test.go
  x/campaign/keeper/invariants_test.go
  x/campaign/types/genesis_test.go
Due: modules

error case
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/claim_record.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
Due: modules

full tests
  x/claim/keeper/mission_test.go
Due: modules

goimport
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
Due: modules

handle genesis init error
  testutil/keeper/keeper.go
  x/claim/genesis.go
Due: modules

test fix
  x/claim/genesis_test.go
  x/claim/module_simulation.go
Due: modules

add issue link for TODO
  x/claim/keeper/airdrop_supply_test.go
Due: modules

initialize hook
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

add campaign auction event
  proto/campaign/events.proto
  x/campaign/types/events.pb.go
Due: modules

add hooks
  app/app.go
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

refactor(`campaign`): remove msg add shares (#837)
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_shares.go
  x/campaign/handler.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_shares_test.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/types/codec.go
  x/campaign/types/msg_add_shares.go
  x/campaign/types/msg_add_shares_test.go
  x/campaign/types/tx.pb.go
Due: modules

test: implement query test suite (#832)
  testutil/networksuite/networksuite.go
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/client/cli/query_test.go
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_mission_test.go
  x/claim/client/cli/query_test.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_available_allocations_test.go
  x/participation/client/cli/query_test.go
  x/participation/client/cli/query_total_allocations_test.go
  x/participation/client/cli/query_used_allocations_test.go
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_test.go
  x/profile/client/cli/query_validator_test.go
  x/reward/client/cli/query_reward_pool_test.go
  x/reward/client/cli/query_test.go
Due: client

Apply suggestions from code review
  x/claim/keeper/claim_record.go
Due: modules

query
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
Due: client

genesis test
  x/launch/genesis_test.go
Due: modules

types
  x/launch/types/chain_test.go
  x/launch/types/genesis_test.go
  x/launch/types/initial_genesis_test.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/msg_request_add_account_test.go
  x/launch/types/msg_request_add_validator_test.go
  x/launch/types/msg_request_add_vesting_account_test.go
  x/launch/types/msg_request_remove_account_test.go
  x/launch/types/msg_request_remove_validator_test.go
  x/launch/types/msg_revert_launch_test.go
  x/launch/types/msg_settle_request_test.go
  x/launch/types/msg_trigger_launch_test.go
  x/launch/types/msg_update_launch_information_test.go
  x/launch/types/params_test.go
  x/launch/types/peer_test.go
  x/launch/types/request_content_test.go
  x/launch/types/vesting_options_test.go
Due: modules

simulation
  x/launch/simulation/store_test.go
Due: modules

grpc
  x/launch/keeper/chain_test.go
  x/launch/keeper/genesis_account_test.go
  x/launch/keeper/genesis_validator_test.go
  x/launch/keeper/grpc_chain_test.go
  x/launch/keeper/grpc_genesis_account_test.go
  x/launch/keeper/grpc_genesis_validator_test.go
  x/launch/keeper/grpc_params_test.go
  x/launch/keeper/grpc_request_test.go
  x/launch/keeper/grpc_vesting_account_test.go
  x/launch/keeper/invariants_test.go
  x/launch/keeper/request_test.go
  x/launch/keeper/vesting_account_test.go
Due: modules

messages
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/keeper/msg_request_add_account_test.go
  x/launch/keeper/msg_request_add_validator_test.go
  x/launch/keeper/msg_request_add_vesting_account_test.go
  x/launch/keeper/msg_request_remove_account_test.go
  x/launch/keeper/msg_request_remove_validator_test.go
  x/launch/keeper/msg_revert_launch_test.go
  x/launch/keeper/msg_settle_request_test.go
  x/launch/keeper/msg_trigger_launch_test.go
  x/launch/keeper/msg_update_launch_information_test.go
  x/launch/keeper/params_test.go
Due: modules

all keeper
  x/launch/keeper/request_test.go
  x/launch/keeper/validator_set_test.go
  x/launch/keeper/vesting_account_test.go
Due: modules

fixes
  x/launch/keeper/msg_request_remove_account_test.go
  x/launch/keeper/msg_request_remove_validator_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
