Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

remove unused logic to add campaign to chain
  x/campaign/keeper/grpc_query_campaign_test.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/types/expected_keepers.go
Due: modules

Logic test
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_initialize_mainnet_test.go
  x/campaign/keeper/msg_server_unredeem_vouchers_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/keeper/msg_server_update_total_supply_test.go
Due: modules

prevent account request if the chain is a mainnet
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/types/errors.go
Due: modules

Fix tests
  testutil/sample/sample.go
Due: none

Quality
  proto/campaign/tx.proto
  x/campaign/types/codec.go
Due: none

Starport generation
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_mint_vouchers.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/types/codec.go
  x/campaign/types/message_mint_vouchers.go
  x/campaign/types/message_mint_vouchers_test.go
  x/campaign/types/tx.pb.go
Due: modules

Add shares to message
  proto/campaign/tx.proto
  x/campaign/client/cli/tx_mint_vouchers.go
  x/campaign/types/message_mint_vouchers.go
  x/campaign/types/tx.pb.go
Due: modules

Message type tests
  x/campaign/types/message_mint_vouchers.go
  x/campaign/types/message_mint_vouchers_test.go
Due: modules

Implement message
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/types/errors.go
  x/campaign/types/expected_keepers.go
Due: modules

Add bankkeeper to test keeper
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_initialize_mainnet_test.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/keeper/msg_server_update_total_supply_test.go
  x/launch/keeper/msg_server_test.go
Due: modules

Message logic test
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_initialize_mainnet_test.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_mint_vouchers_test.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/keeper/msg_server_update_total_supply_test.go
Due: modules

Add assertion
  x/campaign/keeper/msg_server_unredeem_vouchers_test.go
Due: modules

test: use `ElementsMatch` and do some improvement (#323)
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/grpc_query_mainnet_account_test.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/genesis_test.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/grpc_query_chain_test.go
  x/launch/keeper/grpc_query_genesis_account_test.go
  x/launch/keeper/grpc_query_genesis_validator_test.go
  x/launch/keeper/grpc_query_request_test.go
  x/launch/keeper/grpc_query_vesting_account_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
  x/profile/genesis_test.go
  x/profile/keeper/grpc_query_coordinator_test.go
  x/profile/keeper/grpc_query_validator_test.go
Due: modules, client

comments
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_mint_vouchers_test.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/types/message_mint_vouchers_test.go
Due: modules

Update x/campaign/client/cli/tx_unredeem_vouchers.go
  x/campaign/client/cli/tx_unredeem_vouchers.go
Due: none

comment
  x/campaign/keeper/msg_server_test.go
  x/campaign/types/message_unredeem_vouchers_test.go
Due: modules

add unit tests for isMainnet chains
  x/campaign/client/cli/query_campaign_test.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_account_test.go
Due: modules, client

fail to create a chain without critical
  x/campaign/client/cli/query_campaign_test.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/types/errors.go
Due: modules, client

add error description for chain already in mainnet
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
Due: modules

improve the error handlers for msg
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/types/errors.go
Due: modules

Use pointer
  app/app.go
  x/campaign/keeper/keeper.go
Due: none

fmt
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/keeper/keeper.go
Due: client

Add simapp to app
  app/app.go
Due: none

feat(campaign): implement `MsgMintVouchers` (#326)
  proto/campaign/tx.proto
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_mint_vouchers.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_initialize_mainnet_test.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_mint_vouchers_test.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/keeper/msg_server_update_total_supply_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/message_mint_vouchers.go
  x/campaign/types/message_mint_vouchers_test.go
  x/campaign/types/tx.pb.go
  x/launch/keeper/msg_server_test.go
Due: modules

Sim interfaces
  x/campaign/module_simulation.go
  x/launch/module_simulation.go
  x/profile/module_simulation.go
Due: modules

fix: use references for keeper instances between `launch` and `campaign` (#327)
  app/app.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/keeper/keeper.go
Due: client

Implement interface
  x/campaign/module_simulation.go
  x/launch/module_simulation.go
  x/profile/module_simulation.go
Due: modules

feat(campaign): verify accounts and chain list are associated with an existing campaign id (#320)
  x/campaign/types/genesis.go
  x/campaign/types/genesis_test.go
Due: modules

improve logs and errors messages
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/types/errors.go
Due: modules

feat(launch): prevent account request if the chain is a mainnet (#324)
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/types/errors.go
Due: modules

Fix app
  app/app.go
  x/campaign/client/cli/query_campaign_test.go
Due: client

add more 2 test cases
  x/launch/keeper/msg_server_create_chain_test.go
Due: modules

Benchmark
  app/app.go
  app/simulation_test.go
  testutil/simapp/simapp.go
Due: none

feat(launch): allows to provide a campaign ID to a chain (#321)
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/launch/types/errors.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_create_chain_test.go
  x/launch/types/tx.pb.go
Due: modules

feat(campaign): implement `MsgUnredeemVouchers` (#325)
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_unredeem_vouchers.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_unredeem_vouchers.go
  x/campaign/keeper/msg_server_unredeem_vouchers_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/message_add_shares.go
  x/campaign/types/message_add_vesting_options.go
  x/campaign/types/message_add_vesting_options_test.go
  x/campaign/types/message_unredeem_vouchers.go
  x/campaign/types/message_unredeem_vouchers_test.go
  x/campaign/types/message_update_total_shares.go
  x/campaign/types/tx.pb.go
Due: modules

add burn voucher message
  proto/campaign/tx.proto
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_burn_vouchers.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_burn_vouchers.go
  x/campaign/keeper/msg_server_burn_vouchers_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/message_burn_vouchers.go
  x/campaign/types/message_burn_vouchers_test.go
  x/campaign/types/tx.pb.go
Due: modules

remove unused err
  x/campaign/types/errors.go
Due: none

scaffold the message and tests
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/handler.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/tx.pb.go
Due: modules

scaffold the message and tests
  x/campaign/client/cli/tx_redeem_vouchers.go
  x/campaign/keeper/msg_server_redeem_vouchers.go
  x/campaign/keeper/msg_server_redeem_vouchers_test.go
  x/campaign/types/message_redeem_vouchers.go
  x/campaign/types/message_redeem_vouchers_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
