Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

new format
  x/launch/types/errors.go
  x/launch/types/request_content.go
Due: modules

fix test
  x/launch/types/request_content_test.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

allowunderscoore
  x/launch/types/request_content.go
Due: modules

refactor(`launch`): improve `ValidateParamChange` errors (#994)
  go.mod
  go.sum
  x/launch/types/errors.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

fix(`launch`): allow underscore for param name in `ParamChange` request (#995)
  x/launch/types/request_content.go
Due: modules

test all go packages and remove the non-testable files from coverage
  .github/workflows/test.yml
Due: none

update ci filter
  .github/workflows/test.yml
Due: none

chore(ci/coverage): test all go packages and remove the non-testable files from coverage (#996)
  .github/workflows/test.yml
Due: none

Add a param MaxMetadataLength field to campaign params
  pkg/types/constant.go
  proto/campaign/params.proto
  testutil/sample/campaign.go
  testutil/sample/launch.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_edit_campaign.go
  x/campaign/keeper/msg_edit_campaign_test.go
  x/campaign/types/msg_create_campaign.go
  x/campaign/types/msg_create_campaign_test.go
  x/campaign/types/msg_edit_campaign.go
  x/campaign/types/msg_edit_campaign_test.go
  x/campaign/types/params.go
  x/campaign/types/params.pb.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/types/expected_keepers.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/msg_edit_chain_test.go
Due: modules

fix campaign types test fields for newParams method
  pkg/types/constant.go
  x/campaign/types/genesis_test.go
  x/campaign/types/params.go
  x/campaign/types/params_test.go
Due: modules

create a MaxMetadataLength param for launch module
  proto/launch/params.proto
  testutil/sample/launch.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_edit_campaign.go
  x/campaign/keeper/msg_edit_campaign_test.go
  x/campaign/keeper/params.go
  x/campaign/types/params.go
  x/campaign/types/params_test.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/keeper/params.go
  x/launch/types/expected_keepers.go
  x/launch/types/genesis_test.go
  x/launch/types/params.go
  x/launch/types/params.pb.go
  x/launch/types/params_test.go
Due: modules

fetch all paramset instead one by one field
  x/launch/keeper/params.go
Due: modules

update codeowners
  .github/CODEOWNERS
Due: none

chore: update codeowners (#999)
  .github/CODEOWNERS
Due: none

fix the ci branch from `master` to `main`
  .github/workflows/test.yml
Due: none

git commit -am "change `GetParams` from campaign module to avoid use the `paramset`"
  x/campaign/keeper/params.go
  x/launch/keeper/params.go
Due: modules

fix: move CI unit test branch from master to main (#1000)
  .github/workflows/test.yml
Due: none

feat: add `MaxMetadataLength` param to campaign keeper (#997)
  pkg/types/constant.go
  proto/campaign/params.proto
  proto/launch/params.proto
  testutil/sample/campaign.go
  testutil/sample/launch.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_edit_campaign.go
  x/campaign/keeper/msg_edit_campaign_test.go
  x/campaign/keeper/params.go
  x/campaign/types/genesis_test.go
  x/campaign/types/msg_create_campaign.go
  x/campaign/types/msg_create_campaign_test.go
  x/campaign/types/msg_edit_campaign.go
  x/campaign/types/msg_edit_campaign_test.go
  x/campaign/types/params.go
  x/campaign/types/params.pb.go
  x/campaign/types/params_test.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/keeper/params.go
  x/launch/types/expected_keepers.go
  x/launch/types/genesis_test.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_create_chain_test.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/params.go
  x/launch/types/params.pb.go
  x/launch/types/params_test.go
Due: modules

remove protobuf
  proto/buf.gen.gogo.yaml
  proto/buf.gen.pulsar.yaml
  proto/buf.lock
  proto/buf.yaml
Due: none

protos
  proto/campaign/campaign.proto
  proto/campaign/genesis.proto
  proto/campaign/query.proto
  proto/campaign/special_allocations.proto
  proto/campaign/tx.proto
  proto/campaign/vesting.proto
  proto/launch/genesis.proto
  proto/launch/genesis_account.proto
  proto/launch/genesis_validator.proto
  proto/launch/query.proto
  proto/launch/tx.proto
  proto/monitoringc/genesis.proto
  proto/monitoringc/query.proto
  proto/monitoringc/tx.proto
  proto/monitoringp/genesis.proto
  proto/monitoringp/query.proto
  proto/monitoringp/tx.proto
  proto/participation/genesis.proto
  proto/participation/query.proto
  proto/participation/tx.proto
  proto/profile/coordinator.proto
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/tx.proto
  proto/profile/validator.proto
  proto/reward/genesis.proto
  proto/reward/query.proto
  proto/reward/tx.proto
Due: none

more removal
  go.mod
  go.sum
  x/launch/types/genesis.pb.go
  x/launch/types/tx.pb.go
Due: modules

fix merge issues
  x/campaign/keeper/params.go
Due: modules

refactor: avoid use paramset for `getParam` keeper method (#998)
  x/campaign/keeper/params.go
Due: modules

chore: do some cleanup in proto files (#1002)
  proto/buf.gen.gogo.yaml
  proto/buf.gen.pulsar.yaml
  proto/buf.lock
  proto/buf.yaml
  proto/campaign/campaign.proto
  proto/campaign/genesis.proto
  proto/campaign/query.proto
  proto/campaign/special_allocations.proto
  proto/campaign/tx.proto
  proto/campaign/vesting.proto
  proto/launch/genesis.proto
  proto/launch/genesis_account.proto
  proto/launch/genesis_validator.proto
  proto/launch/query.proto
  proto/launch/tx.proto
  proto/monitoringc/genesis.proto
  proto/monitoringc/query.proto
  proto/monitoringc/tx.proto
  proto/monitoringp/genesis.proto
  proto/monitoringp/query.proto
  proto/monitoringp/tx.proto
  proto/participation/genesis.proto
  proto/participation/query.proto
  proto/participation/tx.proto
  proto/profile/coordinator.proto
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/tx.proto
  proto/profile/validator.proto
  proto/reward/genesis.proto
  proto/reward/query.proto
  proto/reward/tx.proto
  x/launch/types/genesis.pb.go
  x/launch/types/tx.pb.go
Due: modules

appgo
  app/app.go
Due: none

proto
  proto/campaign/genesis.proto
  proto/launch/chain.proto
  proto/launch/events.proto
  proto/launch/tx.proto
  proto/project/events.proto
  proto/project/genesis.proto
  proto/project/mainnet_account.proto
  proto/project/params.proto
  proto/project/project.proto
  proto/project/project_chains.proto
  proto/project/query.proto
  proto/project/special_allocations.proto
  proto/project/tx.proto
  proto/project/vesting.proto
  x/project/types/campaign.pb.go
  x/project/types/campaign_chains.pb.go
  x/project/types/events.pb.go
  x/project/types/genesis.pb.go
  x/project/types/mainnet_account.pb.go
  x/project/types/params.pb.go
  x/project/types/query.pb.go
  x/project/types/query.pb.gw.go
  x/project/types/special_allocations.pb.go
  x/project/types/tx.pb.go
  x/project/types/vesting.pb.go
Due: modules

rename file in project module
  x/project/client/cli/query_project.go
  x/project/client/cli/query_project_chains.go
  x/project/client/cli/query_project_chains_test.go
  x/project/client/cli/query_project_test.go
  x/project/client/cli/tx_create_project.go
  x/project/client/cli/tx_edit_project.go
  x/project/keeper/grpc_project.go
  x/project/keeper/grpc_project_chains.go
  x/project/keeper/grpc_project_chains_test.go
  x/project/keeper/grpc_project_test.go
  x/project/keeper/msg_create_project.go
  x/project/keeper/msg_create_project_test.go
  x/project/keeper/msg_edit_project.go
  x/project/keeper/msg_edit_project_test.go
  x/project/keeper/project.go
  x/project/keeper/project_auction_event_hooks.go
  x/project/keeper/project_auction_event_hooks_test.go
  x/project/keeper/project_chains.go
  x/project/keeper/project_chains_test.go
  x/project/keeper/project_mainnet.go
  x/project/keeper/project_mainnet_test.go
  x/project/keeper/project_test.go
  x/project/types/msg_create_project.go
  x/project/types/msg_create_project_test.go
  x/project/types/msg_edit_project.go
  x/project/types/msg_edit_project_test.go
  x/project/types/project.go
  x/project/types/project_test.go
Due: modules, client

project renaming
  localnet/initialize_rewards.py
  localnet/run_auction.py
  localnet/run_sale.py
  localnet/spn/genesis_template.json
  localnet/testnet/genesis_template.json
  localnet/utils.py
  testutil/constructor/constructor.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/networksuite/networksuite.go
  testutil/sample/campaign.go
  testutil/sample/launch.go
  testutil/sample/sample.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/grpc_genesis_account.go
  x/launch/keeper/grpc_genesis_account_test.go
  x/launch/keeper/invariants.go
  x/launch/keeper/invariants_test.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/keeper/request.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
  x/launch/types/chain.go
  x/launch/types/chain.pb.go
  x/launch/types/chain_test.go
  x/launch/types/errors.go
  x/launch/types/events.pb.go
  x/launch/types/expected_keepers.go
  x/launch/types/msg_create_chain.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/tx.pb.go
Due: modules

sample renaming
  testutil/keeper/keeper.go
  testutil/sample/project.go
Due: none

various renaming
  testutil/networksuite/networksuite.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/simulation/store.go
  x/project/keeper/msg_update_special_allocations_test.go
  x/project/keeper/project_chains_test.go
  x/project/simulation/simulation.go
  x/project/simulation/store.go
  x/project/simulation/store_test.go
Due: modules

build proto
  proto/project/project.proto
  x/launch/types/chain.pb.go
  x/launch/types/events.pb.go
  x/launch/types/tx.pb.go
  x/project/types/events.pb.go
  x/project/types/genesis.pb.go
  x/project/types/mainnet_account.pb.go
  x/project/types/params.pb.go
  x/project/types/project.pb.go
  x/project/types/project_chains.pb.go
  x/project/types/query.pb.go
  x/project/types/query.pb.gw.go
  x/project/types/special_allocations.pb.go
  x/project/types/tx.pb.go
  x/project/types/vesting.pb.go
Due: modules

proto format
  proto/launch/chain.proto
  proto/launch/events.proto
  proto/launch/params.proto
  proto/launch/tx.proto
  proto/monitoringp/tx.proto
  proto/project/events.proto
  proto/project/genesis.proto
  proto/project/mainnet_account.proto
  proto/project/params.proto
  proto/project/project.proto
  proto/project/project_chains.proto
  proto/project/query.proto
  proto/project/tx.proto
  proto/reward/query.proto
Due: none

fix test
  x/project/genesis_test.go
Due: modules

create hook file
  x/launch/keeper/hooks.go
  x/launch/keeper/keeper.go
  x/launch/types/hooks.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
