Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

fix cons by address logic
  go.mod
  go.sum
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/errors.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/tx.pb.go
Due: modules

add reward test keeper
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/reward.go
  x/reward/keeper/keeper.go
Due: none

remove unused authkeeper
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/profile/keeper/keeper.go
Due: none

fix keeper tests
  testutil/keeper/keeper.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/reward/genesis_test.go
  x/reward/keeper/grpc_query_params_test.go
  x/reward/keeper/msg_server_test.go
  x/reward/keeper/params_test.go
Due: modules

make lint
  app/app.go
  testutil/keeper/keeper.go
  x/monitoringc/keeper/keeper.go
  x/reward/client/cli/tx.go
  x/reward/keeper/keeper.go
  x/reward/module.go
Due: none

Update proto/monitoringp/connection_channel_id.proto
  proto/monitoringp/connection_channel_id.proto
Due: none

feat(`monitoringp`): check consumer client ID in IBC handshake (#468)
  proto/monitoringp/connection_channel_id.proto
  proto/monitoringp/genesis.proto
  proto/monitoringp/query.proto
  testutil/keeper/initializer.go
  testutil/keeper/monitoring_provider.go
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_connection_channel_id.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/connection_channel_id.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/grpc_query_connection_channel_id.go
  x/monitoringp/keeper/grpc_query_connection_channel_id_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/connection_channel_id.pb.go
  x/monitoringp/types/errors.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
Due: modules, client

Update x/monitoringc/keeper/launch_id_from_channel_id.go
  x/monitoringc/keeper/launch_id_from_channel_id.go
Due: modules

Update x/reward/keeper/keeper.go
  x/reward/keeper/keeper.go
Due: none

feat(`monitoringc`): add `LaunchIDFromChannelID` map for handshake (#469)
  proto/monitoringc/genesis.proto
  proto/monitoringc/launch_id_from_channel_id.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id.go
  x/monitoringc/keeper/grpc_query_launch_id_from_channel_id_test.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/launch_id_from_channel_id.go
  x/monitoringc/keeper/launch_id_from_channel_id_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/key_launch_id_from_channel_id.go
  x/monitoringc/types/launch_id_from_channel_id.pb.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

lint
  testutil/keeper/keeper.go
Due: none

apply review comments
  pkg/types/validator_key.go
  pkg/types/validator_key_test.go
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/tx.pb.go
Due: modules

handshake consumer test
  x/monitoringc/keeper/handshake_test.go
Due: modules

pass only the pub key to the message
  pkg/types/validator_key.go
  pkg/types/validator_key_test.go
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/tx.pb.go
Due: modules

handshake provider
  x/monitoringc/keeper/handshake_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
Due: modules

set debug mode to false
  config.yml
Due: none

fix proto file name and unit tests
  pkg/types/validator_key.go
  pkg/types/validator_key_test.go
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/tx.pb.go
Due: modules

add CheckValidatorSet keeper method
  x/launch/keeper/validator_set.go
Due: modules

upgrade to IBC v2
  app/app.go
  go.mod
  go.sum
  pkg/types/consensus_state.go
  pkg/types/validator_set.go
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/sample/sample.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/module.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
Due: modules

lint
  x/monitoringc/module_ibc.go
Due: modules

fix keeper message logic
  x/profile/keeper/msg_server_set_validator_cons_address.go
Due: modules

replace spm
  app/app.go
  app/simulation_test.go
  cmd/spnd/main.go
  go.mod
  go.sum
  testutil/network/network.go
Due: none

add the signature check into the valida basic method
  proto/profile/tx.proto
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/errors.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/tx.pb.go
Due: modules

starport generation
  proto/monitoringp/genesis.proto
  proto/monitoringp/monitoring_info.proto
  proto/monitoringp/query.proto
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_monitoring_info.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/grpc_query_monitoring_info.go
  x/monitoringp/keeper/grpc_query_monitoring_info_test.go
  x/monitoringp/keeper/monitoring_info.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/monitoring_info.pb.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
Due: modules, client

add signature counts
  proto/monitoringp/monitoring_info.proto
  x/monitoringp/types/monitoring_info.pb.go
Due: modules

genesis verification
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis_test.go
Due: modules

genesis validation
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis_test.go
Due: modules

fix tests
  x/monitoringp/keeper/grpc_query_monitoring_info_test.go
  x/monitoringp/keeper/monitoring_info_test.go
Due: modules

add uni test for CheckValidatorSet and GetTotalSelfDelegation
  testutil/sample/sample.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/genesis_validator_test.go
  x/launch/keeper/validator_set.go
  x/launch/keeper/validator_set_test.go
Due: modules

use the msg validator addres instead from pub key
  x/profile/keeper/msg_server_set_validator_cons_address.go
Due: modules

fix TestMsgSetValidatorConsAddress test case
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
Due: modules

chore: upgrade IBC to v2 and switch `spm` to `starport` (#474)
  app/app.go
  app/simulation_test.go
  cmd/spnd/main.go
  go.mod
  go.sum
  pkg/types/consensus_state.go
  pkg/types/validator_set.go
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/network/network.go
  testutil/sample/sample.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/module.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
Due: modules

Update x/monitoringp/client/cli/query_monitoring_info.go
  x/monitoringp/client/cli/query_monitoring_info.go
Due: client

Update x/monitoringp/types/genesis_test.go
  x/monitoringp/types/genesis_test.go
Due: modules

comment
  x/monitoringp/client/cli/query.go
Due: none

feat(`monitoringp`): monitoring info singleton (#478)
  proto/monitoringp/genesis.proto
  proto/monitoringp/monitoring_info.proto
  proto/monitoringp/query.proto
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_monitoring_info.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/grpc_query_monitoring_info.go
  x/monitoringp/keeper/grpc_query_monitoring_info_test.go
  x/monitoringp/keeper/monitoring_info.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/monitoring_info.pb.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
Due: modules, client

monitoring packet validate basics
  pkg/types/monitoring_packet.go
  pkg/types/monitoring_packet_test.go
Due: none

initialize packet for monitoring provider
  proto/monitoringp/packet.proto
  x/monitoringp/keeper/monitoring.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/events_ibc.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/packet.pb.go
Due: modules
