Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Update x/claim/genesis_test.go
  x/claim/genesis_test.go
Due: modules

comments
  x/claim/keeper/grpc_query_airdrop_supply_test.go
  x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/mission.go
Due: modules

remove rest
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/rest/query.go
  x/mint/client/rest/rest.go
Due: client

module.go
  x/mint/module.go
Due: none

revert(`mint`): remove `rest` from `cli` (#853)
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/rest/query.go
  x/mint/client/rest/rest.go
  x/mint/module.go
Due: client

update the cli pgk from go.mod
  go.mod
  go.sum
Due: none

use cli pr 2549
  go.mod
  go.sum
Due: none

fix invariant test
  x/campaign/keeper/invariants_test.go
Due: modules

fix genesis tests
  x/campaign/types/genesis_test.go
Due: modules

refactor(`campaign`): remove `MsgAddVestingOptions` (#827)
  go.mod
  go.sum
  proto/campaign/events.proto
  proto/campaign/genesis.proto
  proto/campaign/query.proto
  proto/campaign/tx.proto
  proto/campaign/vesting.proto
  testutil/sample/campaign.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_vesting_options.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_mainnet_vesting_account.go
  x/campaign/keeper/grpc_mainnet_vesting_account_test.go
  x/campaign/keeper/invariants.go
  x/campaign/keeper/invariants_test.go
  x/campaign/keeper/mainnet_vesting_account.go
  x/campaign/keeper/mainnet_vesting_account_test.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_add_vesting_options_test.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/types/codec.go
  x/campaign/types/events.pb.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/genesis_test.go
  x/campaign/types/mainnet_vesting_account.go
  x/campaign/types/msg_add_vesting_options.go
  x/campaign/types/msg_add_vesting_options_test.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/tx.pb.go
  x/campaign/types/vesting.pb.go
Due: modules, client

queries
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
Due: client

genesis
  x/profile/genesis_test.go
  x/profile/types/genesis_test.go
Due: modules

types
  x/profile/types/msg_add_validator_operator_address_test.go
  x/profile/types/msg_create_coordinator_test.go
  x/profile/types/msg_disable_coordinator_test.go
  x/profile/types/msg_update_coordinator_address_test.go
  x/profile/types/msg_update_coordinator_description_test.go
  x/profile/types/msg_update_validator_description_test.go
  x/profile/types/validator_test.go
Due: modules

simulation
  x/profile/simulation/store_test.go
Due: modules

keeper
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/coordinator_test.go
  x/profile/keeper/grpc_coordinator_by_address_test.go
  x/profile/keeper/grpc_coordinator_test.go
  x/profile/keeper/grpc_validator_by_operator_address_test.go
  x/profile/keeper/grpc_validator_test.go
  x/profile/keeper/invariants_test.go
  x/profile/keeper/validator_by_operator_address_test.go
  x/profile/keeper/validator_test.go
Due: modules

all messages
  x/profile/keeper/msg_add_validator_operator_address_test.go
  x/profile/keeper/msg_create_coordinator_test.go
  x/profile/keeper/msg_disable_coordinator_test.go
  x/profile/keeper/msg_update_coordinator_address_test.go
  x/profile/keeper/msg_update_coordinator_description_test.go
  x/profile/keeper/msg_update_validator_description_test.go
Due: modules

test
  config.yml
Due: none

feat(`claim`): implement `CompleteMission` (#836)
  app/app.go
  config.yml
  testutil/constructor/constructor.go
  testutil/keeper/claim.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/claim_record.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/grpc_params_test.go
  x/claim/keeper/grpc_query_airdrop_supply_test.go
  x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/grpc_query_mission_test.go
  x/claim/keeper/keeper.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
  x/claim/keeper/msg_test.go
  x/claim/keeper/params_test.go
  x/claim/module_simulation.go
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
  x/claim/types/errors.go
  x/claim/types/expected_keepers.go
Due: modules

chore(config): add claim sample genesis state
  config.yml
Due: none

fix: denom metadata
  config.yml
Due: none

upgrade fundraising
  go.mod
  go.sum
Due: none

add hooks
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

emit event
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

emit for both auction type
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

fix(`config.yml`): denom metadata (#868)
  config.yml
Due: none

chore(config): add claim sample genesis state (#867)
  config.yml
Due: none

test(`profile`): normalize test cases format (#866)
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
  x/profile/genesis_test.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/coordinator_test.go
  x/profile/keeper/grpc_coordinator_by_address_test.go
  x/profile/keeper/grpc_coordinator_test.go
  x/profile/keeper/grpc_validator_by_operator_address_test.go
  x/profile/keeper/grpc_validator_test.go
  x/profile/keeper/invariants_test.go
  x/profile/keeper/msg_add_validator_operator_address_test.go
  x/profile/keeper/msg_create_coordinator_test.go
  x/profile/keeper/msg_disable_coordinator_test.go
  x/profile/keeper/msg_update_coordinator_address_test.go
  x/profile/keeper/msg_update_coordinator_description_test.go
  x/profile/keeper/msg_update_validator_description_test.go
  x/profile/keeper/validator_by_operator_address_test.go
  x/profile/keeper/validator_test.go
  x/profile/simulation/store_test.go
  x/profile/types/genesis_test.go
  x/profile/types/msg_add_validator_operator_address_test.go
  x/profile/types/msg_create_coordinator_test.go
  x/profile/types/msg_disable_coordinator_test.go
  x/profile/types/msg_update_coordinator_address_test.go
  x/profile/types/msg_update_coordinator_description_test.go
  x/profile/types/msg_update_validator_description_test.go
  x/profile/types/validator_test.go
Due: modules, client

error handling
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

add remove keeper methods
  x/campaign/keeper/campaign.go
  x/campaign/keeper/campaign_test.go
  x/profile/keeper/coordinator.go
  x/profile/keeper/coordinator_test.go
Due: modules

test body
  x/campaign/keeper/campaign_auction_event_hooks_test.go
Due: modules

test cases
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/campaign_auction_event_hooks_test.go
Due: modules

liunt
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

add issue links
  x/campaign/keeper/campaign_auction_event_hooks.go
Due: modules

add delegation hooks
  x/claim/keeper/mission_delegation_hooks.go
Due: modules

add staking hook
  app/app.go
Due: none

add event mission completed
  proto/claim/events.proto
  x/claim/keeper/mission.go
  x/claim/types/events.pb.go
Due: modules

implement vote hook
  app/app.go
  x/claim/keeper/mission_delegation_hooks.go
  x/claim/keeper/mission_vote_hooks.go
Due: modules

register gov hook
  app/app.go
  x/claim/keeper/mission_vote_hooks.go
Due: modules

change gov deposit
  config.yml
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
