Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

fix error
  pkg/chainid/chainid.go
Due: none

Proto refactor
  go.mod
  go.sum
  proto/launch/chain.proto
  proto/launch/genesis_account.proto
  proto/launch/genesis_validator.proto
  proto/launch/query.proto
  proto/launch/request.proto
  proto/launch/tx.proto
  proto/launch/vesting_account.proto
  x/launch/types/chain.pb.go
  x/launch/types/genesis_account.pb.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
  x/launch/types/request.pb.go
  x/launch/types/tx.pb.go
  x/launch/types/vesting_account.pb.go
Due: modules

types
  proto/launch/genesis.proto
  x/launch/types/expected_keepers.go
  x/launch/types/genesis.go
  x/launch/types/genesis.pb.go
  x/launch/types/genesis_test.go
  x/launch/types/key_chain.go
  x/launch/types/key_genesis_account.go
  x/launch/types/key_genesis_validator.go
  x/launch/types/key_request.go
  x/launch/types/key_vesting_account.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_edit_chain_test.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_account_test.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_add_vesting_account_test.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_account_test.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/message_request_remove_validator_test.go
  x/launch/types/message_revert_launch.go
  x/launch/types/message_revert_launch_test.go
  x/launch/types/message_settle_request.go
  x/launch/types/message_settle_request_test.go
  x/launch/types/message_trigger_launch.go
  x/launch/types/message_trigger_launch_test.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

Simulation
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
Due: modules

cli
  x/launch/client/cli/query_chain.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/client/cli/tx_request_add_account.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/client/cli/tx_request_add_vesting_account.go
  x/launch/client/cli/tx_request_remove_account.go
  x/launch/client/cli/tx_request_remove_validator.go
  x/launch/client/cli/tx_revert_launch.go
  x/launch/client/cli/tx_settle_request.go
  x/launch/client/cli/tx_trigger_launch.go
Due: client

Genesis
  x/launch/genesis.go
Due: modules

Sample
  testutil/sample/launch.go
Due: none

Lint
  testutil/sample/launch.go
  x/launch/client/cli/query_genesis_account.go
  x/launch/client/cli/query_genesis_validator.go
  x/launch/client/cli/query_request.go
  x/launch/client/cli/query_vesting_account.go
  x/launch/genesis.go
  x/launch/keeper/grpc_query_genesis_account_test.go
  x/launch/keeper/grpc_query_genesis_validator_test.go
  x/launch/keeper/grpc_query_request_test.go
  x/launch/keeper/grpc_query_vesting_account_test.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/keeper/request_test.go
  x/launch/simulation/store_test.go
  x/launch/types/genesis_test.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_account_test.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_add_vesting_account_test.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_account_test.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/message_request_remove_validator_test.go
  x/launch/types/message_revert_launch.go
  x/launch/types/message_settle_request.go
  x/launch/types/message_settle_request_test.go
  x/launch/types/message_trigger_launch.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules, client

Remaining
  go.mod
  go.sum
  x/campaign/keeper/campaign_chains.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/keeper/grpc_query_vesting_account_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
Due: modules, client

Update x/launch/keeper/vesting_account.go
  x/launch/keeper/vesting_account.go
Due: modules

Small update
  x/launch/keeper/chain.go
Due: modules

Error wrap
  go.mod
  pkg/chainid/chainid.go
  pkg/chainid/chainid_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_request_test.go
Due: client

New first ID
  x/campaign/keeper/campaign.go
Due: modules

Update default genesis
  x/campaign/types/genesis.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_request_test.go
Due: modules, client

Reset campaign count
  x/campaign/keeper/campaign.go
Due: modules

fix(`launch`): prevent hiding invalid chain id error (#375)
  go.mod
  pkg/chainid/chainid.go
  pkg/chainid/chainid_test.go
  x/campaign/types/message_initialize_mainnet.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
Due: modules, client

refactor(`campaign`): start with ID `1` for `campaign` (#380)
  x/campaign/types/genesis.go
Due: modules

Set count to 1
  x/launch/types/genesis.go
Due: modules

refactor(launch): set initial launch ID counter to 1 (#382)
  x/launch/types/genesis.go
Due: modules

proto
  go.mod
  go.sum
  proto/campaign/genesis.proto
  proto/launch/chain.proto
  proto/launch/genesis.proto
  proto/profile/genesis.proto
  x/campaign/types/genesis.pb.go
  x/launch/types/chain.pb.go
  x/launch/types/genesis.pb.go
  x/profile/types/genesis.pb.go
Due: modules

campaign
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/campaign.go
  x/campaign/keeper/campaign_test.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis_test.go
  x/campaign/types/keys.go
Due: modules

launch
  x/launch/genesis.go
  x/launch/genesis_test.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/launch/types/genesis.go
  x/launch/types/genesis_test.go
  x/launch/types/key_chain.go
  x/launch/types/key_request.go
Due: modules

profile
  x/launch/keeper/chain.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/coordinator.go
  x/profile/keeper/coordinator_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
  x/profile/types/keys.go
Due: modules

samples
  testutil/sample/campaign.go
  testutil/sample/launch.go
  testutil/sample/profile.go
  x/campaign/types/genesis.go
  x/launch/genesis.go
  x/launch/types/genesis.go
  x/launch/types/genesis_test.go
  x/launch/types/key_request.go
Due: modules

Set coordinator counter to 1
  x/profile/types/genesis.go
Due: modules

Apply suggestions from code review
  go.mod
Due: none

fix: account rpc queries
  proto/launch/query.proto
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
Due: modules

launch
  x/launch/types/errors.go
  x/profile/types/errors.go
Due: none

campaign
  x/campaign/types/errors.go
Due: none

tidy
  go.sum
Due: none

fix: prevent using `1` for error codes (#385)
  x/campaign/types/errors.go
  x/launch/types/errors.go
  x/profile/types/errors.go
Due: none

fix: update tx response
  proto/launch/tx.proto
  x/launch/types/tx.pb.go
Due: modules

update msgserver
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_validator.go
Due: modules

fix: returns unique Tx response per Tx (#388)
  proto/launch/tx.proto
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/types/tx.pb.go
Due: modules

fix: account rpc queries (#384)
  proto/launch/query.proto
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
Due: modules

refactor: rename `count` objects into `counter` and set default coordinator counter to 1 (#383)
  proto/campaign/genesis.proto
  proto/launch/chain.proto
  proto/launch/genesis.proto
  proto/profile/genesis.proto
  testutil/sample/campaign.go
  testutil/sample/launch.go
  testutil/sample/profile.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/campaign.go
  x/campaign/keeper/campaign_test.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/genesis_test.go
  x/campaign/types/keys.go
  x/launch/genesis.go
  x/launch/genesis_test.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/launch/types/chain.pb.go
  x/launch/types/genesis.go
  x/launch/types/genesis.pb.go
  x/launch/types/genesis_test.go
  x/launch/types/key_chain.go
  x/launch/types/key_request.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/coordinator.go
  x/profile/keeper/coordinator_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
  x/profile/types/keys.go
Due: modules

chore/set spn token in config
  config.yml
Due: none

other denoms
  config.yml
Due: none
