Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

campaign
  x/campaign/keeper/mainnet_account.go
  x/campaign/keeper/mainnet_vesting_account.go
  x/campaign/types/keys.go
  x/launch/types/keys.go
Due: modules

genesis
  x/campaign/types/genesis.go
  x/launch/types/genesis.go
Due: modules

refactor: factorize similar store key methods (#882)
  x/campaign/keeper/mainnet_account.go
  x/campaign/keeper/mainnet_vesting_account.go
  x/campaign/types/genesis.go
  x/campaign/types/keys.go
  x/launch/keeper/genesis_account.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/vesting_account.go
  x/launch/types/genesis.go
  x/launch/types/keys.go
Due: modules

add port check
  go.mod
  go.sum
  x/launch/client/cli/tx_create_chain.go
Due: none

fix(launch): force port 443 for create-chain command custom genesis (#884)
  go.mod
  go.sum
  x/launch/client/cli/tx_create_chain.go
Due: none

squeletton
  x/claim/module_simulation.go
  x/claim/simulation/simap.go
  x/claim/simulation/simulation.go
Due: modules

chore(): fix query prefixes
  x/claim/keeper/grpc_airdrop_supply.go
  x/claim/keeper/grpc_airdrop_supply_test.go
  x/claim/keeper/grpc_claim_record.go
  x/claim/keeper/grpc_claim_record_test.go
  x/claim/keeper/grpc_initial_claim.go
  x/claim/keeper/grpc_initial_claim_test.go
  x/claim/keeper/grpc_mission.go
  x/claim/keeper/grpc_mission_test.go
Due: modules

chore(): fix query prefixes (#887)
  x/claim/keeper/grpc_airdrop_supply.go
  x/claim/keeper/grpc_airdrop_supply_test.go
  x/claim/keeper/grpc_claim_record.go
  x/claim/keeper/grpc_claim_record_test.go
  x/claim/keeper/grpc_initial_claim.go
  x/claim/keeper/grpc_initial_claim_test.go
  x/claim/keeper/grpc_mission.go
  x/claim/keeper/grpc_mission_test.go
Due: modules

simulation
  x/claim/module_simulation.go
  x/claim/simulation/simulation.go
Due: modules

format
  x/claim/simulation/simulation.go
Due: modules

feat(`claim`): simulation for `MsgClaimInitial` (#886)
  x/claim/module_simulation.go
  x/claim/simulation/simap.go
  x/claim/simulation/simulation.go
Due: modules

update imports
  app/app.go
Due: none

format repo
  testutil/keeper/initializer.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/claim/client/cli/tx_claim_initial.go
  x/launch/types/request_content_test.go
  x/profile/keeper/coordinator_by_address_test.go
Due: modules

bump
  go.mod
  go.sum
Due: none

chore: bump cosmos SDK (#890)
  go.mod
  go.sum
Due: none

chore: fix app import names (#889)
  app/app.go
  testutil/keeper/initializer.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/claim/client/cli/tx_claim_initial.go
  x/launch/types/request_content_test.go
  x/profile/keeper/coordinator_by_address_test.go
Due: modules

proto
  proto/campaign/query.proto
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

remove queries
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign_test.go
Due: modules, client

remove fundraising dependency
  app/app.go
  testutil/keeper/initializer.go
  x/campaign/keeper/keeper.go
  x/campaign/types/expected_keepers.go
Due: modules

add constant for mission ids
  app/app.go
Due: none

add simulations
  x/claim/module_simulation.go
  x/claim/simulation/simulation.go
Due: modules

refactor(`campaign`): remove `AuctionsOfCampaign` (#892)
  app/app.go
  proto/campaign/query.proto
  testutil/keeper/initializer.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign_test.go
  x/campaign/keeper/keeper.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

fix(`claim`): define mission 1 and 2 for simulations (#893)
  app/app.go
  x/claim/module_simulation.go
  x/claim/simulation/simulation.go
Due: modules

fix check
  x/participation/keeper/total_allocations.go
Due: modules

fix: app.go const lint
  app/app.go
Due: none

to lowercase
  app/app.go
Due: none

replace to ID
  app/app.go
Due: none

comments
  app/app.go
Due: none

add new config file
  config_26661.yml
Due: none

description
  config_26661.yml
Due: none

fix: app.go const lint (#896)
  app/app.go
Due: none

further simplification
  config_26661.yml
  go.mod
  go.sum
Due: none

Update config_26661.yml
  config_26661.yml
Due: none

rename
  config_2.yml
Due: none

chore: add `config_26661.yml` to serve chain without port collisions (#900)
  config_2.yml
  go.mod
  go.sum
Due: none

update proto
  proto/participation/auction_used_allocations.proto
  proto/participation/events.proto
  proto/participation/params.proto
  proto/participation/query.proto
  proto/participation/used_allocations.proto
Due: none

proto compile
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/events.pb.go
  x/participation/types/params.pb.go
  x/participation/types/query.pb.go
  x/participation/types/used_allocations.pb.go
Due: modules

refactor
  testutil/networksuite/networksuite.go
  testutil/sample/participation.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/available_allocations.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/invariants.go
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/total_allocations.go
  x/participation/keeper/total_allocations_test.go
  x/participation/keeper/used_allocations.go
  x/participation/keeper/used_allocations_test.go
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
  x/participation/types/params.go
  x/participation/types/params_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
