Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Update x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
Due: client

Update x/monitoringc/client/cli/query_launch_id_from_channel_id.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id.go
Due: client

fix test error
  testutil/keeper/keeper.go
Due: none

fix unit-tests
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/types/genesis_test.go
Due: modules

cleanup proto
  proto/monitoringc/launch_id_from_channel_id.proto
  proto/monitoringc/launch_id_from_verified_client_id.proto
  proto/monitoringc/monitoring_history.proto
  proto/monitoringc/params.proto
  proto/monitoringc/provider_client_id.proto
  proto/monitoringc/verified_client_id.proto
Due: none

feat(`participation`): initialize module (#594)
  app/app.go
  go.mod
  go.sum
  localnet/genesis_template.json
  proto/participation/genesis.proto
  proto/participation/params.proto
  proto/participation/query.proto
  proto/participation/tx.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/participation.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_params.go
  x/participation/client/cli/tx.go
  x/participation/genesis.go
  x/participation/genesis_test.go
  x/participation/handler.go
  x/participation/keeper/grpc_query.go
  x/participation/keeper/grpc_query_params.go
  x/participation/keeper/grpc_query_params_test.go
  x/participation/keeper/keeper.go
  x/participation/keeper/msg_server.go
  x/participation/keeper/params.go
  x/participation/keeper/params_test.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/simapp.go
  x/participation/types/codec.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/participation/types/genesis.go
  x/participation/types/genesis.pb.go
  x/participation/types/genesis_test.go
  x/participation/types/keys.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/tx.pb.go
Due: modules

fmt
  x/reward/types/reward_pool.go
Due: modules

chore: improve CLI commands descriptions (#597)
  x/campaign/client/cli/query_campaign.go
  x/campaign/client/cli/query_campaign_chains.go
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_params.go
  x/campaign/client/cli/tx_add_shares.go
  x/launch/client/cli/query_chain.go
  x/launch/client/cli/query_genesis_account.go
  x/launch/client/cli/query_genesis_validator.go
  x/launch/client/cli/query_params.go
  x/launch/client/cli/query_request.go
  x/launch/client/cli/query_vesting_account.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_params.go
  x/monitoringc/client/cli/query_provider_client_id.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringp/client/cli/query_connection_channel_id.go
  x/monitoringp/client/cli/query_consumer_client_id.go
  x/monitoringp/client/cli/query_monitoring_info.go
  x/monitoringp/client/cli/query_params.go
  x/profile/client/cli/query_coordinator.go
  x/profile/client/cli/query_coordinator_by_address.go
  x/profile/client/cli/query_validator.go
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/reward/client/cli/query_params.go
  x/reward/client/cli/query_reward_pool.go
Due: client

Update x/launch/keeper/validator_set.go
  x/launch/keeper/validator_set.go
Due: modules

fmt
  x/launch/keeper/validator_set.go
  x/participation/client/cli/tx.go
Due: modules

add precommit config
  .pre-commit-config.yaml
Due: none

fmt
  testutil/keeper/keeper.go
Due: none

refactor: remove uint64 to int64 conversions (#593)
  proto/reward/reward_pool.proto
  proto/reward/tx.proto
  testutil/sample/reward.go
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/types/expected_keepers.go
  x/reward/client/cli/tx_set_reward.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/types/message_set_reward.go
  x/reward/types/message_set_reward_test.go
  x/reward/types/reward_pool.go
  x/reward/types/reward_pool.pb.go
  x/reward/types/reward_pool_test.go
  x/reward/types/tx.pb.go
Due: modules

chore: add pre-commit for auto-formatting before commits (#600)
  .pre-commit-config.yaml
Due: none

update localnet genesis template
  localnet/genesis_template.json
Due: none

fix config issue
  pkg/types/constant.go
  pkg/types/signature_counts.go
  pkg/types/signature_counts_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

address feedbacks
  testutil/sample/campaign.go
  testutil/sample/launch.go
  testutil/sample/simulation.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/launch/keeper/msg_create_chain_test.go
Due: modules

fix test
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/types/genesis_test.go
Due: modules

Update testutil/sample/simulation.go
  testutil/sample/simulation.go
Due: none

feat(`launch`): add `chainCreationFee` param (#595)
  app/app.go
  localnet/genesis_template.json
  proto/launch/params.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/campaign.go
  testutil/sample/launch.go
  testutil/sample/simulation.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_create_chain_test.go
  x/launch/keeper/params.go
  x/launch/keeper/params_test.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/types/expected_keepers.go
  x/launch/types/genesis_test.go
  x/launch/types/params.go
  x/launch/types/params.pb.go
  x/launch/types/params_test.go
Due: modules

move check to handshake.go
  proto/launch/chain.proto
  testutil/keeper/keeper.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/validator_set.go
  x/launch/types/chain.pb.go
  x/launch/types/errors.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringc/types/expected_keepers.go
Due: modules

proto
  proto/monitoringc/query.proto
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules

queries
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
Due: client

grpc
  x/monitoringc/keeper/grpc_launch_id_from_verified_client_id.go
  x/monitoringc/keeper/grpc_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
Due: modules

remove key file
  x/profile/types/key_validator_by_operator_address.go
  x/profile/types/keys.go
Due: none

rename message
  x/profile/types/msg_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

rename msg and grpc
  x/profile/keeper/grpc_validator_by_operator_address.go
  x/profile/keeper/grpc_validator_by_operator_address_test.go
  x/profile/keeper/msg_add_validator_operator_address.go
  x/profile/keeper/msg_add_validator_operator_address_test.go
Due: modules

renaming
  x/profile/keeper/msg_add_validator_operator_address.go
Due: modules

refactor(`monitoring-consumer`): remove non-necessary queries (#603)
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/keeper/grpc_launch_id_from_verified_client_id.go
  x/monitoringc/keeper/grpc_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/grpc_monitoring_history.go
  x/monitoringc/keeper/grpc_monitoring_history_test.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

init
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/tx.go
Due: none

return error and fix test
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
Due: modules

scaffold participation maps
  proto/participation/auction_used_allocations.proto
  proto/participation/genesis.proto
  proto/participation/query.proto
  proto/participation/used_allocations.proto
  testutil/sample/participation.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_auction_used_allocations.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_used_allocations.go
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/genesis.go
  x/participation/genesis_test.go
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/grpc_auction_used_allocations.go
  x/participation/keeper/grpc_auction_used_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/used_allocations.go
  x/participation/keeper/used_allocations_test.go
  x/participation/module.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/genesis.go
  x/participation/types/genesis.pb.go
  x/participation/types/genesis_test.go
  x/participation/types/keys.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/used_allocations.pb.go
Due: modules, client

fmt pass
  x/participation/client/cli/query_auction_used_allocations.go
  x/participation/client/cli/query_used_allocations.go
  x/participation/client/cli/tx.go
  x/participation/keeper/auction_used_allocations.go
  x/participation/keeper/grpc_auction_used_allocations.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/used_allocations.go
  x/participation/types/genesis_test.go
Due: modules, client

small edit on query proto
  proto/participation/query.proto
Due: none

monitoringp cleanup and sim cleanup
  x/monitoringc/module_simulation.go
  x/monitoringc/simulation/simap.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/grpc_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_monitoring_info_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/module_simulation.go
  x/monitoringp/simulation/simap.go
  x/monitoringp/simulation/simulation.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/params.go
  x/participation/module_simulation.go
  x/participation/simulation/simapp.go
  x/participation/simulation/simulation.go
  x/profile/simulation/simapp.go
  x/reward/module_simulation.go
  x/reward/simulation/simapp.go
Due: modules

address feedbacks
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_used_allocations.go
  x/participation/client/cli/query_used_allocations_test.go
  x/participation/module.go
  x/participation/types/keys.go
Due: client

fix(): rename fundraising param
  localnet/genesis_template.json
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
