Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Move ibctypes to proto
  go.mod
  go.sum
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  pkg/ibctypes/ibctypes.pb.go
  pkg/ibctypes/validator_set.go
  proto/types/ibctypes.proto
Due: none

refactor ibctypes
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
Due: modules

change message format
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/validator_set.go
  proto/monitoringc/tx.proto
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/tx.pb.go
Due: modules

monitoring sample package
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
  testutil/sample/monitoring.go
  x/monitoringc/types/message_create_client_test.go
Due: modules

Message tests
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
Due: modules

lint
  go.mod
  go.sum
  pkg/ibctypes/validator_set.go
  x/monitoringc/keeper/grpc_query_verified_client_ids.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/module.go
  x/monitoringc/types/genesis.go
Due: modules

format code
  proto/launch/query.proto
  x/launch/client/cli/query.go
  x/launch/keeper/grpc_query_request_selection.go
  x/launch/keeper/grpc_query_request_selection_test.go
Due: modules

apply review changes
  proto/launch/query.proto
  x/launch/client/cli/query.go
  x/launch/client/cli/query_request_selection.go
  x/launch/keeper/grpc_query_request_selection.go
  x/launch/keeper/grpc_query_request_selection_test.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
Due: modules, client

improve lint and comments
  proto/profile/query.proto
  x/monitoringc/simulation/simap.go
  x/monitoringp/simulation/simap.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/simulation/simap.go
  x/profile/types/query.pb.go
Due: modules, client

feat(profile): add `ConsensusAddress` into Validator profile (#445)
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/validator.proto
  x/monitoringc/simulation/simap.go
  x/monitoringp/simulation/simap.go
  x/profile/client/cli/query.go
  x/profile/client/cli/query_validator_by_cons_address.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
Due: modules, client

add ConsensusKeyNonce structure
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/validator.proto
  x/profile/client/cli/query.go
  x/profile/client/cli/query_consensus_key_nonce.go
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/consensus_key_nonce.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/simulation/simap.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
Due: modules, client

fix tests and remove unused import variables
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
Due: modules, client

improve test readbility
  x/profile/types/genesis_test.go
Due: modules

comments
  go.mod
  go.sum
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  pkg/ibctypes/ibctypes.pb.go
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
  proto/types/ibctypes.proto
  x/monitoringc/types/errors.go
Due: none

TDT testing
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
Due: none

Update proto/monitoringc/verified_client_id.proto
  proto/monitoringc/verified_client_id.proto
Due: none

other comments
  pkg/ibctypes/validator_set.go
  proto/monitoringc/query.proto
Due: none

Add consensus state file
  go.mod
  go.sum
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  pkg/ibctypes/ibctypes.pb.go
  proto/types/ibctypes.proto
Due: none

Consumer Client ID single
  go.mod
  go.sum
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  proto/monitoringp/consumer_client_id.proto
  proto/monitoringp/genesis.proto
  proto/monitoringp/query.proto
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_consumer_client_id.go
  x/monitoringp/client/cli/query_consumer_client_id_test.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/consumer_client_id.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/grpc_query_consumer_client_id.go
  x/monitoringp/keeper/grpc_query_consumer_client_id_test.go
  x/monitoringp/module.go
  x/monitoringp/types/consumer_client_id.pb.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
Due: modules, client

Consumer consensus state param
  go.mod
  go.sum
  proto/monitoringp/params.proto
  x/monitoringp/types/params.pb.go
Due: modules

Consumer consensus state param
  proto/monitoringp/params.proto
Due: none

Param type
  testutil/sample/monitoring.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

param keeper
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/params.go
Due: modules

Remove pointers
  proto/monitoringp/params.proto
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

liunt
  x/monitoringp/keeper/params_test.go
Due: modules

x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/types/errors.go
  x/monitoringp/types/expected_keepers.go
Due: modules

Initialize client method
  x/monitoringp/keeper/consumer_client.go
Due: modules

consumer chain ID param
  proto/monitoringp/params.proto
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
Due: modules

chain id test
  x/monitoringp/types/params.go
  x/monitoringp/types/params_test.go
Due: modules

keeper consumer chain ID
  testutil/keeper/monitoring_provider.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/errors.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params_test.go
Due: modules

Add initialize to genesis
  x/monitoringp/genesis.go
  x/monitoringp/keeper/consumer_client.go
Due: modules

improve the genesis validation logic
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
Due: modules

improve the code lint
  x/launch/keeper/genesis_validator.go
  x/monitoringp/keeper/keeper.go
  x/profile/genesis.go
  x/profile/keeper/consensus_key_nonce.go
Due: modules

add `MsgSetValidatorConsAddress` message
  proto/profile/tx.proto
  x/profile/client/cli/tx.go
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/profile/handler.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/types/codec.go
  x/profile/types/errors.go
  x/profile/types/message_set_validator_cons_address.go
  x/profile/types/message_set_validator_cons_address_test.go
  x/profile/types/tx.pb.go
Due: modules

config error
  config.yml
Due: none

Add default chain ID
  app/app.go
  cmd/spnd/main.go
Due: none

Update x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id.go
Due: modules

Update x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
