Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

fix simulation
  app/app.go
  proto/participation/tx.proto
  x/launch/module.go
  x/participation/client/cli/tx.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/simulation.go
Due: modules

few fixes
  app/app.go
  x/participation/module_simulation.go
Due: none

implement message
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
Due: modules

Add message
  x/participation/client/cli/tx_participate.go
  x/participation/keeper/msg_server_participate.go
  x/participation/simulation/participate.go
  x/participation/simulation/simap.go
  x/participation/types/message_participate.go
  x/participation/types/message_participate_test.go
Due: modules

Initialize participate test
  testutil/keeper/bank.go
  testutil/sample/fundraising.go
  x/participation/keeper/msg_server_participate_test.go
Due: modules

testkeeper mint
  testutil/keeper/bank.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
Due: none

fundraising sample
  testutil/sample/fundraising.go
Due: none

fix participate tests
  x/participation/keeper/msg_server_participate.go
  x/participation/keeper/msg_server_participate_test.go
Due: modules

fix codec
  testutil/sample/sample.go
Due: none

bank tests
  testutil/keeper/bank_test.go
Due: none

lint
  testutil/keeper/bank_test.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/participation/keeper/msg_server_participate_test.go
  x/participation/module.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
Due: modules

go import
  testutil/keeper/bank_test.go
  x/participation/keeper/msg_server_participate_test.go
  x/participation/types/codec.go
Due: modules

renaming
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/types/msg_participate.go
  x/participation/types/msg_participate_test.go
Due: modules

fix param tests
  x/monitoringp/types/params_test.go
Due: modules

import cycle
  x/participation/types/msg_participate_test.go
Due: modules

use mint
  testutil/keeper/bank.go
Due: none

Update testutil/sample/fundraising.go
  testutil/sample/fundraising.go
Due: none

Update x/participation/client/cli/tx_participate.go
  x/participation/client/cli/tx_participate.go
Due: none

Update x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_participate_test.go
Due: modules

Update x/participation/module_simulation.go
  x/participation/module_simulation.go
Due: none

remove simap
  x/participation/simulation/simap.go
Due: modules

fix import
  testutil/sample/fundraising.go
Due: none

add query and test
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  proto/participation/query.proto
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/sample/participation.go
  testutil/sample/sample.go
  x/launch/types/chain.pb.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_get_total_allocation.go
  x/participation/client/cli/query_get_total_allocation_test.go
  x/participation/keeper/grpc_total_allocation.go
  x/participation/keeper/grpc_total_allocation_test.go
  x/participation/keeper/total_allocation.go
  x/participation/keeper/total_allocation_test.go
  x/participation/module_simulation.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
Due: modules, client

Update x/profile/client/cli/tx_add_validator_operator_address.go
  x/profile/client/cli/tx_add_validator_operator_address.go
Due: none

refactor(`MsgAddValidatorOperatorAddress`): requires two signatures (#615)
  x/launch/types/chain.pb.go
  x/profile/client/cli/tx_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

Apply suggestions from code review
  x/participation/client/cli/query_get_total_allocation.go
  x/participation/client/cli/query_get_total_allocation_test.go
  x/participation/keeper/grpc_total_allocation_test.go
  x/participation/keeper/total_allocation.go
Due: modules, client

fix error from merging suggestion
  x/participation/client/cli/query_get_total_allocation.go
  x/participation/client/cli/query_get_total_allocation_test.go
Due: client

change GetAllocation signature + tests
  x/participation/keeper/grpc_total_allocation.go
  x/participation/keeper/total_allocation.go
  x/participation/keeper/total_allocation_test.go
Due: modules

create staking.go and delegation functions
  testutil/keeper/staking.go
Due: none

refactor tests
  x/participation/keeper/grpc_total_allocation_test.go
  x/participation/keeper/total_allocation_test.go
Due: modules

split tx, add sims and tests
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/client/cli/tx_edit_chain_source_information.go
  x/launch/handler.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_edit_chain_source_information.go
  x/launch/keeper/msg_edit_chain_source_information_test.go
  x/launch/keeper/msg_edit_chain_test.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/types/codec.go
  x/launch/types/msg_edit_chain.go
  x/launch/types/msg_edit_chain_source_information.go
  x/launch/types/msg_edit_chain_source_information_test.go
  x/launch/types/msg_edit_chain_test.go
  x/launch/types/tx.pb.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

add check for launch triggered / monitoringconnected + tests
  x/launch/keeper/msg_edit_chain_source_information.go
  x/launch/keeper/msg_edit_chain_source_information_test.go
Due: modules

ci(reset-testnet): add action to reset testnet state
  .github/workflows/reset-testnet.yml
Due: none

fix sim test
  x/launch/simulation/simulation.go
Due: modules

feat(`profile`): keep previous operator address entries during `MsgAddValidatorOperatorAddress` (#617)
  x/profile/keeper/msg_add_validator_operator_address.go
  x/profile/keeper/msg_add_validator_operator_address_test.go
  x/profile/types/validator.go
  x/profile/types/validator_test.go
Due: modules

ci(reset-testnet): add action to reset testnet state (#625)
  .github/workflows/reset-testnet.yml
Due: none

feat(`participation`): add TotalAllocation keeper method (#620)
  proto/participation/query.proto
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/keeper/staking.go
  testutil/sample/sample.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_get_total_allocation.go
  x/participation/client/cli/query_get_total_allocation_test.go
  x/participation/keeper/grpc_total_allocation.go
  x/participation/keeper/grpc_total_allocation_test.go
  x/participation/keeper/total_allocation.go
  x/participation/keeper/total_allocation_test.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
Due: modules, client

fmt pass
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/profile/types/msg_add_validator_operator_address_test.go
Due: modules

dev. env. of ignite ui
  .gitignore
  config.yml
Due: none

rename to update-launch-information
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_update_launch_information.go
  x/launch/handler.go
  x/launch/keeper/msg_update_launch_information.go
  x/launch/keeper/msg_update_launch_information_test.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/types/codec.go
  x/launch/types/msg_update_launch_information.go
  x/launch/types/msg_update_launch_information_test.go
  x/launch/types/tx.pb.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
