Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

remove cons notions
  go.mod
  go.sum
  x/profile/genesis.go
  x/profile/keeper/grpc_query_validator_by_operator_address_test.go
  x/profile/keeper/msg_server_delete_validator.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/types/message_add_validator_operator_address_test.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

use stake for creation fee in simulation
  testutil/sample/campaign.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
Due: modules

merge key files
  x/campaign/types/key_campaign_chains.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
  x/launch/types/key_chain.go
  x/launch/types/key_genesis_account.go
  x/launch/types/key_genesis_validator.go
  x/launch/types/key_request.go
  x/launch/types/key_vesting_account.go
  x/launch/types/keys.go
  x/monitoringc/types/key_launch_id_from_channel_id.go
  x/monitoringc/types/key_launch_id_from_verified_client_id.go
  x/monitoringc/types/key_monitoring_history.go
  x/monitoringc/types/key_provider_client_id.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/keys.go
  x/monitoringp/types/keys.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_coordinator_by_address.go
  x/profile/types/key_validator.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/keys.go
  x/reward/types/key_reward_pool.go
  x/reward/types/keys.go
Due: none

change prefixes
  x/campaign/types/keys.go
  x/profile/types/keys.go
Due: none

use stake for creation fee in simulation
  testutil/sample/launch.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/simulation.go
  x/launch/types/params.go
  x/launch/types/params_test.go
Due: modules

small fix
  testutil/sample/campaign.go
Due: none

fix tests post-merge
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/params_test.go
Due: modules

fix create chain msgsrv test
  x/launch/keeper/msg_server_create_chain_test.go
Due: modules

minor edits
  testutil/keeper/keeper.go
  x/campaign/module.go
Due: none

lint
  go.mod
  go.sum
  x/launch/types/keys.go
  x/monitoringc/types/keys.go
Due: none

proto
  proto/profile/tx.proto
  x/profile/types/tx.pb.go
Due: modules

remove message
  go.mod
  go.sum
  x/profile/client/cli/tx.go
  x/profile/client/cli/tx_delete_validator.go
  x/profile/handler.go
  x/profile/keeper/msg_server_delete_validator.go
  x/profile/keeper/msg_server_delete_validator_test.go
  x/profile/keeper/validator.go
  x/profile/keeper/validator_test.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/types/codec.go
  x/profile/types/errors.go
  x/profile/types/message_delete_validator.go
  x/profile/types/message_delete_validator_test.go
Due: modules

add field and check
  go.mod
  go.sum
  proto/launch/chain.proto
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/types/chain.pb.go
  x/launch/types/errors.go
Due: modules

error number
  x/profile/types/errors.go
Due: none

init participation module
  app/app.go
  go.mod
  go.sum
  proto/participation/genesis.proto
  proto/participation/params.proto
  proto/participation/query.proto
  proto/participation/tx.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/participation.go
  x/participation/client/cli/query.go
  x/participation/client/cli/query_params.go
  x/participation/client/cli/tx.go
  x/participation/genesis.go
  x/participation/genesis_test.go
  x/participation/handler.go
  x/participation/keeper/grpc_query.go
  x/participation/keeper/grpc_query_params.go
  x/participation/keeper/grpc_query_params_test.go
  x/participation/keeper/keeper.go
  x/participation/keeper/msg_server.go
  x/participation/keeper/params.go
  x/participation/keeper/params_test.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/simap.go
  x/participation/types/codec.go
  x/participation/types/errors.go
  x/participation/types/expected_keepers.go
  x/participation/types/genesis.go
  x/participation/types/genesis.pb.go
  x/participation/types/genesis_test.go
  x/participation/types/keys.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/tx.pb.go
  x/participation/types/types.go
Due: modules

refactor(`types`): merge key files (#591)
  go.mod
  go.sum
  x/campaign/types/key_campaign_chains.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
  x/launch/types/key_chain.go
  x/launch/types/key_genesis_account.go
  x/launch/types/key_genesis_validator.go
  x/launch/types/key_request.go
  x/launch/types/key_vesting_account.go
  x/launch/types/keys.go
  x/monitoringc/types/key_launch_id_from_channel_id.go
  x/monitoringc/types/key_launch_id_from_verified_client_id.go
  x/monitoringc/types/key_monitoring_history.go
  x/monitoringc/types/key_provider_client_id.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/keys.go
  x/monitoringp/types/keys.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_coordinator_by_address.go
  x/profile/types/key_validator.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/keys.go
  x/reward/types/key_reward_pool.go
  x/reward/types/keys.go
Due: none

address feedbacks
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/params.go
  x/campaign/module_simulation.go
  x/campaign/types/params.go
  x/campaign/types/params_test.go
Due: modules

add fee deduction check in campaign creation test
  x/campaign/keeper/msg_server_create_campaign_test.go
Due: modules

add fee deduction check in chain creation test
  x/launch/keeper/msg_server_create_chain_test.go
Due: modules

tests refinements
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/types/params_test.go
Due: modules

refactor(`profile`): remove `MsgDeleteValidator` (#592)
  proto/profile/tx.proto
  x/profile/client/cli/tx.go
  x/profile/client/cli/tx_delete_validator.go
  x/profile/handler.go
  x/profile/keeper/msg_server_delete_validator.go
  x/profile/keeper/msg_server_delete_validator_test.go
  x/profile/keeper/validator.go
  x/profile/keeper/validator_test.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/types/codec.go
  x/profile/types/errors.go
  x/profile/types/message_delete_validator.go
  x/profile/types/message_delete_validator_test.go
  x/profile/types/tx.pb.go
Due: modules

refactor(`monitoring-provider`): count signatures for operator address (#577)
  go.mod
  go.sum
  pkg/types/monitoring.pb.go
  pkg/types/monitoring_packet_test.go
  pkg/types/signature_counts.go
  pkg/types/signature_counts_test.go
  proto/types/monitoring.proto
  testutil/constructor/constructor.go
  testutil/keeper/initializer.go
  testutil/keeper/monitoring_provider.go
  testutil/sample/sample.go
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/keeper/connection_channel_id_test.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/grpc_query_connection_channel_id_test.go
  x/monitoringp/keeper/grpc_query_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_query_monitoring_info_test.go
  x/monitoringp/keeper/grpc_query_params_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/monitoring_info_test.go
  x/monitoringp/keeper/msg_server_test.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module.go
  x/monitoringp/types/expected_keepers.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

fix profile test
  x/profile/keeper/msg_server_add_validator_operator_address_test.go
  x/profile/keeper/validator_by_operator_address_test.go
Due: modules

address feedback
  app/app.go
  testutil/keeper/keeper.go
  x/participation/keeper/keeper.go
  x/participation/module.go
  x/participation/types/types.go
Due: none

create new constant
  app/app.go
  cmd/spnd/main.go
  pkg/types/constant.go
Due: none

fix typo
  x/launch/types/params_test.go
Due: modules

add convert
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

remove cons addr
  pkg/types/monitoring.pb.go
  proto/types/monitoring.proto
Due: none

validate signature counts
  pkg/types/signature_counts.go
  pkg/types/signature_counts_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

update reward distribution
  x/reward/keeper/reward_distribution.go
  x/reward/types/errors.go
Due: modules

add params in localnet genesis template for participation
  localnet/genesis_template.json
Due: none

improve cli cmds descriptions
  x/campaign/client/cli/query_campaign.go
  x/campaign/client/cli/query_campaign_chains.go
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_params.go
  x/campaign/client/cli/tx_add_shares.go
  x/launch/client/cli/query_chain.go
  x/launch/client/cli/query_genesis_account.go
  x/launch/client/cli/query_genesis_validator.go
  x/launch/client/cli/query_params.go
  x/launch/client/cli/query_request.go
  x/launch/client/cli/query_vesting_account.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_monitoring_history.go
  x/monitoringc/client/cli/query_params.go
  x/monitoringc/client/cli/query_provider_client_id.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringp/client/cli/query_connection_channel_id.go
  x/monitoringp/client/cli/query_consumer_client_id.go
  x/monitoringp/client/cli/query_monitoring_info.go
  x/monitoringp/client/cli/query_params.go
  x/profile/client/cli/query_coordinator.go
  x/profile/client/cli/query_coordinator_by_address.go
  x/profile/client/cli/query_validator.go
  x/profile/client/cli/tx_set_validator_cons_address.go
  x/reward/client/cli/query_params.go
  x/reward/client/cli/query_reward_pool.go
Due: client

improve participation CLI cmd description
  x/participation/client/cli/query_params.go
Due: none

set chain to ibcConnected
  x/launch/keeper/validator_set.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringc/types/expected_keepers.go
Due: modules

add validate and test
  x/reward/types/reward_pool.go
  x/reward/types/reward_pool_test.go
Due: modules

small edit for f/b
  x/participation/simulation/simapp.go
Due: modules

feat(`campaign`): add `CampaignCreationFee` param (#567)
  app/app.go
  localnet/genesis_template.json
  proto/campaign/params.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/campaign.go
  x/campaign/genesis_test.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/params.go
  x/campaign/keeper/params_test.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/genesis_test.go
  x/campaign/types/params.go
  x/campaign/types/params.pb.go
  x/campaign/types/params_test.go
Due: modules
