Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

avoid overwrite the coins slice for method
  x/campaign/types/shares.go
  x/campaign/types/voucher.go
Due: modules

filter accounts query all by campaign id
  proto/campaign/query.proto
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/keeper/grpc_query_mainnet_account.go
  x/campaign/keeper/grpc_query_mainnet_account_test.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/query.pb.go
Due: modules, client

add verifications that types must be associated to a existing campaign
  x/campaign/keeper/campaign.go
  x/campaign/types/genesis.go
Due: modules

allows to provide a campaign ID to a chain
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/campaign/keeper/campaign.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/launch/types/expected_keepers.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_create_chain_test.go
  x/launch/types/tx.pb.go
Due: modules

fix next id count for campaign
  x/campaign/keeper/campaign.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
Due: modules

add test cases
  x/campaign/types/genesis_test.go
Due: modules

fix campaign id count
  x/campaign/keeper/campaign.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_validator_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_request_remove_account_test.go
  x/launch/keeper/msg_server_request_remove_validator_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
Due: modules

fix `launchLKeeper.SetCampaignKeeper` method
  testutil/sample/campaign.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_test.go
Due: modules

fix import sorts
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_test.go
Due: modules

Apply suggestions from code review
  x/campaign/types/message_initialize_mainnet.go
  x/campaign/types/message_initialize_mainnet_test.go
  x/launch/types/expected_keepers.go
Due: modules

fmt
  app/app.go
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_create_campaign.go
Due: modules

Codec
  x/campaign/types/codec.go
Due: none

feat(campaign): allows to add vesting options (#305)
  proto/campaign/tx.proto
  testutil/sample/campaign.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_vesting_options.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/types/codec.go
  x/campaign/types/mainnet_vesting_account.go
  x/campaign/types/message_add_vesting_options.go
  x/campaign/types/message_add_vesting_options_test.go
  x/campaign/types/share_vesting_options.go
  x/campaign/types/tx.pb.go
Due: modules

improve key creation for campaign
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
Due: none

fix method signatures
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
Due: modules

Use appropriate format
  pkg/chainid/chainid.go
Due: none

apply PR comments suggestions
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
Due: modules

add constant for invariant route
  x/launch/keeper/invariants.go
  x/profile/keeper/invariants.go
Due: none

handle share and voucher conversion errors
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
Due: modules

Fix tests
  x/campaign/keeper/msg_server_add_vesting_options_test.go
Due: modules

add the campaign invariants and register all invariants
  x/campaign/keeper/invariants.go
  x/campaign/module.go
  x/launch/module.go
  x/profile/module.go
Due: none

revert avoid zero index for campaign
  x/campaign/keeper/campaign.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
Due: modules

remove campaign id zero index check
  x/campaign/types/genesis.go
Due: modules

use hasCampaign var to check if the campaign was set
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/campaign/keeper/campaign.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/keeper/msg_server_revert_launch_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_create_chain_test.go
  x/launch/types/tx.pb.go
Due: modules

feat(invariants): add module invariants (#315)
  .codecov.yml
  x/campaign/keeper/invariants.go
  x/campaign/module.go
  x/launch/keeper/invariants.go
  x/launch/module.go
  x/profile/keeper/invariants.go
  x/profile/module.go
Due: none

feat(campaign): list mainnet and vesting account by campaign ID (#319)
  proto/campaign/query.proto
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/keeper/grpc_query_mainnet_account.go
  x/campaign/keeper/grpc_query_mainnet_account_test.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
  x/campaign/types/query.pb.go
Due: modules, client

simple PR improves
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
Due: modules

apply some comment suggestions
  x/campaign/types/genesis.go
  x/campaign/types/genesis_test.go
Due: modules

campaign and launch
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_query_campaign_test.go
  x/campaign/keeper/grpc_query_mainnet_account_test.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/genesis_test.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/grpc_query_chain_test.go
  x/launch/keeper/grpc_query_genesis_account_test.go
  x/launch/keeper/grpc_query_genesis_validator_test.go
  x/launch/keeper/grpc_query_request_test.go
  x/launch/keeper/grpc_query_vesting_account_test.go
  x/profile/genesis_test.go
Due: modules, client

Profile
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
  x/profile/keeper/grpc_query_coordinator_test.go
  x/profile/keeper/grpc_query_validator_test.go
Due: modules, client

feat(campaign): create the voucher methods (#314)
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
Due: modules

Refactor campaign queries
  x/campaign/client/cli/query_campaign_test.go
Due: client

Fix vesting list test
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
Due: modules

Starport generation
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_unredeem_vouchers.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_unredeem_vouchers.go
  x/campaign/types/codec.go
  x/campaign/types/message_unredeem_vouchers.go
  x/campaign/types/message_unredeem_vouchers_test.go
  x/campaign/types/tx.pb.go
Due: modules

Add shares field
  proto/campaign/tx.proto
  x/campaign/client/cli/tx_unredeem_vouchers.go
  x/campaign/types/message_unredeem_vouchers.go
  x/campaign/types/tx.pb.go
Due: modules

Message type
  x/campaign/types/errors.go
  x/campaign/types/message_add_shares.go
  x/campaign/types/message_add_shares_test.go
  x/campaign/types/message_add_vesting_options.go
  x/campaign/types/message_add_vesting_options_test.go
  x/campaign/types/message_unredeem_vouchers.go
  x/campaign/types/message_unredeem_vouchers_test.go
  x/campaign/types/message_update_total_shares.go
Due: modules

Message logic
  x/campaign/keeper/msg_server_unredeem_vouchers.go
  x/campaign/types/errors.go
  x/campaign/types/expected_keepers.go
Due: modules

Add bank keeper to tests
  testutil/keeper/keeper.go
  x/campaign/keeper/msg_server_add_shares_test.go
  x/campaign/keeper/msg_server_add_vesting_options_test.go
  x/campaign/keeper/msg_server_create_campaign_test.go
  x/campaign/keeper/msg_server_initialize_mainnet_test.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/keeper/msg_server_update_total_shares_test.go
  x/campaign/keeper/msg_server_update_total_supply_test.go
  x/launch/keeper/msg_server_test.go
Due: modules

Initialize test
  x/campaign/keeper/msg_server_unredeem_vouchers_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
