Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

format
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
Due: modules

fix test state initialization
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

spn genesis
  localnet/spn/genesis_template.json
Due: none

testnet genesis
  localnet/testnet/genesis_template.json
Due: none

readme
  localnet/readme.md
Due: none

Update x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

Update testutil/sample/participation.go
  testutil/sample/participation.go
Due: none

add sample.Int()
  testutil/networksuite/networksuite.go
  testutil/sample/sample.go
  x/claim/keeper/claim_record_test.go
  x/claim/types/genesis_test.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/used_allocations_test.go
Due: modules

update README with badges
  readme.md
Due: none

remove unnecessary line
  readme.md
Due: none

chore: some localnet fixes (#901)
  localnet/readme.md
  localnet/spn/genesis_template.json
  localnet/testnet/genesis_template.json
Due: none

docs: update `README` (#902)
  readme.md
Due: none

proto
  proto/campaign/campaign_summary.proto
  proto/campaign/query.proto
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

remove query
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary_test.go
  x/campaign/types/campaign_summary.pb.go
Due: modules, client

remove reward dependency
  app/app.go
  testutil/keeper/initializer.go
  x/campaign/keeper/keeper.go
Due: none

remove count method
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/request.go
Due: modules

format
  x/launch/client/cli/tx_create_chain.go
Due: none

update requiredAllocations values
  localnet/spn/genesis_template.json
  localnet/testnet/genesis_template.json
Due: none

refactor: remove campaign summary queries (#905)
  app/app.go
  proto/campaign/campaign_summary.proto
  proto/campaign/query.proto
  testutil/keeper/initializer.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary_test.go
  x/campaign/keeper/keeper.go
  x/campaign/types/campaign_summary.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/request.go
Due: modules, client

upgrade go.mod
  go.mod
Due: none

upgrade go.mod
  go.sum
Due: none

upgrade simulation
  go.mod
  go.sum
  testutil/simulation/util.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/keeper.go
  x/campaign/types/total_supply_test.go
  x/claim/types/claim_record_test.go
  x/claim/types/genesis_test.go
  x/mint/simulation/decoder_test.go
  x/mint/simulation/genesis_test.go
  x/monitoringc/module_ibc.go
  x/monitoringp/module_ibc.go
  x/participation/keeper/keeper.go
  x/participation/keeper/total_allocations.go
  x/participation/types/params_test.go
  x/profile/simulation/simulation.go
Due: modules

remove cosmoscmd dep
  app/app.go
  app/simulation_test.go
  cmd/spnd/main.go
  go.mod
  go.sum
  pkg/types/cosmosapp.go
  pkg/types/encoding.go
  pkg/types/genaccounts.go
  pkg/types/prefixes.go
  pkg/types/root.go
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

format
  app/app.go
  app/simulation_test.go
  app/simutil/app_state.go
  pkg/types/genaccounts.go
  pkg/types/root.go
  testutil/network/network.go
  testutil/simulation/util.go
  x/campaign/keeper/campaign_auction_event_hooks.go
  x/campaign/keeper/keeper.go
  x/campaign/types/params.go
  x/campaign/types/shares.go
  x/campaign/types/total_supply_test.go
  x/claim/keeper/keeper.go
  x/claim/types/claim_record.go
  x/claim/types/claim_record_test.go
  x/claim/types/genesis_test.go
  x/launch/keeper/keeper.go
  x/mint/keeper/integration_test.go
  x/mint/simulation/genesis_test.go
  x/mint/types/minter.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/module_ibc.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/module_ibc.go
  x/participation/keeper/keeper.go
  x/participation/types/params_test.go
  x/profile/keeper/keeper.go
  x/reward/keeper/keeper.go
Due: modules

fix(localnet): set default values for priv_validator_state.json
  localnet/spn/node1/data/priv_validator_state.json
  localnet/spn/node2/data/priv_validator_state.json
  localnet/spn/node3/data/priv_validator_state.json
Due: none

fix(localnet): set default values for priv_validator_state.json (#907)
  localnet/spn/node1/data/priv_validator_state.json
  localnet/spn/node2/data/priv_validator_state.json
  localnet/spn/node3/data/priv_validator_state.json
Due: none

remove deprecated rest imports
  app/app.go
Due: none

chore: sync `main` (#904)
  x/campaign/keeper/mainnet_account.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_update_special_allocations.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis.go
  x/campaign/types/keys.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/keeper/genesis_account.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/vesting_account.go
  x/launch/types/genesis.go
  x/launch/types/keys.go
Due: modules

refactor(app): remove deprecated rest imports (#908)
  app/app.go
Due: none

remove usage of ToDec
  x/claim/types/claim_record.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/genesis_validator_test.go
  x/launch/keeper/validator_set.go
  x/mint/keeper/keeper.go
  x/participation/keeper/total_allocations.go
  x/reward/keeper/reward_distribution.go
Due: modules

add cosmsocmd code
  cmd/cosmosapp.go
  cmd/encoding.go
  cmd/genaccounts.go
  cmd/prefixes.go
  cmd/root.go
  cmd/spnd/main.go
Due: none

remove cosmoscmd
  app/app.go
  app/simulation_test.go
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

refactor: remove usage of ToDec() (#910)
  x/claim/types/claim_record.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/genesis_validator_test.go
  x/launch/keeper/validator_set.go
  x/mint/keeper/keeper.go
  x/participation/keeper/total_allocations.go
  x/reward/keeper/reward_distribution.go
Due: modules

go mod tidy
  go.mod
  go.sum
Due: none

format
  app/app.go
  app/simulation_test.go
  cmd/root.go
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

re-format
  app/app.go
  app/simulation_test.go
  cmd/root.go
  testutil/network/network.go
  x/mint/keeper/integration_test.go
Due: modules

fix templates
  localnet/spn/genesis_template.json
  localnet/testnet/genesis_template.json
Due: none

fix test
  x/participation/keeper/total_allocations.go
Due: modules

refactor(`participation`): use `sdk.Int` type for allocations (#894)
  localnet/spn/genesis_template.json
  localnet/testnet/genesis_template.json
  proto/participation/auction_used_allocations.proto
  proto/participation/events.proto
  proto/participation/params.proto
  proto/participation/query.proto
  proto/participation/used_allocations.proto
  testutil/networksuite/networksuite.go
  testutil/sample/participation.go
  testutil/sample/sample.go
  x/claim/keeper/claim_record_test.go
  x/claim/types/genesis_test.go
  x/participation/keeper/auction_used_allocations_test.go
  x/participation/keeper/available_allocations.go
  x/participation/keeper/available_allocations_test.go
  x/participation/keeper/grpc_available_allocations_test.go
  x/participation/keeper/grpc_total_allocations_test.go
  x/participation/keeper/grpc_used_allocations.go
  x/participation/keeper/grpc_used_allocations_test.go
  x/participation/keeper/invariants.go
  x/participation/keeper/invariants_test.go
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/total_allocations.go
  x/participation/keeper/total_allocations_test.go
  x/participation/keeper/used_allocations.go
  x/participation/keeper/used_allocations_test.go
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/events.pb.go
  x/participation/types/genesis.go
  x/participation/types/genesis_test.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
  x/participation/types/query.pb.go
  x/participation/types/used_allocations.pb.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
