Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

init events
  proto/launch/events.proto
  x/launch/types/events.pb.go
Due: modules

Turn `consensusAddress` field of validator profile into an array
  proto/profile/validator.proto
  x/profile/keeper/msg_server_delete_validator.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/genesis_test.go
  x/profile/types/validator.go
  x/profile/types/validator.pb.go
  x/profile/types/validator_test.go
  x/reward/keeper/reward_test.go
  x/reward/types/errors.go
Due: modules

fix key initialization
  app/app.go
Due: none

refactor(profile): use the consensus pub key as a byte array (#504)
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
Due: modules, client

fix merge
  x/campaign/keeper/msg_server_create_campaign.go
Due: modules

fix tests
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/simulation/simulation.go
  x/profile/types/errors.go
Due: modules

add validation to profile genesis for missing consensus address in the validator consensus address list
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
  x/profile/types/validator_test.go
Due: modules

feat(monitoringc): Add genesis validation and unit tests (#503)
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis_test.go
Due: modules

use nullify pkg for test assertion
  x/profile/client/cli/query_validator_test.go
Due: client

fix test assertion with the nullify pkg
  x/profile/client/cli/query_validator_test.go
Due: client

emit events
  proto/launch/events.proto
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_settle_request.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/types/events.pb.go
Due: modules

lint and format
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
Due: modules

feat(profile): Turn `consensusAddress` field of validator profile into an array (#512)
  proto/profile/validator.proto
  x/profile/client/cli/query_validator_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/keeper/msg_server_delete_validator.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
  x/profile/types/validator.go
  x/profile/types/validator.pb.go
  x/profile/types/validator_test.go
  x/reward/keeper/reward_test.go
Due: modules, client

feat(`monitoringc`): distribute rewards on monitoring packet reception (#506)
  app/app.go
  config.yml
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/types/expected_keepers.go
Due: modules

fix distribution
  x/reward/keeper/reward.go
Due: modules

small fix
  x/reward/keeper/reward.go
Due: modules

metadata on chain
  proto/launch/chain.proto
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/types/expected_keepers.go
  x/launch/client/cli/tx_create_chain.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/simulation/simulation.go
  x/launch/types/chain.pb.go
  x/launch/types/errors.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_edit_chain_test.go
  x/launch/types/tx.pb.go
  x/monitoringc/keeper/msg_server_create_client_test.go
Due: modules

lint and format
  x/launch/client/cli/tx_create_chain.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
Due: modules

add tests and create pkg/types/metadata.go
  pkg/types/metadata.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_create_chain_test.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_edit_chain_test.go
Due: modules

add metadata flag to edit-chain tx
  x/launch/client/cli/tx_edit_chain.go
Due: none

Update pkg/types/metadata.go
  pkg/types/metadata.go
Due: none

rename max length field
  x/launch/types/message_create_chain.go
  x/launch/types/message_create_chain_test.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_edit_chain_test.go
Due: modules

cli fixes
  x/launch/client/cli/tx_create_chain.go
  x/launch/client/cli/tx_edit_chain.go
Due: none

extreme edge case tests
  x/launch/types/message_create_chain_test.go
  x/launch/types/message_edit_chain_test.go
Due: modules

use sample metadata
  testutil/sample/launch.go
  x/launch/keeper/chain_test.go
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
Due: modules

wrap ValidateBasic errors
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
Due: modules

fix wrapf
  x/launch/types/message_create_chain.go
Due: modules

monitoringc test fix
  x/monitoringc/keeper/msg_server_create_client_test.go
Due: modules

Update x/launch/keeper/msg_server_request_add_account.go
  x/launch/keeper/msg_server_request_add_account.go
Due: modules

Update x/launch/keeper/msg_server_request_add_vesting_account.go
  x/launch/keeper/msg_server_request_add_vesting_account.go
Due: modules

Update x/launch/keeper/msg_server_request_remove_account.go
  x/launch/keeper/msg_server_request_remove_account.go
Due: modules

Update x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/keeper/msg_server_request_remove_validator.go
Due: modules

Update x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_add_validator.go
Due: modules

Update x/profile/keeper/msg_server_update_coordinator_address_test.go
  x/profile/keeper/msg_server_update_coordinator_address_test.go
Due: modules

expose only GetCoordinatorByAddress
  testutil/sample/profile.go
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/simulation/simulation.go
  x/launch/types/expected_keepers.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/grpc_query_coordinator_by_address.go
  x/profile/keeper/msg_server_create_coordinator.go
  x/profile/keeper/msg_server_create_coordinator_test.go
  x/profile/keeper/msg_server_disable_coordinator.go
  x/profile/keeper/msg_server_disable_coordinator_test.go
  x/profile/keeper/msg_server_update_coordinator_address.go
  x/profile/keeper/msg_server_update_coordinator_address_test.go
  x/profile/keeper/msg_server_update_coordinator_description.go
  x/profile/keeper/msg_server_update_coordinator_description_test.go
  x/profile/simulation/simulation.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/types/expected_keepers.go
Due: modules

update tests
  x/launch/keeper/msg_server_create_chain_test.go
  x/launch/keeper/msg_server_edit_chain_test.go
Due: modules

refactor exposed profile keeper functions
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/msg_server_create_chain.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/simulation/simulation.go
  x/launch/types/expected_keepers.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_by_address_test.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/types/expected_keepers.go
Due: modules

Add me as code owner
  .github/CODEOWNERS
Due: none

chore: add @giunatale as code owner (#521)
  .github/CODEOWNERS
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
