Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

Update x/campaign/client/cli/query_campaign_summary.go
  x/campaign/client/cli/query_campaign_summary.go
Due: client

Update x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
Due: modules

Update x/launch/simulation/simulation.go
  x/launch/simulation/simulation.go
Due: modules

start keeper
  proto/campaign/query.proto
  x/campaign/client/cli/query_maximum_shares.go
  x/campaign/client/cli/query_maximum_shares_test.go
  x/campaign/keeper/grpc_maximum_shares.go
  x/campaign/keeper/grpc_maximum_shares_test.go
  x/campaign/keeper/maximum_shares.go
  x/campaign/keeper/maximum_shares_test.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_mint_vouchers_test.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign_test.go
  x/campaign/types/keys.go
  x/campaign/types/query.pb.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules, client

format
  x/launch/simulation/simulation.go
Due: modules

query and test
  x/campaign/client/cli/query_maximum_shares_test.go
  x/campaign/genesis.go
  x/campaign/keeper/grpc_maximum_shares.go
  x/campaign/keeper/grpc_maximum_shares_test.go
  x/campaign/keeper/maximum_shares_test.go
Due: modules, client

rename func
  x/participation/simulation/simulation.go
Due: modules

choose weight value
  x/participation/module_simulation.go
Due: none

return error for RandomFee err
  x/campaign/simulation/simulation.go
  x/launch/simulation/simulation.go
Due: modules

return error for RandomFee err
  x/participation/simulation/simulation.go
Due: modules

fix cli short
  x/campaign/client/cli/query_maximum_shares.go
Due: client

add genesis_test check
  x/campaign/genesis_test.go
Due: modules

fix(`simulation`): add fee checks (#655)
  x/campaign/simulation/simulation.go
  x/launch/simulation/simulation.go
Due: modules

feat(`participation`): implement full `msgWithdrawAllocations` (#649)
  config.yml
  localnet/genesis_template.json
  proto/participation/params.proto
  testutil/sample/participation.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
  x/participation/keeper/params.go
  x/participation/types/errors.go
  x/participation/types/params.go
  x/participation/types/params.pb.go
  x/participation/types/params_test.go
Due: modules

Update x/participation/module.go
  x/participation/module.go
Due: none

address some feedback
  testutil/sample/participation.go
  x/participation/module.go
  x/participation/simulation/simulation.go
  x/participation/simulation/store.go
Due: modules

cleanup
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_maximum_shares.go
  x/campaign/client/cli/query_maximum_shares_test.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_maximum_shares_test.go
Due: modules, client

format
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_mint_vouchers_test.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign_test.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

pull totalShares value from keeper
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_update_total_shares.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

previous rewards
  proto/campaign/campaign_summary.proto
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/types/campaign_summary.pb.go
Due: modules

fix query
  x/campaign/keeper/grpc_campaign_summary.go
Due: modules

set defaultWeightMsgWithdrawAllocations weight
  x/campaign/module_simulation.go
  x/launch/module_simulation.go
  x/participation/module_simulation.go
Due: none

rename
  proto/campaign/query.proto
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_maximum_shares_test.go
  x/campaign/client/cli/query_total_shares.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_total_shares.go
  x/campaign/keeper/grpc_total_shares_test.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_update_total_shares.go
  x/campaign/keeper/total_shares.go
  x/campaign/keeper/total_shares_test.go
  x/campaign/types/keys.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

add withdraw allocations sim
  x/participation/module_simulation.go
  x/participation/simulation/withdraw_allocations.go
  x/participation/simulation/withdraw_allocations_test.go
Due: modules

await other pr merge
  proto/campaign/campaign.proto
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules

Update x/participation/module_simulation.go
  x/participation/module_simulation.go
Due: none

feat(`campaign`): max shares query (#656)
  pkg/types/constant.go
  proto/campaign/query.proto
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_total_shares.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/keeper/grpc_total_shares.go
  x/campaign/keeper/grpc_total_shares_test.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_mint_vouchers_test.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/keeper/msg_update_total_shares.go
  x/campaign/keeper/total_shares.go
  x/campaign/keeper/total_shares_test.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/keys.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules, client

format
  x/campaign/keeper/msg_add_shares_test.go
  x/campaign/keeper/msg_add_vesting_options_test.go
Due: modules

imports
  x/campaign/types/shares.go
Due: modules

remove campaign sample usage
  x/campaign/module_simulation.go
Due: none

feat(`campaign`): add `CampaignSummary` and `CampaignSummaries` queries (#651)
  app/app.go
  proto/campaign/campaign_summary.proto
  proto/campaign/query.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/keeper.go
  x/campaign/types/campaign_summary.pb.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/launch/keeper/genesis_validator.go
  x/launch/keeper/request.go
Due: modules, client

address fb and format
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules, client

fix remaining sample functions
  testutil/sample/fundraising.go
  testutil/sample/participation.go
  x/campaign/module_simulation.go
Due: none

lower test blocks and size
  Makefile
Due: none

fix test error
  testutil/keeper/fundraising.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

add genesis state, validation, and test
  proto/campaign/genesis.proto
  testutil/sample/campaign.go
  x/campaign/genesis.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/genesis_test.go
Due: modules
