Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

Add provider module
  proto/monitoringp/genesis.proto
  proto/monitoringp/packet.proto
  proto/monitoringp/params.proto
  proto/monitoringp/query.proto
  proto/monitoringp/tx.proto
  testutil/keeper/monitoringp.go
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/query_params.go
  x/monitoringp/client/cli/tx.go
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/handler.go
  x/monitoringp/keeper/grpc_query.go
  x/monitoringp/keeper/grpc_query_params.go
  x/monitoringp/keeper/grpc_query_params_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/msg_server.go
  x/monitoringp/keeper/msg_server_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/module_simulation.go
  x/monitoringp/simulation/simap.go
  x/monitoringp/types/codec.go
  x/monitoringp/types/errors.go
  x/monitoringp/types/events_ibc.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
  x/monitoringp/types/genesis.pb.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/keys.go
  x/monitoringp/types/packet.pb.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/query.pb.go
  x/monitoringp/types/query.pb.gw.go
  x/monitoringp/types/tx.pb.go
  x/monitoringp/types/types.go
Due: modules

rename version
  x/monitoringc/types/keys.go
  x/monitoringp/types/keys.go
Due: none

renaming cli
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/tx.go
  x/monitoringc/types/keys.go
  x/monitoringp/client/cli/query.go
  x/monitoringp/client/cli/tx.go
  x/monitoringp/types/keys.go
Due: none

Add monitoring consumer test keeper
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/keeper/monitoringc.go
Due: none

refactor test keepers
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoringc.go
  x/campaign/keeper/msg_server_test.go
  x/campaign/simulation/simulation_test.go
  x/launch/keeper/msg_server_test.go
  x/launch/simulation/store_test.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_params_test.go
  x/monitoringc/keeper/msg_server_test.go
  x/monitoringc/keeper/params_test.go
Due: modules

Fix test keeper
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
Due: none

gomod
  go.mod
  go.sum
Due: none

app modification
  app/app.go
Due: none

add peer proto structure
  proto/launch/genesis_validator.proto
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/request_content.go
  x/launch/types/tx.pb.go
Due: modules

add validator peer into the CLI
  x/launch/client/cli/tx_request_add_validator.go
Due: none

add peer tunnel to CLI
  x/launch/client/cli/tx_request_add_validator.go
Due: none

fix the peer to object for the unit tests
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/request_content_test.go
Due: modules

fix unit tests for TestMsgRequestAddValidator_ValidateBasic test method
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
Due: modules

fix peer unit tests for TestGenesisValidator_Validate test method
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

fix unit test method TestNewGenesisValidator
  x/launch/types/request_content_test.go
Due: modules

create a peer helper and use gogoproto.nullable
  proto/launch/genesis_validator.proto
  proto/launch/tx.proto
  testutil/keeper/initializer.go
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
  x/launch/types/tx.pb.go
Due: modules

add peer helper
  x/launch/types/peer.go
  x/launch/types/peer_test.go
Due: modules

initialize message
  proto/monitoringc/tx.proto
  testutil/keeper/initializer.go
  x/monitoringc/client/cli/tx.go
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/handler.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/module_simulation.go
  x/monitoringc/simulation/create_client.go
  x/monitoringc/types/codec.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
  x/monitoringc/types/tx.pb.go
Due: modules

launch ID for message
  proto/monitoringc/tx.proto
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/tx.pb.go
Due: modules

Add ibc client keeper
  app/app.go
  testutil/keeper/initializer.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/types/expected_keepers.go
Due: modules

Consensus client state proto
  proto/monitoringc/tx.proto
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/tx.pb.go
Due: modules

Add verified client ID map
  proto/monitoringc/genesis.proto
  proto/monitoringc/verified_client_id.proto
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/verified_client_id.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/verified_client_id.pb.go
Due: modules

Add query for verified client IDs
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_verified_client_ids.go
  x/monitoringc/keeper/grpc_query_verified_client_ids.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

add consensus and client state to cli
  go.mod
  go.sum
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
Due: modules

Fix query
  go.mod
  go.sum
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/grpc_query_verified_client_ids.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/key_verified_client_id.go
Due: modules

Client state generation onchain
  proto/monitoringc/tx.proto
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/tx.pb.go
Due: modules

Initialize IBC type package
  pkg/ibctypes/consensus_state.go
Due: none

implement request-selection query
  go.mod
  go.sum
  proto/launch/query.proto
  testutil/keeper/initializer.go
  x/launch/client/cli/query.go
  x/launch/client/cli/query_request_selection.go
  x/launch/keeper/grpc_query_request_selection.go
  x/launch/keeper/grpc_query_request_selection_test.go
  x/launch/types/key_request.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
Due: modules, client

improve the peer validation and add the peer id arg
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/peer.go
  x/launch/types/peer_test.go
  x/launch/types/request_content.go
Due: modules

fix unassign peer variable
  x/launch/client/cli/tx_request_add_validator.go
Due: none

feat(launch): support proxied peers for genesis validator (#441)
  proto/launch/genesis_validator.proto
  proto/launch/tx.proto
  testutil/keeper/initializer.go
  testutil/sample/launch.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_validator_test.go
  x/launch/types/peer.go
  x/launch/types/peer_test.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
  x/launch/types/tx.pb.go
Due: modules

consensus state type
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/key_verified_client_id.go
  x/monitoringc/types/message_create_client.go
Due: modules

consensus state file parse
  pkg/ibctypes/consensus_state.go
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
Due: modules

Add chain ID to client state
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/types/expected_keepers.go
Due: modules

validator set utility methods
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
  x/monitoringc/keeper/msg_server_create_client.go
Due: modules

lint
  pkg/ibctypes/validator_set.go
  x/monitoringc/types/errors.go
Due: none

tests for validator set type
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
Due: none

add validator set field
  pkg/ibctypes/validator_set.go
  pkg/ibctypes/validator_set_test.go
  proto/monitoringc/tx.proto
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/tx.pb.go
Due: modules

add validator by consensus address structure
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/validator.proto
  x/profile/client/cli/query.go
  x/profile/client/cli/query_validator_by_cons_address.go
  x/profile/client/cli/query_validator_by_cons_address_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/grpc_query_validator_by_cons_address.go
  x/profile/keeper/grpc_query_validator_by_cons_address_test.go
  x/profile/keeper/validator_by_cons_address.go
  x/profile/keeper/validator_by_cons_address_test.go
  x/profile/simulation/simap.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
Due: modules, client
