Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

address feedbacks
  x/launch/types/errors.go
  x/launch/types/message_trigger_launch.go
  x/launch/types/message_trigger_launch_test.go
  x/launch/types/params.go
Due: modules

minor adjustment
  x/launch/types/errors.go
  x/launch/types/message_trigger_launch.go
Due: modules

fix launch param in config.yml
  config.yml
Due: none

feat(`launch`): allow association of campaign with chain (#543)
  app/app.go
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_edit_chain.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_edit_chain_test.go
  x/launch/module.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/types/errors.go
  x/launch/types/expected_keepers.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_edit_chain_test.go
  x/launch/types/tx.pb.go
Due: modules

Update x/launch/keeper/request_test.go
  x/launch/keeper/request_test.go
Due: modules

Apply suggestions from code review
  x/reward/client/cli/query_reward_pool.go
Due: client

fix(`launch`): add check for MsgSettleRequest simulation (#562)
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/launch/simulation/simulation.go
Due: modules

remove authkeeper
  x/reward/types/expected_keepers.go
Due: modules

add line in params.proto
  proto/reward/params.proto
Due: none

fix(localnet): add authz in genesis template (#563)
  localnet/genesis_template.json
Due: none

fix command string for show-reward-pool
  x/reward/client/cli/query_reward_pool.go
Due: client

utd
  app/simulation_test.go
Due: none

init
  app/simulation_test.go
Due: none

regen proto
  x/launch/types/tx.pb.go
Due: modules

format pass
  x/launch/keeper/request_test.go
  x/launch/types/errors.go
Due: modules

add new tests to makefile
  Makefile
Due: none

feat(`monitoring`): allow customization of `unbondingPeriod` and `revisionHeight` for verified IBC clients (#557)
  localnet/conf.yml
  pkg/types/constant.go
  pkg/types/metadata.go
  proto/monitoringc/tx.proto
  proto/monitoringp/params.proto
  x/monitoringc/client/cli/tx_create_client.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/message_create_client.go
  x/monitoringc/types/message_create_client_test.go
  x/monitoringc/types/tx.pb.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/params.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/genesis_test.go
  x/monitoringp/types/params.go
  x/monitoringp/types/params.pb.go
  x/monitoringp/types/params_test.go
Due: modules

ignore test generate report files
  .gitignore
Due: none

add new sim test and cleanup
  app/simulation_test.go
Due: none

fix simulation and format
  x/launch/keeper/request_test.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
Due: modules

update workflow
  .github/workflows/simulation.yml
Due: none

refactor(`reward`): clean up code (#560)
  proto/reward/params.proto
  x/launch/keeper/request_test.go
  x/reward/client/cli/query_reward_pool.go
  x/reward/client/cli/tx_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/keeper/reward_pool_test.go
  x/reward/simulation/simapp.go
  x/reward/types/expected_keepers.go
  x/reward/types/genesis.go
  x/reward/types/genesis_test.go
  x/reward/types/message_set_reward_test.go
  x/reward/types/reward_pool_test.go
  x/reward/types/types.go
Due: modules, client

fix import error
  x/launch/keeper/request_test.go
Due: modules

feat(`launch`): collapse `minLaunchTime` and `maxLaunchTime` params into atomic `LaunchTimeRange` (#561)
  config.yml
  localnet/genesis_template.json
  proto/launch/params.proto
  proto/launch/tx.proto
  testutil/sample/launch.go
  x/launch/client/cli/tx_trigger_launch.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/keeper/params.go
  x/launch/keeper/params_test.go
  x/launch/keeper/request_test.go
  x/launch/module_simulation.go
  x/launch/types/errors.go
  x/launch/types/genesis_test.go
  x/launch/types/message_trigger_launch.go
  x/launch/types/message_trigger_launch_test.go
  x/launch/types/params.go
  x/launch/types/params.pb.go
  x/launch/types/params_test.go
  x/launch/types/tx.pb.go
Due: modules

fix make help command
  Makefile
Due: none

ignore coverage files
  .gitignore
Due: none

add help descriptions for all targets
  Makefile
Due: none

skip block height 1 in begin-blocker
  x/monitoringp/module.go
Due: none

format
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/monitoringp/module.go
Due: modules

test: Simulation and Makefile enhancements (#565)
  .github/workflows/simulation.yml
  .gitignore
  Makefile
  app/simulation_test.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
Due: modules

add distrKeeper and fee deduction to campaign
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/msg_server_create_campaign.go
  x/campaign/module.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/params.go
Due: modules

move check and test
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/keeper/begin_block_test.go
  x/monitoringp/module.go
Due: modules

init
  proto/reward/reward_pool.proto
  testutil/sample/reward.go
  x/reward/keeper/msg_server_set_reward.go
  x/reward/keeper/msg_server_set_reward_test.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
  x/reward/types/errors.go
  x/reward/types/message_set_reward.go
  x/reward/types/reward_pool.go
  x/reward/types/reward_pool.pb.go
  x/reward/types/reward_pool_test.go
Due: modules

fix test
  x/reward/keeper/msg_server_set_reward_test.go
Due: modules

format
  x/monitoringc/keeper/msg_server_create_client_test.go
  x/reward/keeper/reward_distribution.go
Due: modules
