Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

refactor(`profile`): simplify events (#791)
  proto/profile/events.proto
  x/profile/keeper/msg_add_validator_operator_address.go
  x/profile/keeper/msg_create_coordinator.go
  x/profile/keeper/msg_disable_coordinator.go
  x/profile/keeper/msg_update_coordinator_address.go
  x/profile/keeper/msg_update_coordinator_description.go
  x/profile/keeper/msg_update_validator_description.go
  x/profile/types/events.pb.go
Due: modules

add default values
  config.yml
  localnet/genesis_template.json
Due: none

fix sim param change
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
Due: modules

add field
  testutil/sample/campaign.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/simulation/store_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
Due: modules

return
  x/campaign/types/shares.go
Due: modules

scaffold `claim` module
  app/app.go
  proto/claim/genesis.proto
  proto/claim/params.proto
  proto/claim/query.proto
  proto/claim/tx.proto
  testutil/keeper/claim.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/claim/client/cli/query.go
  x/claim/client/cli/query_params.go
  x/claim/client/cli/tx.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/handler.go
  x/claim/keeper/grpc_query.go
  x/claim/keeper/grpc_query_params.go
  x/claim/keeper/grpc_query_params_test.go
  x/claim/keeper/keeper.go
  x/claim/keeper/msg_server.go
  x/claim/keeper/msg_server_test.go
  x/claim/keeper/params.go
  x/claim/keeper/params_test.go
  x/claim/module.go
  x/claim/module_simulation.go
  x/claim/simulation/simap.go
  x/claim/types/codec.go
  x/claim/types/errors.go
  x/claim/types/expected_keepers.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
  x/claim/types/keys.go
  x/claim/types/params.go
  x/claim/types/params.pb.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
  x/claim/types/tx.pb.go
  x/claim/types/types.go
Due: modules

fix typo
  testutil/keeper/claim.go
Due: none

Update proto/campaign/campaign.proto
  proto/campaign/campaign.proto
Due: none

feat(`campaign`): add `createdAt` field (#796)
  proto/campaign/campaign.proto
  testutil/sample/campaign.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/simulation/store_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
Due: modules

feat(`campaign`): implement `MainnetAccountBalanceAll` and `MainnetAccountBalance` queries (#793)
  proto/campaign/mainnet_account.proto
  proto/campaign/query.proto
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/keeper/grpc_mainnet_account.go
  x/campaign/keeper/grpc_mainnet_account_test.go
  x/campaign/types/mainnet_account.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
Due: modules, client

Update x/claim/client/cli/query.go
  x/claim/client/cli/query.go
Due: none

Update x/claim/client/cli/tx.go
  x/claim/client/cli/tx.go
Due: none

address comments
  x/claim/client/cli/tx.go
  x/claim/keeper/grpc.go
  x/claim/keeper/grpc_params.go
  x/claim/keeper/grpc_params_test.go
  x/claim/keeper/msg.go
  x/claim/keeper/msg_test.go
  x/claim/types/types.go
Due: modules

fix tests
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/types/genesis_test.go
Due: modules, client

format and lint fix
  x/campaign/module_simulation.go
  x/campaign/types/shares_test.go
  x/mint/keeper/querier.go
  x/mint/module.go
Due: modules

format
  app/app.go
  testutil/keeper/claim.go
  x/campaign/types/shares_test.go
  x/claim/client/cli/query.go
  x/claim/client/cli/query_params.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/handler.go
  x/claim/keeper/grpc_params.go
  x/claim/keeper/grpc_params_test.go
  x/claim/keeper/keeper.go
  x/claim/keeper/msg_test.go
  x/claim/keeper/params.go
  x/claim/keeper/params_test.go
  x/claim/module.go
  x/claim/module_simulation.go
  x/claim/types/codec.go
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
Due: modules

fix invariant test
  x/campaign/keeper/invariants_test.go
Due: modules

feat(`claim`): scaffold `claim` module (#797)
  app/app.go
  proto/claim/genesis.proto
  proto/claim/params.proto
  proto/claim/query.proto
  proto/claim/tx.proto
  testutil/keeper/claim.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/claim/client/cli/query.go
  x/claim/client/cli/query_params.go
  x/claim/client/cli/tx.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/handler.go
  x/claim/keeper/grpc.go
  x/claim/keeper/grpc_params.go
  x/claim/keeper/grpc_params_test.go
  x/claim/keeper/keeper.go
  x/claim/keeper/msg.go
  x/claim/keeper/msg_test.go
  x/claim/keeper/params.go
  x/claim/keeper/params_test.go
  x/claim/module.go
  x/claim/module_simulation.go
  x/claim/simulation/simap.go
  x/claim/types/codec.go
  x/claim/types/errors.go
  x/claim/types/expected_keepers.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
  x/claim/types/keys.go
  x/claim/types/params.go
  x/claim/types/params.pb.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
  x/claim/types/tx.pb.go
Due: modules

fix simulation
  x/launch/simulation/simulation.go
Due: modules

feat(`campaign`): create special allocations type (#786)
  proto/campaign/campaign.proto
  proto/campaign/special_allocations.proto
  testutil/sample/campaign.go
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/keeper/invariants.go
  x/campaign/keeper/invariants_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis_test.go
  x/campaign/types/shares_test.go
  x/campaign/types/special_allocations.go
  x/campaign/types/special_allocations.pb.go
  x/campaign/types/special_allocations_test.go
  x/launch/simulation/simulation.go
Due: modules, client

ignite scaffold
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/handler.go
  x/campaign/keeper/msg_server_update_special_allocations.go
  x/campaign/types/codec.go
  x/campaign/types/message_update_special_allocations.go
  x/campaign/types/message_update_special_allocations_test.go
  x/campaign/types/tx.pb.go
Due: modules

add airdropSupply
  proto/claim/genesis.proto
  x/claim/types/genesis.pb.go
Due: modules

add special allocations field
  proto/campaign/events.proto
  proto/campaign/tx.proto
  x/campaign/client/cli/tx_update_special_allocations.go
  x/campaign/types/events.pb.go
  x/campaign/types/msg_update_special_allocations.go
  x/campaign/types/msg_update_special_allocations_test.go
  x/campaign/types/tx.pb.go
Due: modules

message type
  x/campaign/types/errors.go
  x/campaign/types/msg_update_special_allocations.go
  x/campaign/types/msg_update_special_allocations_test.go
Due: modules

message logic
  x/campaign/keeper/msg_server_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations.go
Due: modules

new types and proto
  proto/claim/genesis.proto
  proto/claim/query.proto
  vue/src/views/Types.vue
  x/claim/client/cli/query.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/keeper/keeper_test.go
  x/claim/module.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
  x/claim/types/keys.go
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
  x/claim/types/types_test.go
Due: modules

rename query variables
  proto/claim/query.proto
  x/claim/types/query.pb.go
  x/claim/types/query.pb.gw.go
Due: modules

new proto and go files
  proto/claim/claim_record.proto
  proto/claim/mission.proto
  x/claim/client/cli/query_airdrop_supply.go
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/client/cli/query_claim_record.go
  x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_mission.go
  x/claim/client/cli/query_mission_test.go
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/claim_record.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/grpc_query_airdrop_supply.go
  x/claim/keeper/grpc_query_airdrop_supply_test.go
  x/claim/keeper/grpc_query_claim_record.go
  x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/grpc_query_mission.go
  x/claim/keeper/grpc_query_mission_test.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
  x/claim/types/claim_record.pb.go
  x/claim/types/key_claim_record.go
  x/claim/types/mission.pb.go
Due: modules, client

add metadata to config
  config.yml
Due: none

update description
  config.yml
Due: none

make corresponding changes in tests
  x/claim/keeper/grpc_query_claim_record_test.go
  x/claim/keeper/grpc_query_mission_test.go
Due: modules

make airdropSupply non-nullable
  proto/claim/genesis.proto
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/genesis.go
  x/claim/genesis_test.go
  x/claim/types/genesis.go
  x/claim/types/genesis.pb.go
  x/claim/types/genesis_test.go
Due: modules, client

make airdropSupply non-nullable
  proto/claim/claim_record.proto
  proto/claim/mission.proto
  x/claim/types/genesis.go
Due: modules

finalize proto and tests
  proto/claim/claim_record.proto
  proto/claim/mission.proto
  x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_mission_test.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/mission_test.go
  x/claim/types/claim_record.pb.go
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
  x/claim/types/mission.pb.go
Due: modules, client

format
  x/campaign/types/special_allocations_test.go
  x/claim/client/cli/query_airdrop_supply.go
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/client/cli/query_claim_record.go
  x/claim/client/cli/query_mission.go
  x/claim/genesis_test.go
  x/claim/keeper/airdrop_supply.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/claim_record.go
  x/claim/keeper/claim_record_test.go
  x/claim/keeper/grpc_query_airdrop_supply.go
  x/claim/keeper/grpc_query_claim_record.go
  x/claim/keeper/grpc_query_mission.go
  x/claim/keeper/mission.go
  x/claim/keeper/mission_test.go
  x/claim/types/genesis.go
  x/claim/types/genesis_test.go
Due: modules, client

lint fix
  x/claim/module.go
  x/claim/types/genesis.go
Due: modules

imports
  x/campaign/types/special_allocations_test.go
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/genesis_test.go
  x/claim/keeper/airdrop_supply_test.go
  x/claim/keeper/claim_record_test.go
  x/claim/module.go
  x/claim/types/genesis_test.go
Due: modules, client

feat: denom metadata (#799)
  config.yml
Due: none

initialize tests=
  x/campaign/keeper/msg_update_special_allocations_test.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
