Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

imports
  testutil/sample/campaign.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis_test.go
Due: modules

remove time.Now()
  x/campaign/simulation/simulation.go
Due: modules

add new test and fmt
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/simulation/simulation.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/request_test.go
Due: modules, client

REMOVE MAP TRAVERSAL FROM SIM
  Makefile
  x/launch/simulation/simulation.go
Due: modules

shuffle:
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/simulation/simulation.go
  x/campaign/types/expected_keepers.go
  x/launch/simulation/simulation.go
Due: modules, client

test(`launch`): CheckAccount test (#663)
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/simulation/simulation.go
  x/campaign/types/expected_keepers.go
  x/launch/keeper/request_test.go
Due: modules, client

fix(`simulation`): remove non-deterministic sim behavior (#664)
  Makefile
  x/launch/simulation/simulation.go
Due: modules

check if auction is cancelled for `msgParticipate` and `msgWithdrawAllocations`
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

feat(participation): check if auction is cancelled in messages (#674)
  x/participation/keeper/msg_participate.go
  x/participation/keeper/msg_participate_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/participation/keeper/msg_withdraw_allocations_test.go
Due: modules

remove redundant test
  x/campaign/simulation/simulation_test.go
Due: modules

upgrade sdk and fix issues
  app/app.go
  go.mod
  go.sum
Due: none

refactor(`campaign`): remove dynamic shares (#654)
  go.mod
  proto/campaign/campaign.proto
  proto/campaign/genesis.proto
  proto/campaign/tx.proto
  testutil/sample/campaign.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_update_total_shares.go
  x/campaign/genesis.go
  x/campaign/handler.go
  x/campaign/keeper/invariants.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_shares_test.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_add_vesting_options_test.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_create_campaign_test.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_update_total_shares.go
  x/campaign/keeper/msg_update_total_shares_test.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/campaign.go
  x/campaign/types/campaign.pb.go
  x/campaign/types/campaign_test.go
  x/campaign/types/codec.go
  x/campaign/types/errors.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/genesis_test.go
  x/campaign/types/keys.go
  x/campaign/types/msg_update_total_shares.go
  x/campaign/types/msg_update_total_shares_test.go
  x/campaign/types/shares.go
  x/campaign/types/shares_test.go
  x/campaign/types/tx.pb.go
Due: modules, client

fix merge conflict
  x/participation/simulation/simulation.go
Due: modules

fix merge conflict
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
Due: modules

add store tests
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
Due: modules

fix test
  x/participation/simulation/store.go
Due: modules

change withdrawal delay
  config.yml
Due: none

initialize scripts
  scripts/test_fundraising/auction_template.json
  scripts/test_fundraising/fundraising.py
  scripts/test_fundraising/sale_template.json
Due: none

update gitignote
  .gitignore
  scripts/test_fundraising/sale.py
Due: none

update fundraising
  go.mod
  go.sum
  scripts/test_fundraising/sale.py
  testutil/keeper/fundraising.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/participation/keeper/msg_participate.go
Due: modules

fix from update
  app/app.go
  scripts/test_fundraising/sale.py
Due: none

fix script
  scripts/test_fundraising/sale.py
Due: none

fix: comma in localnet genesis
  localnet/genesis_template.json
Due: none

add total shares
  localnet/genesis_template.json
Due: none

fix(`localnet`): remove additional comma in `genesis_template.json` (#677)
  localnet/genesis_template.json
Due: none

add auction balances to sim genesis state
  app/sim_util/sim_util.go
  app/simulation_test.go
  x/participation/simulation/simulation.go
Due: modules

format
  app/app.go
Due: none

gaia -> spn
  app/app.go
Due: none

chore: bump cosmos-sdk to v0.45.1 (#675)
  app/app.go
  go.mod
  go.sum
Due: none

begin migration
  app/app.go
  go.mod
  go.sum
  pkg/types/consensus_state.go
  pkg/types/validator_set.go
  testutil/keeper/ibc_mock.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/sample/sample.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/keeper/monitoring_packet.go
  x/monitoringc/keeper/msg_create_client.go
  x/monitoringc/keeper/msg_create_client_test.go
  x/monitoringc/module.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringc/types/genesis.go
  x/monitoringp/keeper/begin_block.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/keeper/keeper.go
  x/monitoringp/keeper/monitoring_packet.go
  x/monitoringp/module.go
  x/monitoringp/module_ibc.go
  x/monitoringp/types/expected_keepers.go
  x/monitoringp/types/genesis.go
Due: modules

rename
  app/simulation_test.go
  app/simutil/app_state.go
  x/participation/simulation/simulation.go
Due: modules

refactor and test
  x/participation/simulation/simulation.go
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
Due: modules

finalize upgrade
  app/app.go
  testutil/keeper/ibc_mock.go
  x/monitoringc/types/expected_keepers.go
  x/monitoringp/types/expected_keepers.go
Due: modules

change case
  scripts/test_fundraising/sale.py
Due: none

feat(`participation`): simulate MsgParticipate (#646)
  app/app.go
  app/simulation_test.go
  app/simutil/app_state.go
  x/participation/module.go
  x/participation/module_simulation.go
  x/participation/simulation/participate.go
  x/participation/simulation/simulation.go
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
  x/participation/simulation/withdraw_allocations.go
Due: modules

finish sim for withdrawAllocations
  x/campaign/module_simulation.go
  x/launch/module_simulation.go
  x/participation/module_simulation.go
  x/participation/simulation/simulation.go
  x/participation/simulation/store.go
  x/participation/simulation/store_test.go
  x/participation/simulation/withdraw_allocations_test.go
Due: modules

edit test
  x/participation/simulation/store_test.go
Due: modules

create main
  scripts/test_fundraising/sale.py
  scripts/test_fundraising/utils.py
Due: none
