Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

Update x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

create file type
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/validator_set.go
Due: none

fix
  go.mod
  go.sum
  x/monitoringc/keeper/verified_client_id.go
Due: modules

fmt
  app/app.go
Due: none

Fix test
  x/monitoringp/genesis.go
  x/monitoringp/genesis_test.go
  x/monitoringp/keeper/consumer_client.go
Due: modules

ibc keeper default params
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/monitoringp/keeper/consumer_client.go
  x/monitoringp/keeper/consumer_client_id_test.go
  x/monitoringp/keeper/grpc_query_consumer_client_id_test.go
  x/monitoringp/keeper/grpc_query_params_test.go
  x/monitoringp/keeper/msg_server_test.go
  x/monitoringp/keeper/params_test.go
  x/monitoringp/types/errors.go
Due: modules

fix keepers
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  testutil/sample/sample.go
Due: none

Consumer client test
  x/monitoringp/keeper/consumer_client_test.go
Due: modules

lint
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/monitoringp/keeper/consumer_client_test.go
  x/monitoringp/types/errors.go
Due: modules

feat(profile): add `ConsensusKeyNonce` structure (#451)
  proto/profile/genesis.proto
  proto/profile/query.proto
  proto/profile/validator.proto
  x/launch/keeper/genesis_validator.go
  x/monitoringp/keeper/keeper.go
  x/profile/client/cli/query.go
  x/profile/client/cli/query_consensus_key_nonce.go
  x/profile/client/cli/query_consensus_key_nonce_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/keeper/consensus_key_nonce.go
  x/profile/keeper/consensus_key_nonce_test.go
  x/profile/keeper/grpc_query_consensus_key_nonce.go
  x/profile/keeper/grpc_query_consensus_key_nonce_test.go
  x/profile/simulation/simap.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
  x/profile/types/key_consensus_key_nonce.go
  x/profile/types/key_validator_by_cons_address.go
  x/profile/types/query.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/validator.pb.go
Due: modules, client

add msg logic
  x/profile/keeper/msg_server_set_validator_cons_address.go
Due: modules

specify not found error
  x/launch/keeper/grpc_query_request_selection.go
Due: modules

fix tests
  x/launch/keeper/grpc_query_request_selection_test.go
Due: modules

prepare conflicts
  pkg/ibctypes/consensus_state.go
  pkg/ibctypes/consensus_state_test.go
Due: none

lint
  pkg/ibctypes/consensus_state.go
  x/monitoringc/keeper/verified_client_id_test.go
Due: modules

fix genesis test
  x/monitoringp/genesis_test.go
Due: modules

fix genesis tests
  x/monitoringp/types/genesis_test.go
Due: modules

remove cli test
  x/monitoringp/client/cli/query_consumer_client_id_test.go
Due: client

set a mnemonic for steve for easier relayer usage
  config.yml
Due: none

chore(config): add chain-id (#374)
  app/app.go
  cmd/spnd/main.go
  config.yml
Due: none

scaffold provider client ID
  proto/monitoringc/genesis.proto
  proto/monitoringc/provider_client_id.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_provider_client_id.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_provider_client_id.go
  x/monitoringc/keeper/grpc_query_provider_client_id_test.go
  x/monitoringc/keeper/provider_client_id.go
  x/monitoringc/keeper/provider_client_id_test.go
  x/monitoringc/keeper/verified_client_id_test.go
  x/monitoringc/module.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/key_provider_client_id.go
  x/monitoringc/types/provider_client_id.pb.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

Add connection dep
  app/app.go
  testutil/keeper/initializer.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/types/expected_keepers.go
Due: modules

add check signature method
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/profile/keeper/keeper.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/errors.go
  x/profile/types/signature.go
Due: modules

add test cases (incomplete)
  x/monitoringc/keeper/verified_client_id_test.go
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/keeper/msg_server_set_validator_cons_address_test.go
  x/profile/types/errors.go
Due: modules

add test for the signature methods
  x/profile/keeper/msg_server_set_validator_cons_address.go
  x/profile/types/signature.go
  x/profile/types/signature_test.go
Due: modules

add comments
  x/profile/types/signature.go
Due: modules

initialize handshake file
  x/monitoringc/keeper/handshake.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/errors.go
Due: modules

add LaunchIDFromVerifiedClientID
  go.mod
  go.sum
  proto/monitoringc/genesis.proto
  proto/monitoringc/launch_id_from_verified_client_id.proto
  proto/monitoringc/query.proto
  x/monitoringc/client/cli/query.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id.go
  x/monitoringc/client/cli/query_launch_id_from_verified_client_id_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id.go
  x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/launch_id_from_verified_client_id.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
  x/monitoringc/types/key_launch_id_from_verified_client_id.go
  x/monitoringc/types/launch_id_from_verified_client_id.pb.go
  x/monitoringc/types/query.pb.go
  x/monitoringc/types/query.pb.gw.go
Due: modules, client

client ID verification
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/msg_server_create_client.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/errors.go
Due: modules

Client ID registration
  x/monitoringc/keeper/handshake.go
  x/monitoringc/module_ibc.go
  x/monitoringc/types/errors.go
Due: modules

Add critical error
  x/monitoringc/keeper/handshake.go
Due: modules

change ibc expected keeper
  app/app.go
  testutil/keeper/initializer.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/types/errors.go
  x/monitoringc/types/expected_keepers.go
Due: modules

lint
  config.yml
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/keeper.go
  x/monitoringc/types/expected_keepers.go
Due: modules

fix keeper tests
  x/monitoringc/keeper/grpc_query_launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/grpc_query_provider_client_id_test.go
  x/monitoringc/keeper/launch_id_from_verified_client_id_test.go
  x/monitoringc/keeper/provider_client_id_test.go
Due: modules

initialize channel mock
  testutil/keeper/channel_mock.go
  testutil/keeper/monitoring_provider.go
Due: none

add module account
  app/app.go
  go.mod
  go.sum
Due: none

simple config for auctions
  config.yml
Due: none

import
  app/app.go
Due: none

implement connection and channel mocks
  testutil/keeper/channel_mock.go
  testutil/keeper/ibc_mock.go
Due: none

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
