Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

imports
  testutil/keeper/keeper.go
  x/launch/keeper/msg_send_request.go
  x/launch/keeper/msg_send_request_test.go
Due: modules

chore: more dep bumps (#950)
  app/app.go
  go.mod
  go.sum
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/networksuite/networksuite.go
  x/campaign/keeper/msg_burn_vouchers.go
  x/campaign/keeper/msg_burn_vouchers_test.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_redeem_vouchers.go
  x/campaign/keeper/msg_redeem_vouchers_test.go
  x/campaign/keeper/msg_unredeem_vouchers.go
  x/campaign/keeper/msg_update_special_allocations.go
  x/campaign/keeper/msg_update_special_allocations_test.go
  x/campaign/keeper/msg_update_total_supply.go
  x/launch/keeper/msg_create_chain.go
  x/launch/keeper/msg_settle_request_test.go
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/keeper/msg_create_client.go
  x/monitoringc/keeper/msg_create_client_test.go
  x/participation/keeper/msg_withdraw_allocations.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_by_address_test.go
  x/profile/keeper/msg_disable_coordinator.go
  x/profile/keeper/msg_update_coordinator_address.go
  x/profile/keeper/msg_update_coordinator_description.go
  x/reward/keeper/msg_set_reward.go
  x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution_test.go
Due: modules

Update x/launch/keeper/msg_send_request.go
  x/launch/keeper/msg_send_request.go
Due: modules

fix merge
  x/launch/keeper/msg_send_request.go
Due: modules

remove duplciate test
  x/launch/keeper/msg_send_request_test.go
Due: modules

campaign
  proto/campaign/genesis.proto
  testutil/networksuite/networksuite.go
  testutil/sample/campaign.go
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/genesis.go
  x/campaign/genesis_test.go
  x/campaign/types/genesis.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/genesis_test.go
Due: modules, client

launch
  proto/launch/genesis.proto
  testutil/networksuite/networksuite.go
  testutil/sample/launch.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/genesis.go
  x/launch/genesis_test.go
  x/launch/simulation/simulation.go
  x/launch/types/genesis.go
  x/launch/types/genesis.pb.go
  x/launch/types/genesis_test.go
Due: modules, client

monitoringc
  proto/monitoringc/genesis.proto
  testutil/networksuite/networksuite.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
Due: modules, client

format
  proto/participation/genesis.proto
  proto/profile/genesis.proto
  testutil/networksuite/networksuite.go
  testutil/sample/profile.go
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis.pb.go
  x/profile/types/genesis_test.go
Due: modules, client

reward
  proto/reward/genesis.proto
  testutil/networksuite/networksuite.go
  x/reward/client/cli/query_reward_pool_test.go
  x/reward/genesis.go
  x/reward/genesis_test.go
  x/reward/types/genesis.go
  x/reward/types/genesis.pb.go
  x/reward/types/genesis_test.go
Due: modules, client

proto format
  proto/campaign/genesis.proto
  proto/launch/genesis.proto
  proto/monitoringc/genesis.proto
  proto/participation/genesis.proto
  proto/profile/genesis.proto
  proto/reward/genesis.proto
Due: none

feat(`launch`): request fee (#951)
  proto/launch/params.proto
  testutil/keeper/keeper.go
  testutil/sample/launch.go
  x/launch/keeper/msg_send_request.go
  x/launch/keeper/msg_send_request_test.go
  x/launch/keeper/params.go
  x/launch/types/genesis_test.go
  x/launch/types/params.go
  x/launch/types/params.pb.go
  x/launch/types/params_test.go
Due: modules

Update proto/profile/genesis.proto
  proto/profile/genesis.proto
Due: none

Update proto/monitoringc/genesis.proto
  proto/monitoringc/genesis.proto
Due: none

ignite chain build
  go.mod
  pkg/types/monitoring.pb.go
  x/campaign/types/events.pb.go
  x/campaign/types/mainnet_account.pb.go
  x/campaign/types/params.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/vesting.pb.go
  x/launch/types/chain.pb.go
  x/launch/types/events.pb.go
  x/launch/types/genesis_account.pb.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/params.pb.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
  x/launch/types/request.pb.go
  x/launch/types/tx.pb.go
  x/launch/types/vesting_account.pb.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/query.pb.gw.go
  x/monitoringp/types/query.pb.gw.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/events.pb.go
  x/participation/types/params.pb.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/used_allocations.pb.go
  x/profile/types/coordinator.pb.go
  x/profile/types/events.pb.go
  x/profile/types/genesis.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/tx.pb.go
  x/profile/types/validator.pb.go
  x/reward/types/query.pb.gw.go
Due: modules

rename
  testutil/networksuite/networksuite.go
  testutil/sample/profile.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/keeper/grpc_launch_id_from_channel_id.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis_test.go
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/genesis.go
  x/profile/genesis_test.go
  x/profile/types/genesis.go
  x/profile/types/genesis_test.go
Due: modules, client

remove target
  Makefile
Due: none

remove scripts
  scripts/protocgen.sh
  scripts/protocgen2.sh
Due: none

add proto
  proto/launch/request.proto
Due: none

typo fix
  x/launch/types/params.go
Due: modules

gen proto
  go.mod
  pkg/types/monitoring.pb.go
  x/campaign/types/events.pb.go
  x/campaign/types/mainnet_account.pb.go
  x/campaign/types/params.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/vesting.pb.go
  x/launch/types/chain.pb.go
  x/launch/types/events.pb.go
  x/launch/types/genesis_account.pb.go
  x/launch/types/genesis_validator.pb.go
  x/launch/types/params.pb.go
  x/launch/types/query.pb.go
  x/launch/types/query.pb.gw.go
  x/launch/types/request.pb.go
  x/launch/types/request_content.go
  x/launch/types/tx.pb.go
  x/launch/types/vesting_account.pb.go
  x/monitoringc/types/query.pb.gw.go
  x/monitoringp/types/query.pb.gw.go
  x/participation/types/auction_used_allocations.pb.go
  x/participation/types/events.pb.go
  x/participation/types/params.pb.go
  x/participation/types/query.pb.go
  x/participation/types/query.pb.gw.go
  x/participation/types/used_allocations.pb.go
  x/profile/types/coordinator.pb.go
  x/profile/types/events.pb.go
  x/profile/types/query.pb.gw.go
  x/profile/types/tx.pb.go
  x/profile/types/validator.pb.go
  x/reward/types/query.pb.gw.go
Due: modules

tx and validate
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_request_change_param.go
  x/launch/types/request_content.go
  x/launch/types/request_content_test.go
Due: modules

chore: create populate script
  scripts/populate.sh
Due: none

chore: remove protogen scripts (#955)
  Makefile
  scripts/protocgen.sh
  scripts/protocgen2.sh
Due: none

fix
  testutil/networksuite/networksuite.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/genesis.go
  x/monitoringc/genesis_test.go
  x/monitoringc/types/genesis.go
  x/monitoringc/types/genesis.pb.go
  x/monitoringc/types/genesis_test.go
Due: modules, client

keeper set funcs
  testutil/sample/launch.go
  x/launch/keeper/change_param.go
  x/launch/keeper/change_param_test.go
  x/launch/keeper/request.go
  x/launch/types/keys.go
Due: modules

add events
  proto/launch/events.proto
  x/launch/keeper/change_param.go
  x/launch/keeper/change_param_test.go
  x/launch/keeper/request.go
  x/launch/types/events.pb.go
Due: modules

sim
  testutil/sample/launch.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/types/expected_keepers.go
  x/participation/simulation/simulation.go
Due: modules

sim
  x/launch/keeper/invariants.go
Due: none

Update scripts/populate.sh
  scripts/populate.sh
Due: none

chore: initialize `populate.sh` script (#956)
  scripts/populate.sh
Due: none
