Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

.codecov.yml:

coverage:
  range: 70...100
  round: down
  precision: 2
  status:
    patch: off
    changes: false
    project:
      default:
        threshold: 1% # allow this much decrease on project
      modules:
        if_ci_failed: error
        target: 70%
        flags:
          - modules
      client:
        if_ci_failed: error
        target: 70%
        flags:
          - client

comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: false

flags:
  modules:
    carryforward: true
    paths:
      - "x/"
      - "!x/**/client/**/*"
  client:
    carryforward: true
    paths:
      - "x/**/client/**/*"

ignore:
  - "x/**/client/cli/query.go"
  - "x/**/client/cli/query_params.go"
  - "x/**/client/cli/tx.go"
  - "x/**/client/cli/tx_*.go"
  - "x/**/keeper/keeper.go"
  - "x/**/keeper/msg_server.go"
  - "x/**/keeper/grpc_query_params.go"
  - "x/**/keeper/invariants.go"
  - "x/**/types/codec.go"
  - "x/**/types/errors.go"
  - "x/**/types/keys.go"
  - "x/**/types/key_*.go"
  - "x/**/types/types.go"
  - "x/**/module.go"
  - "x/**/handler.go"
  - "x/**/module_simulation.go"
  - "*.proto"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.pb.go"
  - ".github/"
  - "app/"
  - "cmd/"
  - "docs/"
  - "pkg/errors/"
  - "proto/"
  - "scripts/"
  - "tests/"
  - "testutil/"
  - "dart/"
  - "vue/"

fix merge error
  go.mod
  go.sum
  x/monitoringc/keeper/monitoring_packet_test.go
Due: modules

change events
  proto/launch/events.proto
  x/launch/keeper/chain.go
  x/launch/keeper/msg_request_add_account.go
  x/launch/keeper/msg_request_add_validator.go
  x/launch/keeper/msg_request_add_vesting_account.go
  x/launch/keeper/msg_request_remove_account.go
  x/launch/keeper/msg_request_remove_validator.go
  x/launch/types/events.pb.go
Due: modules

fix request events
  go.mod
  go.sum
  x/launch/keeper/request.go
Due: modules

remove operation
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

chore: remove `SendVoucher` operation in simulation (#760)
  go.mod
  go.sum
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
Due: modules

add campaign id for remove validator
  go.mod
  go.sum
  proto/launch/events.proto
  x/launch/keeper/request.go
  x/launch/types/events.pb.go
Due: modules

go mod
  go.mod
  go.sum
Due: none

refactor(`launch`): update events format (#758)
  proto/launch/events.proto
  x/launch/keeper/chain.go
  x/launch/keeper/msg_request_add_account.go
  x/launch/keeper/msg_request_add_validator.go
  x/launch/keeper/msg_request_add_vesting_account.go
  x/launch/keeper/msg_request_remove_account.go
  x/launch/keeper/msg_request_remove_validator.go
  x/launch/keeper/request.go
  x/launch/types/events.pb.go
Due: modules

fix: campaign query urls
  proto/campaign/query.proto
Due: none

protobuf
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

add test for campaign summaries
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary_test.go
Due: modules, client

fix: campaign query urls (#764)
  proto/campaign/query.proto
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules

Update x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary.go
Due: modules

format fix
  x/campaign/keeper/grpc_campaign_summary.go
Due: modules

updage
  go.mod
  go.sum
Due: none

test(`campaign`): add tests for `CampaignSummary` (#766)
  x/campaign/client/cli/query_campaign_summary.go
  x/campaign/client/cli/query_campaign_summary_test.go
  x/campaign/keeper/grpc_campaign_summary.go
  x/campaign/keeper/grpc_campaign_summary_test.go
Due: modules, client

add `AuctionsOfCampaign` query to `campaign`
  app/app.go
  proto/campaign/query.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_auctions_by_campaign.go
  x/campaign/client/cli/query_auctions_by_campaign_test.go
  x/campaign/keeper/grpc_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign_test.go
  x/campaign/keeper/keeper.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

remove file
  x/campaign/client/cli/query_auctions_by_campaign_test.go
Due: client

minor text edit
  x/campaign/client/cli/query_auctions_by_campaign.go
Due: client

update events format
  proto/campaign/events.proto
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_burn_vouchers.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_edit_campaign.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_redeem_vouchers.go
  x/campaign/keeper/msg_unredeem_vouchers.go
  x/campaign/keeper/msg_update_total_supply.go
  x/campaign/types/events.pb.go
Due: modules

move event emission statement
  x/campaign/keeper/msg_redeem_vouchers.go
Due: modules

Update x/reward/keeper/reward_distribution.go
  x/reward/keeper/reward_distribution.go
Due: modules

fix constructor
  app/app.go
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
Due: none

store tests
  x/participation/simulation/store_test.go
Due: modules

remove operations
  x/participation/module_simulation.go
Due: none

feat(`campaign`): emit events (#750)
  proto/campaign/events.proto
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_burn_vouchers.go
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/keeper/msg_edit_campaign.go
  x/campaign/keeper/msg_initialize_mainnet.go
  x/campaign/keeper/msg_mint_vouchers.go
  x/campaign/keeper/msg_redeem_vouchers.go
  x/campaign/keeper/msg_unredeem_vouchers.go
  x/campaign/keeper/msg_update_total_supply.go
  x/campaign/types/events.pb.go
Due: modules

fix allowed bidder interface
  x/participation/keeper/msg_participate_test.go
Due: modules

add campaign existence check
  x/campaign/keeper/grpc_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign_test.go
Due: modules

refactor: upgrade `fundraising` to `0.3.0` (#771)
  app/app.go
  go.mod
  go.sum
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  x/participation/keeper/msg_participate_test.go
  x/participation/module_simulation.go
  x/participation/simulation/store_test.go
Due: modules

address comments
  proto/campaign/query.proto
  x/campaign/client/cli/query_auctions_by_campaign.go
Due: client

fix merge error
  testutil/keeper/initializer.go
Due: none

simplify
  proto/reward/events.proto
  x/reward/keeper/msg_set_reward.go
  x/reward/keeper/reward_distribution.go
  x/reward/types/events.pb.go
Due: modules

Update x/reward/keeper/msg_set_reward.go
  x/reward/keeper/msg_set_reward.go
Due: modules

update launch
  proto/launch/events.proto
  x/launch/keeper/chain.go
  x/launch/keeper/msg_edit_chain.go
  x/launch/keeper/msg_update_launch_information.go
  x/launch/types/events.pb.go
Due: modules

add campaign event for CampaignChain
  proto/campaign/events.proto
  x/campaign/keeper/campaign_chains.go
  x/campaign/types/events.pb.go
Due: modules

feat(`campaign`): add `AuctionsOfCampaign` query (#770)
  app/app.go
  proto/campaign/query.proto
  testutil/keeper/initializer.go
  testutil/keeper/keeper.go
  testutil/keeper/monitoring_provider.go
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign.go
  x/campaign/keeper/grpc_auctions_by_campaign_test.go
  x/campaign/keeper/keeper.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
Due: modules, client

bump
  go.mod
  go.sum
Due: none
