Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

update the simulation type case
  x/launch/module_simulation.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/message_revert_launch.go
  x/launch/types/message_settle_request.go
  x/launch/types/message_trigger_launch.go
Due: modules

remove unecessary errors
  x/launch/simulation/simulation.go
Due: modules

improve randoness
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
Due: modules

use msgType as snake case
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/message_revert_launch.go
  x/launch/types/message_settle_request.go
  x/launch/types/message_trigger_launch.go
Due: modules

use naked return for FindRandomChain
  x/launch/simulation/store.go
Due: modules

shuffle
  x/campaign/simulation/simulation_test.go
Due: modules

Change proto
  proto/campaign/tx.proto
  x/campaign/types/tx.pb.go
Due: modules

Modul;e
  x/campaign/client/cli/tx.go
  x/campaign/handler.go
  x/campaign/types/codec.go
Due: none

refactor: change the generic %v placeholder to type-specific (#357)
  pkg/chainid/chainid.go
  pkg/errors/critical_test.go
  x/campaign/keeper/campaign_chains.go
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_add_vesting_options.go
  x/campaign/keeper/msg_server_initialize_mainnet.go
  x/campaign/keeper/msg_server_mint_vouchers.go
  x/campaign/keeper/msg_server_update_campaign_name.go
  x/campaign/keeper/msg_server_update_total_shares.go
  x/campaign/keeper/msg_server_update_total_supply.go
  x/campaign/types/campaign.go
  x/campaign/types/genesis.go
  x/launch/keeper/chain.go
  x/launch/keeper/invariants.go
  x/launch/keeper/msg_server_edit_chain.go
  x/launch/keeper/msg_server_request_add_validator.go
  x/launch/keeper/msg_server_request_remove_validator.go
  x/launch/keeper/msg_server_revert_launch.go
  x/launch/keeper/msg_server_settle_request.go
  x/launch/keeper/msg_server_trigger_launch.go
  x/launch/keeper/request.go
  x/launch/types/genesis.go
Due: modules

test(simapp): simulation testing for `launch` messages (#345)
  .codecov.yml
  .github/workflows/simulation.yml
  config.yml
  testutil/sample/launch.go
  testutil/sample/profile.go
  x/launch/client/cli/query_request_test.go
  x/launch/keeper/invariants_test.go
  x/launch/keeper/keeper.go
  x/launch/keeper/msg_server_request_add_account_test.go
  x/launch/keeper/msg_server_request_add_vesting_account_test.go
  x/launch/keeper/msg_server_settle_request_test.go
  x/launch/keeper/msg_server_trigger_launch_test.go
  x/launch/keeper/request.go
  x/launch/keeper/request_test.go
  x/launch/module_simulation.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
  x/launch/types/message_request_add_account.go
  x/launch/types/message_request_add_validator.go
  x/launch/types/message_request_add_vesting_account.go
  x/launch/types/message_request_remove_account.go
  x/launch/types/message_request_remove_validator.go
  x/launch/types/message_revert_launch.go
  x/launch/types/message_settle_request.go
  x/launch/types/message_trigger_launch.go
  x/profile/keeper/coordinator_by_address.go
  x/profile/keeper/coordinator_test.go
  x/profile/keeper/invariants_test.go
  x/profile/module_simulation.go
Due: modules, client

Create simulation package
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
Due: modules

Add weight generate
  x/profile/module_simulation.go
Due: modules

improve validator tests
  x/profile/simulation/simulation.go
Due: modules

Simulation test for coordinator
  testutil/sample/simulation.go
  x/profile/simulation/simulation.go
  x/profile/simulation/simulation_test.go
Due: modules

Small changes
  testutil/sample/simulation.go
  x/launch/simulation/store_test.go
Due: modules

Lint
  testutil/sample/simulation.go
  x/profile/simulation/simulation_test.go
Due: modules

fix test
  x/profile/simulation/simulation_test.go
Due: modules

refactor(`campaign`): set correct order for messages (#364)
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/handler.go
  x/campaign/types/codec.go
  x/campaign/types/tx.pb.go
Due: modules

Fix arg
  x/profile/module_simulation.go
Due: modules

Add no mainnet search in launch simulation
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
Due: modules

Simplify genesis proto
  proto/campaign/genesis.proto
Due: none

CLI files
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_mainnet_account.go
  x/campaign/client/cli/query_mainnet_account_test.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_shares.go
  x/campaign/client/cli/tx_add_vesting_options.go
  x/campaign/client/cli/tx_burn_vouchers.go
  x/campaign/client/cli/tx_create_campaign.go
  x/campaign/client/cli/tx_initialize_mainnet.go
  x/campaign/client/cli/tx_mint_vouchers.go
  x/campaign/client/cli/tx_redeem_vouchers.go
  x/campaign/client/cli/tx_unredeem_vouchers.go
  x/campaign/client/cli/tx_update_campaign_name.go
Due: client

keeper
  x/campaign/keeper/campaign.go
  x/campaign/keeper/campaign_chains.go
  x/campaign/keeper/grpc_query_campaign_chains_test.go
  x/campaign/keeper/grpc_query_mainnet_account_test.go
  x/campaign/keeper/grpc_query_mainnet_vesting_account_test.go
  x/campaign/keeper/keeper.go
  x/campaign/keeper/mainnet_account_test.go
  x/campaign/keeper/mainnet_vesting_account_test.go
Due: modules

Types
  x/campaign/types/campaign_test.go
  x/campaign/types/genesis.go
  x/campaign/types/key_campaign_chains.go
  x/campaign/types/key_mainnet_account.go
  x/campaign/types/key_mainnet_vesting_account.go
  x/campaign/types/keys.go
Due: modules

launch
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
  x/launch/client/cli/tx.go
  x/launch/client/cli/tx_request_add_validator.go
  x/launch/client/cli/tx_request_add_vesting_account.go
  x/launch/client/cli/tx_revert_launch.go
  x/launch/client/cli/tx_trigger_launch.go
  x/launch/keeper/genesis_validator_test.go
  x/launch/keeper/grpc_query_genesis_validator_test.go
  x/launch/keeper/grpc_query_request_test.go
  x/launch/keeper/grpc_query_vesting_account_test.go
  x/launch/keeper/request_test.go
  x/launch/keeper/vesting_account_test.go
  x/launch/types/codec.go
  x/launch/types/genesis.go
  x/launch/types/key_chain.go
  x/launch/types/key_genesis_account.go
  x/launch/types/key_genesis_validator.go
  x/launch/types/key_request.go
  x/launch/types/key_vesting_account.go
Due: modules, client

Profile
  x/launch/client/cli/tx.go
  x/profile/client/cli/query.go
  x/profile/client/cli/query_validator_test.go
  x/profile/client/cli/tx.go
  x/profile/handler.go
  x/profile/keeper/grpc_query_validator_test.go
  x/profile/keeper/invariants.go
  x/profile/keeper/keeper.go
  x/profile/keeper/validator_test.go
  x/profile/types/codec.go
  x/profile/types/genesis.go
  x/profile/types/key_coordinator_by_address.go
  x/profile/types/key_validator.go
  x/profile/types/keys.go
Due: modules, client

lint
  x/campaign/keeper/keeper.go
  x/campaign/types/campaign_test.go
  x/campaign/types/keys.go
  x/launch/client/cli/tx.go
  x/launch/types/key_chain.go
  x/profile/client/cli/tx.go
  x/profile/types/keys.go
Due: modules

test(simapp): simulation tests for campaign (#350)
  app/app.go
  testutil/sample/campaign.go
  testutil/sample/sample.go
  testutil/sample/simulation.go
  x/campaign/keeper/msg_server_add_shares.go
  x/campaign/keeper/msg_server_burn_vouchers.go
  x/campaign/module.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
  x/campaign/simulation/simulation_test.go
  x/campaign/types/expected_keepers.go
  x/campaign/types/message_add_shares.go
  x/campaign/types/message_add_vesting_options.go
  x/campaign/types/message_burn_vouchers.go
  x/campaign/types/message_create_campaign.go
  x/campaign/types/message_initialize_mainnet.go
  x/campaign/types/message_mint_vouchers.go
  x/campaign/types/message_redeem_vouchers.go
  x/campaign/types/message_unredeem_vouchers.go
  x/campaign/types/message_update_total_shares.go
  x/campaign/types/message_update_total_supply.go
  x/campaign/types/shares.go
  x/campaign/types/voucher.go
  x/campaign/types/voucher_test.go
  x/launch/simulation/simulation.go
  x/launch/simulation/store.go
  x/launch/simulation/store_test.go
  x/profile/module_simulation.go
  x/profile/types/message_create_coordinator.go
  x/profile/types/message_delete_coordinator.go
  x/profile/types/message_delete_validator.go
  x/profile/types/message_update_coordinator_address.go
  x/profile/types/message_update_coordinator_description.go
  x/profile/types/message_update_validator_description.go
Due: modules

Modify flags
  app/simulation_test.go
Due: none

Change flag values
  app/simulation_test.go
Due: none

reset flag
  app/simulation_test.go
Due: none

Fix import
  x/launch/simulation/store_test.go
Due: modules

ci: fix release
  .github/workflows/release.yml
Due: none

refactor(`profile`): create `simulation` package (#365)
  x/launch/simulation/store_test.go
  x/profile/module_simulation.go
  x/profile/simulation/simulation.go
  x/profile/simulation/simulation_test.go
Due: modules

test(simapp): reduce block size
  app/simulation_test.go
Due: none

test(simapp): reduce block size (#372)
  app/simulation_test.go
Due: none

chore(config): add chain-id
  config.yml
Due: none

More explicit error
  pkg/chainid/chainid.go
Due: none

handle error
  x/campaign/types/message_initialize_mainnet.go
  x/launch/types/message_create_chain.go
  x/launch/types/message_edit_chain.go
Due: modules

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/invariants.go, x/**/module.go, x/**/handler.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
