Repository tendermint/spn: changes, and which Codecov flags are due for each by the changed paths.
All: modules, client

codec
  x/campaign/types/codec.go
Due: none

implement peer empty connection
  go.mod
  go.sum
  proto/launch/genesis_validator.proto
  x/launch/types/genesis_validator.pb.go
  x/launch/types/peer.go
  x/launch/types/peer_test.go
Due: modules

coordinator for chain creation
  go.mod
  go.sum
  proto/campaign/events.proto
  proto/launch/events.proto
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/types/events.pb.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/types/events.pb.go
Due: modules

refactor(`campaign`): set correct order with `MsgUpdateSpecialAllocations` (#820)
  proto/campaign/tx.proto
  x/campaign/handler.go
  x/campaign/types/codec.go
Due: none

feat(events): add coordinator address and ID for chain and campaign creation (#824)
  proto/campaign/events.proto
  proto/launch/events.proto
  x/campaign/keeper/msg_create_campaign.go
  x/campaign/types/events.pb.go
  x/launch/keeper/chain.go
  x/launch/keeper/chain_test.go
  x/launch/types/events.pb.go
Due: modules

fix: outdated proto build
  x/campaign/types/tx.pb.go
Due: modules

fix: outdated proto build (#826)
  x/campaign/types/tx.pb.go
Due: modules

feat(`campaign`): add simulation for `MsgUpdateSpecialAllocations` (#817)
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
Due: modules

rebase branch and resolve conflicts
  proto/campaign/tx.proto
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_vesting_options.go
  x/campaign/keeper/msg_add_vesting_options.go
  x/campaign/keeper/msg_add_vesting_options_test.go
  x/campaign/simulation/simulation.go
  x/campaign/types/codec.go
  x/campaign/types/msg_add_vesting_options.go
  x/campaign/types/msg_add_vesting_options_test.go
  x/campaign/types/tx.pb.go
Due: modules

remove msg from proto
  proto/campaign/tx.proto
Due: none

remove proto rpc
  proto/campaign/tx.proto
Due: none

remove from types
  go.mod
  go.sum
  x/campaign/types/codec.go
  x/campaign/types/msg_add_shares.go
  x/campaign/types/msg_add_shares_test.go
  x/campaign/types/tx.pb.go
Due: modules

remove from keeper and client
  x/campaign/client/cli/tx.go
  x/campaign/client/cli/tx_add_shares.go
  x/campaign/keeper/msg_add_shares.go
  x/campaign/keeper/msg_add_shares_test.go
Due: modules

remove remaining
  x/campaign/handler.go
  x/campaign/module_simulation.go
  x/campaign/simulation/simulation.go
Due: modules

refactor monitoringp
  x/monitoringp/keeper/handshake.go
  x/monitoringp/keeper/handshake_test.go
  x/monitoringp/module_ibc.go
Due: modules

refactor monitoringc
  x/monitoringc/keeper/handshake.go
  x/monitoringc/keeper/handshake_test.go
  x/monitoringc/module_ibc.go
  x/monitoringp/keeper/handshake_test.go
Due: modules

gomod
  go.mod
  go.sum
Due: none

clean up proto
  go.mod
  go.sum
  proto/campaign/events.proto
  proto/campaign/genesis.proto
  proto/campaign/query.proto
  proto/campaign/tx.proto
  proto/campaign/vesting.proto
  x/campaign/types/events.pb.go
  x/campaign/types/genesis.pb.go
  x/campaign/types/query.pb.go
  x/campaign/types/query.pb.gw.go
  x/campaign/types/tx.pb.go
  x/campaign/types/vesting.pb.go
Due: modules

cleanup types
  x/campaign/types/genesis.go
  x/campaign/types/mainnet_vesting_account.go
Due: modules

cleanup types
  testutil/sample/campaign.go
Due: none

cleanup testutil
  testutil/sample/campaign.go
Due: none

remaining removals
  go.mod
  go.sum
  x/campaign/client/cli/query.go
  x/campaign/client/cli/query_mainnet_vesting_account.go
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/genesis.go
  x/campaign/handler.go
  x/campaign/keeper/grpc_mainnet_vesting_account.go
  x/campaign/keeper/grpc_mainnet_vesting_account_test.go
  x/campaign/keeper/invariants.go
  x/campaign/keeper/mainnet_vesting_account.go
  x/campaign/keeper/mainnet_vesting_account_test.go
  x/campaign/module_simulation.go
Due: modules, client

chore(localnet): update hermes command for latest version
  localnet/run_incentivized.py
Due: none

chore(localnet): update hermes command for latest version (#831)
  localnet/run_incentivized.py
Due: none

Update proto/launch/genesis_validator.proto
  proto/launch/genesis_validator.proto
Due: none

feat: Implement peer empty connection (#822)
  proto/launch/genesis_validator.proto
  x/launch/types/genesis_validator.pb.go
  x/launch/types/peer.go
  x/launch/types/peer_test.go
Due: modules

feat(`launch`): automatically fetch mainnet account balances for query `GenesisAccounts` with mainnet (#805)
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/keeper/genesis_account_test.go
  x/launch/keeper/grpc_genesis_account.go
  x/launch/keeper/grpc_genesis_account_test.go
  x/launch/types/expected_keepers.go
Due: modules, client

initiliaze test suite
  testutil/networksuite/networksuite.go
  x/launch/client/cli/query_chain_test.go
  x/launch/client/cli/query_test.go
Due: client

launch tests
  x/launch/client/cli/query_genesis_account_test.go
  x/launch/client/cli/query_genesis_validator_test.go
  x/launch/client/cli/query_request_test.go
  x/launch/client/cli/query_vesting_account_test.go
Due: client

launch state
  testutil/networksuite/networksuite.go
Due: none

initialize query test suites
  x/campaign/client/cli/query_mainnet_vesting_account_test.go
  x/campaign/client/cli/query_test.go
  x/claim/client/cli/query_test.go
  x/monitoringc/client/cli/query_test.go
  x/participation/client/cli/query_test.go
  x/profile/client/cli/query_test.go
  x/reward/client/cli/query_test.go
Due: client

campaign tests
  testutil/networksuite/networksuite.go
  x/campaign/client/cli/query_campaign_chains_test.go
  x/campaign/client/cli/query_campaign_test.go
  x/campaign/client/cli/query_mainnet_account_test.go
Due: client

claim
  testutil/networksuite/networksuite.go
  x/claim/client/cli/query_airdrop_supply_test.go
  x/claim/client/cli/query_claim_record_test.go
  x/claim/client/cli/query_mission_test.go
Due: client

monitoringc
  testutil/networksuite/networksuite.go
  x/monitoringc/client/cli/query_launch_id_from_channel_id_test.go
  x/monitoringc/client/cli/query_monitoring_history_test.go
  x/monitoringc/client/cli/query_provider_client_id_test.go
  x/monitoringc/client/cli/query_verified_client_ids_test.go
Due: client

participation
  testutil/networksuite/networksuite.go
  x/participation/client/cli/query_auction_used_allocations_test.go
  x/participation/client/cli/query_available_allocations_test.go
  x/participation/client/cli/query_total_allocations_test.go
  x/participation/client/cli/query_used_allocations_test.go
Due: client

profile
  testutil/networksuite/networksuite.go
  x/profile/client/cli/query_coordinator_by_address_test.go
  x/profile/client/cli/query_coordinator_test.go
  x/profile/client/cli/query_validator_test.go
Due: client

reward
  testutil/networksuite/networksuite.go
  x/reward/client/cli/query_reward_pool_test.go
Due: client

Path conditions:
  modules: any of: x/, but not: x/**/client/**/*, x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
  client: any of: x/**/client/**/*, but not: x/**/client/cli/query.go, x/**/client/cli/query_params.go, x/**/client/cli/tx.go, x/**/client/cli/tx_*.go, x/**/keeper/keeper.go, x/**/keeper/msg_server.go, x/**/keeper/grpc_query_params.go, x/**/keeper/invariants.go, x/**/types/codec.go, x/**/types/errors.go, x/**/types/keys.go, x/**/types/key_*.go, x/**/types/types.go, x/**/module.go, x/**/handler.go, x/**/module_simulation.go, *.proto, *.md, *.yml, *.yaml, *.pb.go, .github/, app/, cmd/, docs/, pkg/errors/, proto/, scripts/, tests/, testutil/, dart/, vue/
